#{extends 'CRUD/layout.html' /}
#{set activeMenu:type.name/}
#{set title:messages.get('crud.blank.title', type.modelName) /}
*{<link rel="stylesheet" href="/public/stylesheets/crudBlank.css"/>}*
<div class="panel panel-default" xmlns:enctype="http://www.w3.org/1999/xhtml">
    <div class="panel-heading" style="padding: 2px 15px">
        <h4>&{'crud.blank.title', type.modelName}</h4>
    </div>


    <div class="panel-body" id="main-content">

        <form action="@{hospitalDiagnoseSave()}" role="form" method="post"
              accept-charset="utf-8" enctype="multipart/form-data">

            <div class="row">
                <div class="input-group col-md-7">
                    <div class="form-control">
                        <input type="text" class="form-control" id="searchDiagnose"
                               placeholder="Оношын нэрийг бичнэ үү.." value="">
                    </div>
                </div>
                <div class="input-group-append col-md-2">
                    <button class="btn btn-outline-secondary" type="button" onclick="list(1)">Хайх</button>
                </div>

                <div class="text-right col-md-3" style="margin-top: 8px; margin-bottom: 8px">
                    <input id="saveBtn" class="btn btn-success" type="submit" name="_save"
                           value="&{'crud.save', type.modelName}"/>
                </div>
            </div>

            <div id="listData"></div>
            <input name="selectedDiagnoses" id="selectedDiagnoses" type="hidden">
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {
        list(1);
    });

    function list(page) {
        var search = $('#searchDiagnose').val();
        $.ajax({
            type: "POST",
            data: {
                CurrentPageNumber: page,
                searchWord: search,
            },
            url: "/hospitalDiagnoseLoad",
            success: function (data) {
                $("div#listData").html(data);
            },
            beforeSend: function () {
                $("div#listData").html("<div style='width:100%; text-align: center'><img src='/public/images/ajax-horizontal.gif'/></div>");
            }
        });
    }

    $('div#main-content form').on('submit', function () {
        var saveBtn = $('div#main-content button#saveBtn');
        saveBtn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");
        saveBtn.attr("disabled", "disabled");
        var valid = false;

        var diagnoses = '';
        $('#chbId:checked').each(function () {
            diagnoses += $(this).val() + ",";
        });
//        $('tbody#diagnoseTable tr').each(function () {
//            console.log($(this).find('input[type=checkbox]').prop('checked').val());
//            diagnoses += $(this).find('input[type=checkbox]').prop('checked').val() + ",";
//        });

        $('input#selectedDiagnoses').val(diagnoses);
        valid = true;

        if (!valid) {
            saveBtn.find("img").remove();
            saveBtn.removeAttr("disabled");
        }
        return valid;
    });

</script>