<table class="table">
    <thead>
    <th></th>
    <th width="30px">#</th>
    <th>Онош</th>
    <th>Тайлбар</th>
    </thead>
    <tbody id="diagnoseTable">
    %{count=((CurrentPageNumber-1)*20)+1;}%
    #{list objects, as:'diagnose'}
    <tr>
        <td><input id="chbId" type="checkbox" value="${diagnose.id}"></td>
        <td>${count}</td>
        <td>${diagnose.name}</td>
        <td>${diagnose.enDescription}</td>
    </tr>
    %{count++;}%
    #{/list}
    </tbody>
</table>

#{if MaxPageNumber>1}
    #{include '/SharedView/pageNavigation.html'/}
<script>
    $(".page-navigation input.number-button").click(function () {
        var currentPageNumber = $(this).attr('pagenumber');
        if (currentPageNumber != ${CurrentPageNumber}) list(currentPageNumber);
    });
</script>
#{/if}