#{extends 'CRUD/layout.html' /}
#{set activeMenu:type.name/}
#{set title:messages.get('crud.list.title', type.name) /}
<link rel="stylesheet" href="/public/stylesheets/crudTable.css"/>
<div id="crudList" class="${type.name}">

    <div class="panel panel-default">
        <div id=tableTitle class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                #{crud.search inputClass:'form-control'/}
                </div>
                
                <div class="col-md-6" style="text-align: right"><a href="@{blank()}">
                    <button type="button" class="btn btn-primary">&{'crud.add', type.modelName}</button>
                </a></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="30px">#</th>
                        <th>Оношийн код</th>
                        <th>Тайлбар</th>
                    </tr>
                    </thead>
                    <tbody>
                    %{count=1;}%
                    #{list diagnoses, as:'diagnose'}
                    <tr>
                        <td>${count}</td>
                        <td>${diagnose.diagnose.name}</td>
                        <td>${diagnose.diagnose.enDescription}</td>
                    </tr>
                    %{count++}%
                    #{/list}
                    </tbody>
                </table>

                <div id="crudListPagination">
                #{crud.pagination /}
                </div>
            </div>
        </div>
    </div>
</div>
