
<style>

</style>
<form class="form" role="form" action="@{create(object?.id)}" id="edit_drug" method="post"  accept-charset="utf-8" enctype="multipart/form-data">
    <div class="form-group-sm row">
        <label for="registrationNumber" class="col-sm-3 req col-form-label title">Бүртгэлийн дугаар</label>

        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" name="registrationNumber" id="registrationNumber"
                   value="${object?.registrationNumber}">
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="internationalName" class="col-sm-3 col-form-label title">Олон улсын нэр</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" name="internationalName" id="internationalName"
                   value="${object?.internationalName}">
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="sellName" class="col-sm-3 req col-form-label title">Худалдааны нэр</label>

        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" name="sellName" id="sellName"
                   value="${object?.sellName}">
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="manufacturer" class="col-sm-3 col-form-label title req">Үйлдвэрлэгч</label>
        <div class="col-sm-9">
            <select name="manufacturer_id" id="manufacturer" class="form-control form-control-sm selectpicker" data-live-search="true"
                    title="Сонгох">
            #{list items:drugManufacturers,as:'manufacturer'}
                <option value="${manufacturer.id}" ${object?.manufacturer?.id==manufacturer.id?'selected':''}>${manufacturer}</option>
            #{/list}
            </select>
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="dose" class="col-sm-3 col-form-label title req">Тун</label>
        <div class="col-sm-9">
            <select name="dose_id" id="dose" class="form-control form-control-sm">
                <option value="0">Сонгох</option>
            #{list items:doses,as:'dose'}
                <option value="${dose.id}" ${object?.dose?.id==dose.id?'selected':''}>${dose}</option>
            #{/list}
            </select>
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="drugForm" class="col-sm-3 col-form-label title">Эмийн хэлбэр</label>
        <div class="col-sm-9">
            <select name="drugForm_id" id="drugForm" class="form-control form-control-sm">
                <option value="0">Сонгох</option>
            #{list items:drugForms,as:'drugForm'}
                <option value="${drugForm.id}" ${object?.drugForm?.id==drugForm.id?'selected':''}>${drugForm}</option>
            #{/list}
            </select>
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="withRecipe" class="col-sm-3 col-form-label title">Жороор олгох эсэх</label>
        <div class="col-sm-9">
            <input style="position:absolute;
                 top:0; bottom:0; left:15px; right:0;
                 margin:auto;" type="checkbox" name="withRecipe" id="withRecipe" class="form-control form-control-sm">
            </input>
        </div>
    </div>
    <div class="form-control-sm row">
        <label for="drugImage" class="col-sm-3 col-form-label req title">Зураг</label>
        <div class="col-sm-9" id="logo">
            <ul class="list-unstyled profile-nav col-md-3">
                <li>
                    <img style="cursor: pointer; width: 200px; height: 200px"
                         src="${object?.image}"
                         id="drug-image"/>
                </li>
                <div id="upload-button" class="btn btn-primary btn-sm">
                    <div>Зураг хуулах</div>
                </div>
            </ul>
        </div>
        <input type="hidden" id="object_image" name="object_image"
               value="${object?.image}"/>
    </div>
    <div class="form-group-sm row">
        <label for="validDate" class="col-sm-3 col-form-label req title">Хүчинтэй хугацаа</label>
        <div class="col-sm-3">
            <input id="validDate" name="validDate" class="form-control form-control-sm"
                   value="${object?.validDate?.format("dd-MM-yyyy")}"/>
        </div>
    </div>
    <div class="form-group-sm row">
        <label for="instruction" class="col-sm-3 col-form-label req title">Хэрэглэх заавар</label>
        <div class="col-sm-9">
            <input id="instruction" name="instruction" class="form-control form-control-sm"
                   value="${object?.instruction}"/>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker('refresh');
        $('#validDate').datetimepicker({
            lang: 'mn',
            format: "Y-m-d",
            timepicker: false
        });


        $('ul.uploadBox li button').on('click', function () {
            selectedUbox = $(this).closest("ul").attr('id');
            $("div#upload-button-multi input").prop("multiple", true).prop("accept", false).click();
        });
        var uploaderSingle = new qq.FineUploaderBasic({
            button: document.getElementById('upload-button'),
            debug: true,
            request: {
                params: {uploadPath: '/public/images/drugImages/', ratio: "600x600"},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: "@{'/public/plugins/fine-uploader/placeholders/waiting-generic.png'}",
                    notAvailablePath: "@{'/public/plugins/fine-uploader/placeholders/not_available-generic.png'}",
                }
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, xhr) {
                    console.log("responseJSON:" + JSON.stringify(responseJSON));
                    this.setDeleteFileParams({
                        fileDir: responseJSON.filedir + "." + responseJSON.extension
                    }, id);
                    $("input#object_image").val(responseJSON.filedir + "." + responseJSON.extension);
                    $("img#drug-image").attr('src', responseJSON.filedir + "." + responseJSON.extension);
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });



        $('form#edit_drug').submit(function (event) {
            if ($('input#registrationNumber').val().length < 1) {
                showErrorMessage("Улсын бүртгэлийн дугаар оруулна уу!");
                return false;
            } else if ($('input#internationalName').val().length < 1) {
                showErrorMessage("Олон улсын нэрийг бичнэ үү!");
                return false;
            } else if (($('input#sellName').val().length < 1)) {
                showErrorMessage("Худалдааны нэрийг бичнэ үү!");
                return false;
            } else if ($('select#manufacturer').val() == 0) {
                showErrorMessage("Үйлдвэрлэгч сонгоно уу!");
                return false;
            } else if ($('select#dose').val() == 0) {
                showErrorMessage("Эмийн тунг сонгоно уу!");
                return false;
            } else if ($('select#drugForm').val() == 0) {
                showErrorMessage("Эмийн хэлбэрийг сонгоно уу!");
                return false;
            }
            return true;
        });
    });
</script>