#{extends 'CRUD/layout.html' /}
#{alertMessages /}

<link rel="stylesheet" media="screen" href="@{'/public/plugins/fine-uploader/fine-uploader.css'}"/>

<script src="@{'/public/plugins/fine-uploader/fine-uploader.min.js'}" type="text/javascript"></script>

<link href="/public/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<script src="/public/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<style>
    .nav-item {
        min-width: 25%;
    }
    .wrapper {
        width: 100% ;
        padding-top: 20px;
        height: 100%;
    }

    .wrapper h1, .wrapper h4, .wrapper p, .wrapper pre, .wrapper ul, .wrapper li {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        background: transparent;
    }

    .wrapper h1 {
        vertical-align: middle;
        padding-bottom: 20px;
    }

    #v-nav {
        height: 100%;
        margin: auto;
        color: #000;
        font: 12px/18px sans-serif;
    }

    #v-nav > ul {
        float: left;
        display: block;
        position: relative;
        top: 0;
        border: 1px solid #DDD;
        border-right-width: 0;
        margin: auto 0 !important;
        padding: 0;
    }

    #v-nav > ul > li {
        width: 180px;
        list-style-type: none;
        display: block;
        text-shadow: 0px 1px 1px #F2F1F0;
        font-size: 1.11em;
        position: relative;
        border-right-width: 0;
        border-bottom: 1px solid #DDD;
        margin: auto;
        padding: 10px 15px !important;
        background: whiteSmoke; /* Old browsers */
    }

    #v-nav > ul > li.current {
        color: black;
        border-right: none;
        z-index: 10;
        background: #17a2b8 !important;
        position: relative;
    }

    #v-nav > div.tab-content {
        margin-left: 180px;
        border: 1px solid #ddd;
        background-color: #FFF;
        min-height: 400px;
        position: relative;
        z-index: 9;
        padding: 12px;
        display: none;
        padding: 25px;
    }

    div#profilePicture span img {
        float: left;
        text-align: center;
        cursor: pointer;
        background: white;
        height: 100px;
        width: 95px;
        margin: 0px 0 0 0px;
        border-radius: 3px;
    }

    .card-header {
        padding: 0 !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="drugStoreTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link btn" id="sell-tab" data-toggle="tab" href="#sell" role="tab"
                       aria-controls="sell" aria-selected="true" onclick="">Худалдаа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="ordered-drug-tab" data-toggle="tab" href="#ordered-drug" role="tab"
                       aria-controls="ordered-drug" aria-selected="false" onclick="">Захиалгат эм</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" id="warehouse-tab" data-toggle="tab" href="#warehouse" role="tab"
                       aria-controls="warehouse" aria-selected="false" onclick="">Агуулах</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn" id="drug-store-tab" data-toggle="tab" href="#drug-store" role="tab"
                       aria-controls="drug-store" aria-selected="false" onclick="">Эмийн сан</a>
                </li>
        </ul>
        <div class="tab-content" id="drugStoreTabContent">
            <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab"></div>
            <div class="tab-pane fade" id="ordered-drug" role="tabpanel" aria-labelledby="ordered-drug-tab"></div>
            <div class="tab-pane fade" id="warehouse" role="tabpanel" aria-labelledby="warehouse-tab"></div>
            <div class="tab-pane fade show active" id="drug-store" role="tabpanel" aria-labelledby="drug-store-tab">
                <section id="wrapper" class="wrapper">
                    <div id="v-nav">
                        <ul>
                            <li tab="" class="current">Эмийн бүртгэл</li>
                            <li tab="" class="">Админ бүртгэлийн сан</li>
                            <li tab="" class="">Архив</li>
                            <li tab="" class="" onclick="callDrugList()">Жагсаалт</li>
                        </ul>
                        <div class="tab-content" id="drug-blank" style="display:block;">
                        </div>
                        <div class="tab-content" style="display:none;">
                            list admin
                        </div>
                        <div class="tab-content" style="display:none;">
                            list archive
                        </div>
                        <div class="tab-content" id="drug-list" style="display:none;">
                            list
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        callDrugBlank();
        var items = $('#v-nav>ul>li').each(function () {
            $(this).click(function () {
                items.removeClass('current');
                $(this).addClass('current');
                $('#v-nav>div.tab-content').hide().eq(items.index($(this))).show();
                window.location.hash = $(this).attr('tab');
            });
        });
    });

    function callDrugBlank() {
        $.ajax({
            type: "POST",
            url: "/drugBlank",
            success: function (data) {
                $('div#drug-blank').html(data);
            }
        });
    }

    function callDrugList() {
        $.ajax({
            type: "POST",
            url: "/drugList",
            success: function (data) {
                $('div#drug-list').html(data);
            }
        });
    }
</script>