
#{set 'moreStyles'}
<style>
    .search-user {
        font-size: 20px;
        border-bottom: 1px solid #dadada;
        padding-bottom: 8px;
    }

    .member {
        margin-top: 0;
        margin-bottom: 20px;
        border: 1px solid #EBEBEB;
        padding: 15px;
        -moz-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        -webkit-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-right: 10px;
    }

    .member-entry img {
        max-width: 96px;
        max-height: 160px;
    }

</style>
#{/set}
<div class="panel panel-default">
    <div class="panel-body">
        <div id="status-row" class="row m-b-10">
            <div class="col-md-2">
                <select id="tickVal" class="selectpicker show-tick" title="Тэмдэглэсэн эсэх">
                    <option value="1">Тэмдэглэсэн</option>
                    <option value="2">Тэмдэглээгүй</option>
                    <option value="0">Бүгд</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="jobType" class="selectpicker show-tick" title="Ангилал">
                #{list items:jobTypes,as:'jobType'}
                    <option value="${jobType.id}">${jobType}</option>
                #{/list}
                    <option value="0">Бүгд</option>
                </select>
            </div>
            <div class="col-md-2">
                <select id="salary" class="selectpicker show-tick" title="Цалин">
                #{list items:salaries,as:'salary'}
                    <option value="${salary.id}">${salary}</option>
                #{/list}
                    <option value="0">Бүгд</option>
                </select>
            </div>
            <div class="col-md-2 text-left">
                <input type="text" id="dateInterval" class="form-control" style="width: 160px;font-size:11px;display: inline">
                <button type="button" onclick="list(1)" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div id="listData" class="row"> </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input#userName').keyup(function (event) {
            if (event.keyCode === 13) {
                list(1);
            }
        });
        list(1);
    });

    function list(page) {
        var st = $('div#status-row');
        $.ajax({
            type: "POST",
            data: {
                CurrentPageNumber: page,
                userName: st.find("#userName").val(),
                hospital: st.find("#hospital").val(),
                userRole: st.find('#userRole').val(),
                isActive: st.find('#isActive').is(':checked'),
                nonActive: st.find('#nonActive').is(':checked')
            },
            url: "/drugListLoad",
            success: function (data) {
                $("div#listData").html(data);
            },
            beforeSend: function () {
                $("div#listData").html("<div style='width:100%; text-align: center'><img src='/public/images/ajax-horizontal.gif'/></div>");
            }
        });
    }
</script>