<table class="table table-striped">
    <thead class="thead-dark">
    <th>#</th>
    <th scope="col" width="10%">Бүртгэлийн дугаар</th>
    <th scope="col" width="15%">Худалдааны нэр</th>
    <th scope="col" width="15%">Олон улсын нэр</th>
    <th scope="col" width="10%">Тун хэмжээ</th>
    <th scope="col" width="10%">Эмийн хэлбэр</th>
    <th scope="col" width="5%">Олгох нөхцөл</th>
    <th scope="col" width="15%">Үйлдвэрлэгч</th>
    <th scope="col" width="10%">Улс</th>
    <th scope="col" width="10%">Хүчинтэй хугацаа</th>
    </thead>
    <tbody>
    #{list drugs, as:'drug'}
    <tr>
        <td>1</td>
        <td>${drug.registrationNumber}</td>
        <td><a href="@{controllers.Drugs.show(drug.id)}">${drug.sellName}</a></td>
        <td>${drug.internationalName}</td>
        <td>${drug.dose}</td>
        <td>${drug.drugForm}</td>
        <td>${drug.withRecipe?'жороор':'жоргүй'}</td>
        <td>${drug.manufacturer}</td>
        <td>${drug.manufacturer.country}</td>
        <td class="${drug.valid?'blue':'red'}">${drug.validDate.format('dd-MM-yyyy')}</td>
    </tr>
    #{/list}
    </tbody>
</table>