#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">
    <h2 class="text-center">Эм үйлдвэрлэгч нэмэх</h2>
    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        <div class="form-group row" style="margin-top: 10px;">
            <label for="name" class="col-sm-4 col-form-label req title">
                Нэр
            </label>
            <div class="col-6">
                <input name="object.name" class="form-control-sm form-control">
            </div>
        </div>
        <div class="form-group row" style="margin-top: 10px;">
            <label for="country" class="col-sm-4 col-form-label req title">
                Улс
            </label>
            <div class="col-6">
                <input name="object.country" class="form-control-sm form-control">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            <button type="submit" class="btn btn-success" name="_saveAndAddAnother">Хадгалаад шинийг нэмэх</button>
        </div>
    #{/form}
    </div>
</div>