<form id="bedTreatmentInspectionBlank">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8"><input class="datetimepicker" id="date" value="${object.date.format('yyyy-MM-dd HH:mm')}"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8"><textarea class="" id="inspection_note" value="${object.note}"/></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8"><textarea class="form-control" id="instruction" value="${object.instruction}"/></div>
    </div>
    <button type="submit">Хадгалах</button>
</form>
<script>
    $("form#bedTreatmentInspectionBlank").on('submit', function () {
        $.ajax({
            type: "POST",
            url: "",
            data: {},
            success: function (data) {
                showSuccessMessage("Хадгалагдлаа");
            }
        });
        return false;
    });
</script>