#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
    #{alertMessages /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}

    <h3 style="margin-bottom: 10px;" class="text-center">Зовиур нэмэх</h3>

    <form action="@{create}" class="form-horizontal" role="form" id="form_complaint" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <div class="row" style="margin-top: 10px">
            <label for="name" class="col-sm-4 col-form-label req title">Зовиур</label>
            <div class="col-6">
                <input name="object.name" id="name" class="form-control-lg form-control">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Хадгалах</button>
        </div>
    </form>


<script>
    $(document).ready(function (){
        $('form#form_complaint').submit(function (event) {
            if ($('input#name').val().length < 1) {
                showErrorMessage("Зовиураа оруулна уу!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>