#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
    #{alertMessages /}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
    #{form action:@save(object.id), enctype:'multipart/form-data', id: 'form_complaint'}
        <div class="row form-group">
            <label for="name" class="col-sm-4 col-form-label req title">Зовиур</label>
            <div class="col-sm-6">
                <input name="object.name" id="name" class="form-control form-control-lg" value="${object.name}">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
        </div>
    #{/form}
    </div>

#{form @delete(object.id)}
    <div class="crudDelete">
        <input type="submit" style="display: block; margin-right: 0 !important; margin-left: auto !important;" value="Устгах" />
    </div>
#{/form}

</div>

<script>
    $(document).ready(function (){
        $('form#form_complaint').submit(function (event) {
            if ($('input#name').val().length < 1) {
                showErrorMessage("Зовиураа оруулна уу!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>