
<div class="modal-header">
    <h5 class="modal-title">Эмчлүүлэгчийн биеийн байдлыг үнэлэх хуудас-${bt}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="form-horizontal" role="form" id="nurseExamination" method="post"
       accept-charset="utf-8" enctype="multipart/form-data">
    <div class="modal-body">
        <table class="table table-bordered table-sm myTable" id="nurseExaminationTable">
            <thead>
            <tr>
                <th colspan="2" width="8%">Ангилал</th>
                <th colspan="3" width="60%">
                    <div class="row"> <div class="col-sm-4">Огноо цаг</div>
                        <div class="col-sm-8">
                        #{if nurseExaminations.size()>0}
                        <select id="neId" bt_id="${bt.id}">
                            <option value="0">шинээр үүсгэх</option>
                            #{list nurseExaminations, as:'ne'}
                                <option value="${ne.id}">${ne.date?ne.date.format("yyyy/MM/dd hh:mm"):'null'}</option>
                            #{/list}
                        </select>#{/if}</div>
                    </div>
                </th>
                <th>
                    <input id="date" class="form-control-sm datetimepicker">
                </th>
            </tr>
            </thead>
            <tbody id="neTableBody">
            <tr>
                <td class="vrt" rowspan="116">Өдөр тутмын үнэлгээ</td>
            #{list parents, as:'parent'}
            #{if parent_index!=1}<tr>#{/if}
                <td class="vrt" rowspan="${parent.childCount()}">${parent}</td>
                #{list parent.subTypes, as:'subType'}
                #{if subType_index!=1}<tr>#{/if}
                    <td rowspan="${subType.childCount()}">${subType}</td>
                #{list subType.subTypes, as:'subSubType'}
                    #{if subSubType_index != 1}<tr>#{/if}
                    <td rowspan="${subSubType.childCount()}" colspan="${subSubType.childCount()==1?'2':'1'}">${subSubType}</td>
                    #{list subSubType.subTypes, as:'child'}
                        #{if child_index != 1}<tr>#{/if}
                        <td>${child}</td>
                        <td>
                            <select class="" qid="${child.id}">
                                <option value="0">сонгоогүй</option>
                                <option value="${answer.id}">${answer}</option>
                                #{list answers[parent.value-1], as:'neAnswer'}
                                    <option value="${neAnswer.id}">${neAnswer}</option>
                                #{/list}
                            </select>
                        </td>
                    </tr>
                    #{/list}
                #{if subSubType.childCount()==1}
                    <td>
                        <select class="" qid="${subSubType.id}">
                            <option value="0">сонгоогүй</option>
                            <option value="${answer.id}">${answer}</option>
                            #{list answers[parent.value-1], as:'neAnswer'}
                                <option value="${neAnswer.id}">${neAnswer}</option>
                            #{/list}
                        </select>
                    </td>
                #{/if}
                #{/list}
                #{/list}
                #{/list}
            </tbody>
        </table>
    </div>
    <div class="modal-footer" id="footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
        <button type="submit" class="btn btn-primary">Хадгалах</button>
    </div>
</form>

<style type="text/css">
    tbody td.vrt  {
        writing-mode: sideways-lr;
        min-width: 50px; /* for firefox */
    }
    table#nurseExaminationTable tr{
        height: 6px !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
        select {
            height:20px;
            line-height:20px;
            width: 100%;
            background:#f4f4f4;
        }
    }
    select::-moz-focus-inner { /*Remove button padding in FF*/
        width:100%;
        border: 0;
        padding: 0;
    }
    @-moz-document url-prefix() { /* targets Firefox only */
        select {
            padding: 0px 0!important;
            width:100%;
        }
    }
    @media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
        select {
            height:30px;
            line-height:30px;
        }
    }
</style>
<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            autoClose:true
        });
    });

    $("form#nurseExamination").on("submit", function () {
        var id = "";
        var bt_id = $('select#neId').attr('bt_id');
        console.log(bt_id);
        if (${nurseExaminations.size()>0}) id = $("select#neId").val();
        var date = $("input#date").val();
        var questions= [], answers = [];
        $("tbody#neTableBody select").each(function (element) {
            if ($(this).val()!=0) {
                questions.push($(this).attr("qid"));
                answers.push($(this).val());
            }
        });
        $.ajax({
            type: "POST",
            url: "/nurseExaminationCreate",
            data: {
                id: id,
                bt_id: bt_id,
                date: date,
                questions: questions,
                answers: answers
            },
            success: function (data) {
                showSuccessMessage("saved");
            },
            error: function () {
                return false;
            }
        });
        return false;
    });

    $('select#neId').on('change', function () {
        if ($(this).val() != 0 ) {
            $.ajax({
                type: "POST",
                url: "/nurseExaminationShow",
                data: {
                    id: $(this).val()
                },
                success: function (data) {
                    $('tbody#neTableBody').html(data);
                }
            });
        } else {
            console.log("resetting");
            $('tbody#neTableBody select').each(function () {
                $(this).prop('selectedIndex',0);
            });
            $('input#date').val('');
        }
    })
</script>