<tr>
    <td class="vrt" rowspan="116">Өдөр тутмын үнэлгээ</td>
#{list parents, as:'parent'}
    #{if parent_index!=1}<tr>#{/if}
    <td class="vrt" rowspan="${parent.childCount()}">${parent}</td>
    #{list parent.subTypes, as:'subType'}
        #{if subType_index!=1}<tr>#{/if}
        <td rowspan="${subType.childCount()}">${subType}</td>
        #{list subType.subTypes, as:'subSubType'}
            #{if subSubType_index != 1}<tr>#{/if}
            <td rowspan="${subSubType.childCount()}" colspan="${subSubType.childCount()==1?'2':'1'}">${subSubType}</td>
            #{list subSubType.subTypes, as:'child'}
                #{if child_index != 1}<tr>#{/if}
                <td>${child}</td>
                <td>
                    <select class="" qid="${child.id}">
                        <option value="0" >сонгоогүй</option>
                        <option value="${answer.id}" ${object.selected(child.id, answer.id)?'selected':''}>${answer}</option>
                        #{list answers[parent.value-1], as:'neAnswer'}
                            <option value="${neAnswer.id}" ${object.selected(child.id, neAnswer.id)?'selected':''}>${neAnswer}</option>
                        #{/list}
                    </select>
                </td>
            </tr>
            #{/list}
            #{if subSubType.childCount()==1}
            <td>
                <select class="" qid="${subSubType.id}">
                    <option value="0">сонгоогүй</option>
                    <option value="${answer.id}" ${object.selected(subSubType.id, answer.id)?'selected':''}>${answer}</option>
                    #{list answers[parent.value-1], as:'neAnswer'}
                        <option value="${neAnswer.id}" ${object.selected(subSubType.id, neAnswer.id)?'selected':''}>${neAnswer}</option>
                    #{/list}
                </select>
            </td>
            #{/if}
        #{/list}
    #{/list}
#{/list}

<script>
    $(document).ready(function () {
        $('th input#date').val('${object.date?object.date.format("yyyy/MM/dd HH:mm"):' '}');
    });
</script>