div#loadingImg {
    width: 100%;
    text-align: center;
}

.dhidden {
    display: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.req:after {
    content: " *";
    color: #D9534F;
}

.req2:after {
    content: " *";
    color: orange;
}

.title {
    color: #8F8F8F !important;
    text-align: right;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-r-10 {
    padding-right: 10px;
}

.c-gray-light {
    color: #dadada !important;
}

.btn-icon-sm {
    height: 25px;
    width: 25px;
    padding: 0px 0px !important;
    margin-left: 1px;
}