table.mytable th{
    vertical-align: middle!important;
    line-height: 14px!important;
    border: 1px solid #ddd!important;
    padding: 2px 4px;
    text-align: center;
}
table.mytable td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 2px 4px;
}