
    @page {
        width: 8cm;
        height: auto;
        margin: 0;
        color: #d3d3d3;
    }
    .center {
        margin: auto;
        width: 50%;
    }
    #printTable {
        margin-bottom: 10px;
    }