#{extends 'CRUD/layout.html' /}
#{set activeMenu:'UserManage'/}
#{set activeMenuSub: 'edit'/}
#{alertMessages /}
#{set 'moreStyles'}
    #{alertMessages /}
#{/set}
<h3 style="margin-bottom: 10px;" class="text-center">${hospital} : тасаг нэмэх</h3>

<form action="@{create(hospital?.id)}" class="form-horizontal" role="form" id="settings" method="post"
      accept-charset="utf-8" enctype="multipart/form-data">

    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label req title">Тасгийн нэр</label>
        <div class="col-sm-8">
            <input type="text" name="object.name" class="form-control" id="name" value="${object?.name}">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
        <button type="submit" class="btn btn-primary" name="_saveAndAddAnother">Хадгалаад шинийг үүсгэх</button>
    </div>
</form>