<div class="modal-header">
    <h5 class="modal-title">Эмч нар</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <div class="col col-8">
        <select id="doctors" class="form-control selectpicker" data-live-search="true" multiple
                title="Сонгох">

        #{list items:doctors,as:'doctor'}
            <option value="${doctor.id}" ${object?.checkDoctor(doctor.id)?'selected':''}>${doctor}</option>
        #{/list}
        </select>
        </div>
    </div>
</div>
<input type="hidden" id="doctor_list">
<div class="modal-footer" id="footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
    <button type="button" class="btn btn-primary" onclick="confirmDoctors()">Хадгалах</button>
</div>
<script>
    $(document).ready(function () {
        $("select#doctors").selectpicker('refresh');
    });
    function confirmDoctors() {
        $('input#doctor_list').val($('select#doctors').val() + ",");
        $.ajax({
            type: "POST",
            data: {
                id: ${object.id},
                doctorsList: $('input#doctor_list').val(),
            },
            url: "/sectorAddDoctors",
            success: function (data) {
                if (data == "success")
                    showSuccessMessage("Амжилттай хадгалагдлаа");
                $('#doctorSettings').modal('toggle');
            }
        });
    }
</script>