#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set activeClass:4/}
#{alertMessages /}
<div class="room-list">
    <div class="row">
        <a href="@{blank(hospital.id)}" style="display: block !important; margin-left: auto !important; margin-right: 0 !important;"
           class="btn btn-success btn-small">Тасаг нэмэх</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th width="30px">#</th>
                <th>Тасаг</th>
                <th>Эмчийн тоо</th>
            </tr>
            </thead>
            <tbody>
            %{count=1;}%
            #{list items:sectors,as:'sector'}
            <tr>
                <td>${count}</td>
                <td><a href="@{controllers.Sectors.show(sector.id)}">${sector}</a></td>
                <td>
                    ${sector.sectorUserRels.size()} <a onclick="doctorsSetting(${sector.id})"><i class="fa fa-cog"></i> </a>
                </td>
            </tr>
            %{count++}%
            #{/list}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="doctorSettings" tabindex="-1" role="dialog" aria-labelledby="doctorSettingsModelLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="doctor">

        </div>
    </div>
</div>

<script>
    function doctorsSetting(id) {
        $('#doctorSettings').modal('toggle');
        $.ajax({
            type: "POST",
            data: {id: id},
            url: "/sectorDoctors",
            success: function (data) {
                $('div#doctor').html(data);
            }
        });
    }
</script>