#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
        <form action="@{save(hospital?.id)}" class="form-horizontal" role="form" id="settings" method="post"
              accept-charset="utf-8" enctype="multipart/form-data">

            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label req title">Тасгийн нэр</label>
                <div class="col-sm-8">
                    <input type="text" name="object.name" class="form-control" id="name" value="${object?.name}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success" name="_save">Хадгалах</button>
            </div>
        </form>
    </div>

*{#{form @delete(object._key())}}*
    *{<p class="crudDelete">}*
        *{<input type="submit" value="Тасаг устгах" />}*
    *{</p>}*
*{#{/form}}*
</div>