#{list items:objects,as:'object'}
<div class="col-md-12 member-entry">
    <div class="row member">
        <div class="col-md-3">
            <img src="${object.profilePicture}" class="pull-left img-responsive">
        </div>
        <a href="@{Users.show(object.id)}" style="position: absolute;top: -9px;right: 10px;"
           class='btn edit btn-default btn-icon-sm btn-rounded' data-rel='tooltip'
           title='Засах'><i
                class='fas fa-user-edit'></i></a>
        <div class="col-md-9">
            <h4 class="m-t-0 member-name"><strong>${object}</strong></h4>

            <div class="pull-left">
                <p>
                    <i class="fa fa-phone c-gray-light p-r-10"></i> ${object.phone1}#{if object.phone2!=null && object.phone2.length()>0}
                    , ${object.phone2}#{/if}</p>

                <p><i class="fa fa-envelope-o c-gray-light p-r-10"></i> ${object.email}</p>
            </div>
            <div class="pull-right align-right">
                <p><i class="fa fa-home c-gray-light p-r-10"></i> ${object.hospital}</p>

                <p><i class="fa fa-circle-o c-gray-light p-r-10"></i> ${object.userRole}
                </p>
            </div>
        </div>
    </div>
</div>
#{/list}
<script>
    $("#main-content #countUser").html("${totalSize}");
</script>
#{if MaxPageNumber>1}
    #{include '/SharedView/pageNavigation.html'/}
<script>
    $(".page-navigation input.number-button").click(function () {
        var currentPageNumber = $(this).attr('pagenumber');
        if (currentPageNumber != ${CurrentPageNumber}) list(currentPageNumber);
    });
</script>
#{/if}