<div class="form-group row">
    <label for="sector" class="col-sm-4 col-form-label title req">Тасаг</label>

    <div class="col-sm-8">
        <select name="sectorUsers" id="sectorUsers" class="custom-select" multiple title="Сонгох">
        #{list items:sectors,as:'sector'}
            <option value="${sector.id}">${sector}</option>
        #{/list}
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="sector" class="col-sm-4 col-form-label title req">Гэрчилгээний дугаар</label>

    <div class="col-sm-8">
        <input type="text" name="certificateNo" class="form-control" id="certificateNo">
    </div>
</div>

<div class="form-group row">
    <label for="text" class="col-sm-4 col-form-label title req">Цол, зэрэг</label>

    <div class="col-sm-8">
        <input type="text" name="degree" class="form-control" id="degree">
    </div>
</div>

<div class="form-group row">
    <label for="sector" class="col-sm-4 col-form-label title req">Мэргэжил</label>

    <div class="col-sm-8">
        <input type="text" name="position" class="form-control" id="position">
    </div>
</div>

<div class="form-group row">
    <label for="sector" class="col-sm-4 col-form-label title req">Чиглэл</label>

    <div class="col-sm-8">
        <input type="text" name="direction" class="form-control" id="direction">
    </div>
</div>