#{extends 'CRUD/layout.html' /}
#{set activeMenu:'UserManage'/}
#{set activeMenuSub: 'edit'/}
#{alertMessages /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/plugins/jcrop/jquery.Jcrop.min.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/public/plugins/fine-uploader/fine-uploader.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crop.css'}"/>
<style>
    .register {
        height: 36px;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<link href="/public/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<script src="/public/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<script src="@{'/public/plugins/fine-uploader/fine-uploader.min.js'}" type="text/javascript"></script>
<script src="@{'/public/plugins/jcrop/jquery.Jcrop.min.js'}" type="text/javascript"></script>
<script src="@{'/public/js/validateOnlyNumber.js'}" type="text/javascript"></script>
<script>
    var crop_2;

    function cropImage() {
        // Grab some information about the preview pane
        $('img#image-avatar').Jcrop({
            // start off with jcrop-light class
            aspectRatio: 1,
            minSize: 50,
            bgColor: 'black',
            onSelect: updateCoords,
            onChange: updateCoords
        }, function () {
            crop_2 = this;
            crop_2.setSelect([${object.x}, ${object.y}, ${object.w}, ${object.h}]);
            crop_2.setOptions({
                bgFade: true,
                allowSelect: false,
                allowResize: true
            });
            crop_2.ui.selection.addClass('jcrop-selection');
        });

        function updateCoords(c) {
//        $("div#profilePicture input#coords").val("X : " + c.x + ", Y : " + c.y + ", X2 : " + c.x2 + ", Y2 : " + c.y2 + ", W : " + c.w + ", H : " + c.h)
            $('input#object_x').val(c.x);
            $('input#object_y').val(c.y);
            $('input#object_w').val(c.w);
            $('input#object_h').val(c.h);
        }
    }

    $(document).ready(function () {
        #{if object.id==user.id}
            $("#changePassword").click(function () {
                if ($(this).is(':checked')) {
                    $("#password-input").show();
                } else {
                    $("#password-input").hide();
                }
            });
            $('button#btnChangePassword').click(function () {
                $(this).find("i").removeClass().addClass("fa fa-spinner faa-spin animated");
                $.ajax({
                    type: "POST",
                    data: {
                        oldPass: $('input#password_old').val(),
                        newPass: $('input#password_new').val(),
                        newRepeatPass: $('input#password_repeat').val()
                    },
                    url: "/userSavePassword",
                    success: function (data) {
                        if (data == "success")
                            showSuccessMessage("Нууц үг амжилттай солигдлоо!");
                        else showErrorMessage(data);
                        $('button#btnChangePassword').find("i").removeClass().addClass("fa fa-check");
                    }
                });
            });
        #{/if}

        $('#object_birthDate').datetimepicker({
            lang: 'mn',
            format: "Y-m-d",
            timepicker: false,
            scrollMonth: false,
            scrollInput: false
        });

        $('ul.uploadBox li button').on('click', function () {
            selectedUbox = $(this).closest("ul").attr('id');
            $("div#upload-button-multi input").prop("multiple", true).prop("accept", false).click();
        });

        var uploaderSingle = new qq.FineUploaderBasic({
            button: document.getElementById('upload-button'),
            debug: true,
            request: {
                params: {uploadPath: '/public/userImages/', ratio: "600x600"},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: "@{'/public/plugins/fine-uploader/placeholders/waiting-generic.png'}",
                    notAvailablePath: "@{'/public/plugins/fine-uploader/placeholders/not_available-generic.png'}",
                }
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, xhr) {
                    console.log("responseJSON:" + JSON.stringify(responseJSON));
                    this.setDeleteFileParams({
                        fileDir: responseJSON.filedir + "." + responseJSON.extension
                    }, id);
                    $("input#object_profilePicture").val(responseJSON.filedir + "." + responseJSON.extension);
                    $("img#image-avatar").attr('src', responseJSON.filedir + "." + responseJSON.extension);
                    //crop_2.setImage(responseJSON.filedir);
                    $('.jcrop-holder img').attr('src', responseJSON.filedir + "." + responseJSON.extension);
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });
        cropImage();

        $('input#phone1').forceNumericOnlyLength(8);
        $('input#phone2').forceNumericOnlyLength(8);
        $('input#object_register').forceNumericOnlyLength(8);

        $('div#main-content form').submit(function (event) {
            var userRole = $('select#userRole').val();

            if ($('div#profilePicture img').attr('src').length < 1) {
                showErrorMessage("Заавал зураг оруулах ёстой!");
                return false;
            } else if ($('input#lastName').val().length < 1) {
                showErrorMessage("Эцэг, эхийн нэр бичнэ үү!");
                return false;
            } else if ($('input#firstName').val().length < 1) {
                showErrorMessage("Нэр бичнэ үү!");
                return false;
//            } else if (isAdmin && ($('input#object_register').val().length !== 8 || isNaN(parseInt($('input#object_register').val())))) {
//                showErrorMessage("Регистрийн дугаараа зөв оруулна уу!");
//                return false;
//            } else if ($('input#email').val().length < 1) {
//                showErrorMessage("И-Мэйл хаяг бичнэ үү!");
//                return false;
            } else if ($('input#object_birthDate').val().length == 0) {
                showErrorMessage("Төрсөн он сараа оруулна уу!");
                return false;
            } else if ($('input#phone1').val().length !== 8 || isNaN(parseInt($('input#phone1').val()))) {
                showErrorMessage("Утасны дугаар 1 зөв оруулна уу!");
                return false;
            } else if ($('input#phone2').val().length > 0 && ($('input#phone2').val().length !== 8 || isNaN(parseInt($('input#phone1').val())))) {
                showErrorMessage("Утасны дугаар 2 зөв оруулна уу!");
                return false;
            } else if (userRole == 2) {
                if ($('select#sectorUsers').val() < 1) {
                    showErrorMessage("Тасаг сонгоно уу!");
                    return false;
                } else if ($('input#certificateNo').val().length < 1) {
                    showErrorMessage("Гэрчилгээний дугаар оруулна уу!");
                    return false;
                } else if ($('input#degree').val().length < 1) {
                    showErrorMessage("Цол, зэрэг оруулна уу!");
                    return false;
                } else if ($('input#position').val().length < 1) {
                    showErrorMessage("Мэргэжил оруулна уу!");
                    return false;
                } else if ($('input#direction').val().length < 1) {
                    showErrorMessage("Чиглэл оруулна уу!");
                    return false;
                }
            } else {
                var saveBtn = $('button#saveBtn');
                saveBtn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");
                saveBtn.attr("disabled", "disabled");
                return true;
            }
        });

        #{if flash.error || error}
            showErrorMessage('${error ?: flash.error}');
        #{/if}
    });

    $('select#hospital').on('change', function () {
        console.log("hospital changed");
        if ($('select#userRole').val() == 2 && $(this).val() != 0) {
            $.ajax({
                type: "POST",
                data: "hid=" + $(this).val(),
                url: "/loadSector",
                success: (function (data) {
                    $('div#hospitalSector').html(data);
                })
            });
        } else $('div#hospitalSector').html('');
    });

    $('select#userRole').on('change', function () {
        console.log("userRole changed");
        console.log($(this).val());
        console.log($('select#hospital').val());
        if ($('select#hospital').val() != 0 && $(this).val() == 2) {
            $.ajax({
                type: "POST",
                data: "hid=" + $('select#hospital').val(),
                url: "/loadSector",
                success: (function (data) {
                    $('div#hospitalSector').html(data);
                })
            });
        } else $('div#hospitalSector').html('');
    });

    function showErrorMessage(message) {
        jError(message, {
            HorizontalPosition: "center",
            VerticalPosition: "center",
            ShowOverlay: false,
            TimeShown: 2000,
            OpacityOverlay: 0.5,
            MinWidth: 250
        });
    }

</script>
#{/set}
<h3 style="margin-bottom: 10px;" class="text-center">Хэрэглэгчийн мэдээлэл</h3>

<form action="@{save(object.id)}" class="form-horizontal" role="form" id="settings" method="post"
      accept-charset="utf-8" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label req title">Зураг:</label>

        <div class="col-sm-8" id="profilePicture">
            <img width="250px" height="auto" style="cursor: pointer;" src="${object.profilePicture}" id="image-avatar"/>

            <div id="upload-button" class="btn btn-primary">
                <div>Зураг хуулах</div>
            </div>
            <input type="hidden" id="object_x" name="object.x" value="${object.x}">
            <input type="hidden" id="object_y" name="object.y" value="${object.y}">
            <input type="hidden" id="object_w" name="object.w" value="${object.w}">
            <input type="hidden" id="object_h" name="object.h" value="${object.h}">
            <input type="hidden" id="object_profilePicture" value="${object.profilePicture}"
                   name="object.profilePicture"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-4 col-form-label req title">Эцэг, эхийн нэр</label>

        <div class="col-sm-8">
            <input type="text" name="object.lastName" class="form-control" id="lastName" value="${object.lastName}">
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label req title">Нэр</label>

        <div class="col-sm-8">
            <input type="text" name="object.firstName" class="form-control" id="firstName" value="${object.firstName}">
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-4 col-form-label title req">Регистрийн дугаар</label>

        <div class="col-sm-8" disabled="true">
            <div id="registerNumber">
                <select name="object.registerChar1" class="register" disabled>
                %{ if(register!=null){
                    reg1=register.substring(0,1);
                    reg2=register.substring(1,2);
                    }else{
                    reg1="";
                    reg2="";
                    }
                    for(c=0;c<=34;c++){}%
                    <option ${(object && object.registerChar1==controllers.Functions.monCharacter[c])?'selected':''}
                            value="${controllers.Functions.monCharacter[c]}">${controllers.Functions.monCharacter[c]}</option>
                %{}}%
                </select>
                <select name="object.registerChar2" class="register" disabled>
                %{for(c=0;c<=34;c++){}%
                    <option ${(object && object.registerChar2==controllers.Functions.monCharacter[c])?'selected':''}
                            value="${controllers.Functions.monCharacter[c]}">${controllers.Functions.monCharacter[c]}</option>
                %{}}%
                </select>
                <input type="text" id="object_register" name="object.registerNumber"
                       style="width: 150px;display: inline-block"
                       value="${object?.registerNumber}" class="form-control" disabled>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="userSex" class="col-sm-4 col-form-label req title">Хүйс</label>

        <div class="col-sm-8" style="padding-top: 4px">
            <label>
                <input type="radio" name="object.userSex.id"
                       value="1" ${object?object.userSex.id==1?'checked':'':''}/>
                <span class="description">${userSexes.get(0)}</span>
            </label>
            <label style="margin-left: 8px">
                <input type="radio" name="object.userSex.id" value="2" ${object?object.userSex.id==2?'checked':'':''}>
                <span class="description">${userSexes.get(1)}</span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label title req">Төрсөн огноо</label>

        <div class="col-md-6 crud-datepicker">
            <input type="text" class="form-control"
                   id="object_birthDate" name="object.birthDate"
                    value="${object.birthDate?.format('yyyy-MM-dd')}">
        </div>
    </div>
#{if (user.isRoleAdmin())}
    <div class="form-group row">
        <label for="isManager" class="col-sm-4 col-form-label title req">Менежeр</label>

        <div class="col-sm-8">
            <input type="checkbox" style="margin-top: 15px" name="object.isManager"
                   id="isManager" ${object?.isManager?'checked':''}>
        </div>
    </div>
#{/if}
    <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label title req">И-мэйл</label>

        <div class="col-sm-8">
            <input type="email" class="form-control" name="object.email" id="email" value="${object.email}">
        </div>
    </div>
#{if object.id==user.id || user.isRoleAdmin()}
    <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label title req">Нэвтрэх нэр</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="object.username" id="username"
                   value="${object.username.toLowerCase()}">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-4 col-form-label title">Нууц үг солих</label>

        <div class="col-sm-8">
            <input type="checkbox" id="changePassword">

            <div id="password-input" style="display: none">
                <div class="row">
                    <div class="control-label c-gray col-md-3">
                        Хуучин
                        нууц
                        үг:
                    </div>
                    <div class="col-md-6">
                        <input type="password"
                               class="form-control object_latin"
                               id="password_old"
                               style="line-height: 12px">
                    </div>
                </div>
                <div class="row" style="margin-top: 2px">
                    <div class="control-label c-gray col-md-3">Шинэ
                        нууц
                        үг:
                    </div>
                    <div class="col-md-6">
                        <input type="password"
                               class="form-control object_latin"
                               id="password_new"
                               style="line-height: 12px">
                    </div>
                </div>
                <div class="row" style="margin-top: 2px">
                    <div class="control-label c-gray col-md-3">Дахин
                        бич:
                    </div>
                    <div class="col-md-6">
                        <input type="password"
                               class="form-control object_latin"
                               id="password_repeat"
                               style="line-height: 12px">
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="btnChangePassword"
                                class="btn btn-success"
                                style="padding: 4px 15px;">
                            <i class="fa fa-check"></i> Солих
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
#{/if}
    <div class="form-group row">
        <label for="userRole" class="col-sm-4 col-form-label title req">Эрх</label>

        <div class="col-sm-8">
            <select name="object.userRole.id" id="userRole" class="form-control">
            #{list items:userRoles,as:'userRole'}
                <option value="${userRole.id}" ${object.userRole.id==userRole.id?'selected':''}>${userRole}</option>
            #{/list}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="hospital" class="col-sm-4 col-form-label title req">Байгууллага</label>

        <div class="col-sm-8">
            <select name="object.hospital.id" id="hospital" class="form-control">
            #{list items:hospitals,as:'hospital'}
                <option value="${hospital.id}" ${object.hospital.id == hospital.id ? 'selected':''}>${hospital}</option>
            #{/list}
            </select>
        </div>
    </div>

    <div id="hospitalSector">
    #{if object.isRoleDoctor()}
        <div class="form-group row">
            <label for="sector" class="col-sm-4 col-form-label title req">Тасаг</label>

            <div class="col-sm-8">
                <select name="sectorUsers" id="sectorUsers" class="custom-select" multiple
                        title="Сонгох" ${!(loginUser?.isManager || loginUser.isRoleAdmin()) ? 'disabled' : ''}>
                    #{list items:object.hospital.sectors,as:'sector'}
                        <option value="${sector.id}" ${sector.checkDoctor(object.id)?'selected':''}>${sector}</option>
                    #{/list}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="sector" class="col-sm-4 col-form-label title req">Гэрчилгээний дугаар</label>

            <div class="col-sm-8">
                <input type="text" name="certificateNo" class="form-control" id="certificateNo"
                       value="${object.doctor?.certificateNo}">
            </div>
        </div>

        <div class="form-group row">
            <label for="text" class="col-sm-4 col-form-label title req">Цол, зэрэг</label>

            <div class="col-sm-8">
                <input type="text" name="degree" class="form-control" id="degree" value="${object.doctor?.degree}">
            </div>
        </div>

        <div class="form-group row">
            <label for="sector" class="col-sm-4 col-form-label title req">Мэргэжил</label>

            <div class="col-sm-8">
                <input type="text" name="position" class="form-control" id="position"
                       value="${object.doctor?.position}">
            </div>
        </div>

        <div class="form-group row">
            <label for="sector" class="col-sm-4 col-form-label title req">Чиглэл</label>

            <div class="col-sm-8">
                <input type="text" name="direction" class="form-control" id="direction"
                       value="${object.doctor?.direction}">
            </div>
        </div>
    #{/if}

    </div>
    <div class="form-group row">
        <label for="phone1" class="col-sm-4 col-form-label title req">Утас</label>

        <div class="col-sm-4">
            <input type="number" name="object.phone1" class="form-control" id="phone1" value="${object.phone1}">
        </div>
        <div class="col-sm-4">
            <input type="number" name="object.phone2" class="form-control" id="phone2" value="${object.phone2}">
        </div>
    </div>
    <div class="form-group row">
        <label for="insuranceNumber" class="col-sm-4 col-form-label title">ЭМД-ийн дугаар</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="object.insuranceNumber" id="insuranceNumber"
                   value="${object.insuranceNumber}">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputAddress" class="col-sm-4 col-form-label title">Хаяг</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="object.address" id="address" value="${object.address}">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
    </div>
</form>