#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{alertMessages /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2>Эм нэмэх</h2>
    *{<button type="submit" class="btn btn-light" formaction="/HospitalDrugs/list">Эмийн жагсаалт руу буцах</button>}*


    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data', id:'form_hospital_drug'}

        <div class="form-group row">
            <label class="col-sm-3 col-form-label title req">
                Код
            </label>
            <div class="col-sm-9">
                <input name="object.code" id="code" class="form-control-sm form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="manufacturer" class="col-sm-3 col-form-label title req">Эм</label>
            <div class="col-sm-9">
                <select name="object.drug.id" id="drug_id" class="form-control form-control-sm selectpicker" data-live-search="true"
                        title="Сонгох">
                    #{list items:drugs,as:'drug'}
                        <option value="${drug.id}" ${object?.drug?.id==drug.id?'selected':''}>${drug}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label title req">
                Хэмжих нэгж
            </label>
            <div class="col-sm-9">
                <input name="object.measureUnit" id="measureUnit" class="form-control-sm form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label title req">
                Нэгжийн үнэ
            </label>
            <div class="col-sm-9">
                <input name="object.unitPrice" id="unitPrice" class="form-control-sm form-control col-sm-9">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            <button type="submit" class="btn btn-success" name="_saveAndAddAnother">Хадгалаад шинийг нэмэх</button>
        </div>
    #{/form}
    </div>
</div>

<script>
    $(document).ready(function (){
        $('form#form_hospital_drug').submit(function (event) {
            if ($('select#drug_id').val() == 0) {
                showErrorMessage("Эм сонгоно уу!");
                return false;
            } else if ($('input#code').val().length < 1) {
                showErrorMessage("Код оруулна уу!");
                return false;
            } else if ($('input#unitPrice').val().length < 1) {
                showErrorMessage("Нэгжийн үнэ оруулна уу!");
                return false;
            } else  if ($('input#measureUnit').val().length < 1) {
                showErrorMessage("Хэмжих нэгж оруулна уу!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>