#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set activeClass:4/}
<div class="my-list">
    <div class="row">
        <a href="@{blank()}" style="display: block; margin-right: 0 !important; margin-left: auto !important;"
           class="btn btn-success btn-small">Эм нэмэх</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th width="30px">#</th>
                <th>Код</th>
                <th>Эмийн нэр</th>
                <th>Тун</th>
                <th>Хэлбэр</th>
                <th>№</th>
                <th>Хэмжих нэгж</th>
                <th>Нэгжийн үнэ</th>
            </tr>
            </thead>
            <tbody>
            %{count=1;}%
            #{list items:objects,as:'object'}
            <tr>
                <td>${count}</td>
                <td>${object.code} <a href="@{HospitalDrugs.show(object.id)}"><i class="fa fa-edit"></i></a></td>
                <td>${object?.drug?.toString()}</td>
                <td>${object?.drug?.dose}</td>
                <td>${object?.drug?.drugForm}</td>
                <td>${object.drug.no}</td>
                <td>${object.measureUnit}</td>
                <td>${object.unitPrice}</td>
            </tr>
            %{count++}%
            #{/list}
            </tbody>
        </table>
    </div>
</div>
