#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
    #{form action:@save(object.id), enctype:'multipart/form-data'}
        <div class="row">
            <label class="col-sm-3 col-form-label title">
                Код
            </label>
            <div class="col-sm-8">
                <input name="object.code" class="form-control form-control-sm" id="code" value="${object.code}">
            </div>
        </div>
        <div class="form-group row">
            <label for="manufacturer" class="col-sm-3 col-form-label title req">Эм</label>
            <div class="col-sm-8">
                <select name="object.drug.id" id="drug_id" class="form-control form-control-sm selectpicker"
                        data-live-search="true"
                        title="Сонгох">
                    #{list items:drugs,as:'drug'}
                        <option value="${drug.id}" ${object?.drug?.id==drug.id?'selected':''}>${drug}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label title">
                Хэмжих нэгж
            </label>

            <div class="col-sm-8">
                <input name="object.measureUnit" class="form-control form-control-sm" id="measureUnit"
                       value="${object.measureUnit}">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-form-label title">
                Нэгжийн үнэ
            </label>

            <div class="col-sm-8">
                <input name="object.unitPrice" id="unitPrice" class="form-control form-control-sm"
                       value="${object.unitPrice}">
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success" name="_save" value="Хадгалах"/>
        </div>
    #{/form}
    </div>


</div>
<script>
    $(document).ready(function () {
        $('form#form_hospital_drug').submit(function (event) {
            if ($('select#drug_id').val() == 0) {
                showErrorMessage("Эм сонгоно уу!");
                return false;
            } else if ($('input#code').val().length < 1) {
                showErrorMessage("Код оруулна уу!");
                return false;
            } else if ($('input#unitPrice').val().length < 1) {
                showErrorMessage("Нэгжийн үнэ оруулна уу!");
                return false;
            } else if ($('input#measureUnit').val().length < 1) {
                showErrorMessage("Хэмжих нэгж оруулна уу!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>