<style>
    .storeTable table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title">ЭМЧЛҮҮЛЭГЧИЙН ХЭРЭГЛЭСЭН ЭМИЙН ХУУДАС</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" style="overflow-x: auto">
    <table class="storeTable">
        <thead>
        <tr>
            <th rowspan="3" style="min-width: 200px">Эмийн нэр</th>
            <th rowspan="3" style="min-width: 50px">Тун</th>
            <th rowspan="3" style="min-width: 20px">Хэрэглэх арга</th>
            <th colspan="${dates.size()*3}">Сар, өдөр</th>
            <th rowspan="3">Нийт хэрэглэсэн эмийн тоо</th>
            <th rowspan="3">Нэг бүрийн үнэ</th>
            <th rowspan="3" style="min-width: 100px">Нийт үнэ</th>
        </tr>
        <tr>
        #{list dates, as:'date'}
            <th colspan="3">${date.format('dd/MM')}</th>
        #{/list}
        </tr>
        <tr>
        #{list dates, as:'date'}
            <th style="background-color: aqua">ө</th>
            <th style="background-color: #aaaaaa">ө</th>
            <th style="background-color: #f2f2f2">о</th>
        #{/list}
        </tr>
        </thead>
        <tbody>
        #{list treatmentPlans, as:'treatment'}
        <tr>
            <td>${treatment.drug.drug.sellName}</td>
            <td>${treatment.drug.drug.dose.dose}</td>
            <td>${treatment.drug.drug.instruction}</td>
            #{list dates, as:'date'}
                #{if treatment.isTreatmentDate(date)}
                    <td style="background-color: aqua"><input type="checkbox" class="morning"
                                                              ddate="${date.format('yyyy-MM-dd')}" ${treatment.checkMorning(date)?'checked':''}
                                                              obid="${treatment.id}"></td>
                    <td style="background-color: #aaaaaa"><input type="checkbox" class="noon"
                                                                 ddate="${date.format('yyyy-MM-dd')}" ${treatment.checkNoon(date)?'checked':''}
                                                                 obid="${treatment.id}"></td>
                    <td style="background-color: #f2f2f2"><input type="checkbox" class="evening"
                                                                 ddate="${date.format('yyyy-MM-dd')}" ${treatment.checkEvening(date)?'checked':''}
                                                                 obid="${treatment.id}"></td>
                #{/if}
                #{else}
                    <td style="..."></td>
                    <td style="..."></td>
                    <td style="..."></td>
                #{/else}
            #{/list}
            <td><input type="number" class="form-control form-control-sm"></td>
            <td>${treatment.unitPrice}</td>
            <td><input type="number" disabled class="form-control form-control-sm"></td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
<div class="modal-footer" id="footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
    <button type="button" class="btn btn-primary" onclick="">Хадгалах</button>
</div>

<script>
    $(document).ready(function () {
        $('.morning').change(function () {
            var give = false;
            if ($(this).prop('checked')) give = true;
            $.ajax({
                type: "POST",
                url: "/medicationSave",
                data: {
                    id: $(this).attr('obid'),
                    date: $(this).attr('ddate'),
                    type: 1,
                    give: give
                },
                success: function (data) {
                    if (data = 'success') {
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                    }
                }
            });
        });

        $('.noon').change(function () {
            var give = false;
            if ($(this).prop('checked')) give = true;
            alert($(this).attr('ddate'));
            $.ajax({
                type: "POST",
                url: "/medicationSave",
                data: {
                    id: $(this).attr('obid'),
                    date: $(this).attr('ddate'),
                    type: 2,
                    give: give
                },
                success: function (data) {
                    if (data = 'success') {
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                    }
                }
            });
            2
        });

        $('.evening').change(function () {
            var give = false;
            if ($(this).prop('checked')) give = true;
            alert($(this).attr('ddate'));
            $.ajax({
                type: "POST",
                url: "/medicationSave",
                data: {
                    id: $(this).attr('obid'),
                    date: $(this).attr('ddate'),
                    type: 3,
                    give: give
                },
                success: function (data) {
                    if (data = 'success') {
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                    }
                }
            });
        });
    });

</script>