#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 class="text-center">Давтамж нэмэх</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        <div class="row" style="margin-top: 10px">
            <div class="col-2 col-form-label title">
                Давтамж
            </div>
            <div class="col-8">
                <input name="object.name" class="form-control-lg form-control">
            </div>
        </div>
        <div class="btn-group text-center" style="margin: 10px; display: block; margin-right: auto !important; margin-left: auto !important;">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            <button type="submit" class="btn btn-success" name="_saveAndAddAnother">Хадгалаад шинийг нэмэх</button>
        </div>
    #{/form}
    </div>
</div>