#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
    #{form action:@save(object.id), enctype:'multipart/form-data'}
        <div class="row">
            <div class="col-2 col-form-label title">
                Давтамж
            </div>
            <div class="col-8">
                <input name="object.name" class="form-control form-control-lg" value="${object.name}">
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success" name="_save" value="Хадгалах" />
        </div>
    #{/form}
    </div>

*{#{form @delete(object.id)}}*
    *{<div class="crudDelete">}*
        *{<input type="submit" style="display: block; margin-right: 0 !important; margin-left: auto !important;" value="Устгах" />}*
    *{</div>}*
*{#{/form}}*

</div>