#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
<script type="text/javascript" src="@{'/public/js/validateOnlyNumber.js'}"></script>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank">
#{if parentType != null}
    <table>
        <thead>
        <tr>
            <th>Тайлбар</th>
            <th>Нэр</th>
            <th>Дараалал</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Өмнөх</td>
            <td>${parentType}</td>
            <td>${parentType.value}</td>
        </tr>
            #{list subTypes, as:'subType'}
            <tr>
                <td>Ижил</td>
                <td>${subType}</td>
                <td>${subType.value}</td>
            </tr>
            #{/list}
        </tbody>
    </table>
#{/if}
    <div class="objectForm">
    #{form action:@create(object.id), enctype:'multipart/form-data'}
        <div class="input-group row" style="margin-top: 10px;">
            <label for="parentType" class="col-sm-4 col-form-label req title">
                Нэр
            </label>
            <div class="col-6">
                <select name="parentType" type="text" class="form-control-sm form-control" value="${object?.name}">
                    <option value="0">Байхгүй</option>
                    #{list typeList, as:'nType'}
                        <option value="${nType.id}" ${nType.id==parentType?.id?'selected':''}>${nType}</option>
                    #{/list}
                </select>
            </div>
        </div>
        <div class="input-group row" style="margin-top: 10px;">
            <label for="name" class="col-sm-4 col-form-label req title">
                Нэр
            </label>
            <div class="col-6">
                <input name="name" type="text" class="form-control-sm form-control" value="${object?.name}">
            </div>
        </div>
        <div class="input-group row">
            <label for="value" class="col-sm-4 col-form-label req title">
                Утга
            </label>
            <div class="col-6">
                <input name="value" type="number" class="form-control-sm form-control" value="${object?.value}">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
        </div>
    #{/form}
    </div>
</div>
<script>

</script>