<div class="modal-header">
    <h5 class="modal-title">Бүх төлбөрийн баримт</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Үйлчилгээний огноо: </label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="order_date"
                   value="${serviceDate.format("yyyy-MM-dd")}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title"> </label>

        <div class="col-sm-12">
            <table style="width: 100%" class="table-bordered table-sm myTable">
                <tr>
                    <th width="25%">Үйлчилгээ</th>
                    <td width="25%">Нэгжийн үнэ</td>
                    <td width="25%">Тоо ширхэг</td>
                    <td width="25%">Төлбөр</td>
                </tr>
            #{list histories, as:'history'}
                #{if history.typeId ==1}
                    <tr>
                        <td>${history.getInspection().tariff}</td>
                        <td>${history.getInspection().tariff.unitPrice}</td>
                        <td>1</td>
                        <td>${history.getInspection().tariff.unitPrice}</td>
                    </tr>
                #{/if}
                #{elseif history.typeId ==2}
                    #{list items:history.getInspection().inspectionPlans,as:'planRel'}
                        <tr>
                            <td>${planRel.tariff}</td>
                            <td>${planRel.tariff.price}</td>
                            <td>${planRel.countTimes()}</td>
                            <td>${planRel.price}</td>
                        </tr>
                    #{/list}
                #{/elseif}
                #{elseif history.typeId ==6}
                    #{list items:history.getInspection().inspectionDrugs,as:'drug'}
                        <tr>
                            <td>${drug.drug}</td>
                            <td>${drug.drug.price}</td>
                            <td>${drug.countTimes()}</td>
                            <td>${drug.price}</td>
                        </tr>
                    #{/list}
                #{/elseif}
                #{elseif history.typeId ==3}
                    <tr>
                        <td>Хэвтэн эмчлүүлэх</td>
                        <td>${history.getBedTreatment().bedTreatmentTariff.price}</td>
                        <td>${history.getBedTreatment().countTimes()}</td>
                        <td>${history.getBedTreatment().payment}</td>
                    </tr>
                #{/elseif}
                #{elseif history.typeId ==4}
                    #{list items:history.getBedTreatment().getTreatmentPlans(),as:'plan'}
                        <tr>
                            <td>${plan.tariff}</td>
                            <td>${plan.tariff.price}</td>
                            <td>${plan.countTimes()}</td>
                            <td>${plan.price}</td>
                        </tr>
                    #{/list}
                #{/elseif}
                #{elseif history.typeId ==5}
                    #{list items:history.getBedTreatment().getDrugPlans(),as:'plan'}
                        <tr>
                            <td>${plan.drug}</td>
                            <td>${plan.drug.price}</td>
                            <td>${plan.countTimes()}</td>
                            <td>${plan.price}</td>
                        </tr>
                    #{/list}
                #{/elseif}
            #{/list}
            </table>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Нийт үнэ:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="totalPrice"
                   value="${controllers.Functions.getDecimal(all)}" numberval="${all}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Хөнгөлөлт:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="discount" value="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Бэлнээр:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="nowPay" numberval="${all}"
                   value="${controllers.Functions.getDecimal(all)}">
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">
            <input type="checkbox" style="margin: 0 4px" id="cardPayCheck">Картаар:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="cardPay" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title"> Үлдэгдэл: </label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="borrow" value="0" readonly>
        </div>
    </div>
    <div class="modal-footer" id="footer">
        <input id="histories" type="hidden">
        <button type="button" class="btn btn-secondary" id="closeBtn" onclick="closeBtn()">хаах</button>
        <button type="button" class="btn btn-secondary" id="printBtn" disabled onclick="printer()">Хэвлэх</button>
        <button type="button" class="btn btn-primary" id="saveBtn" onclick="payAll(${customer.id})">Хадгалах</button>
    </div>
</div>

<script>
    var totalPriceSpan = $('input#totalPrice');
    var cardPayInput = $('input#cardPay');
    var discountInput = $('input#discount');
    var nowPayInput = $('input#nowPay');
    var borrowInput = $('input#borrow');
    $('input#discount').on('click', function () {
        $(this).val("");
        cardPayInput.attr('readonly', 'readonly').val('');
        borrowInput.attr('readonly', 'readonly').val('');
        $('input#nowPay').attr('numberval', totalPriceSpan.attr('numberval')).val(getDecimalPay(totalPriceSpan.attr('numberval')));
        $('input#cardPayCheck').prop('checked', false);
    }).keyup(function (e) {
        discountCalculate();
        $('input#cardPayCheck').prop('checked', false);
    }).forceNumericOnlyLength(3);

    function discountCalculate() {
        if (discountInput.val().length > 0 && discountInput.val() > 0) {
            var culcVal = totalPriceSpan.attr('numberval') - parseInt(parseInt(totalPriceSpan.attr('numberval')) * discountInput.val() / 100);
            $('input#nowPay').attr('numberval', culcVal).val(getDecimalPay(culcVal));
            $('input#borrow').val('0');
        } else {
            $('input#nowPay').attr('numberval', totalPriceSpan.attr('numberval')).val(getDecimalPay(totalPriceSpan.attr('numberval')));
            $('input#borrow').val('0');
        }
    }

    $('input#cardPayCheck').on('change', function () {
        if ($(this).prop('checked')) {
            if (cardPayInput.val().length == 0) {
                if (borrowInput.val() == 0) {
                    cardPayInput.removeAttr('readonly').val(getDecimalPay(nowPayInput.attr('numberval')));
                    $('input#nowPay').val('0');
                } else {
                    cardPayInput.removeAttr('readonly').val(getDecimalPay(borrowInput.val()));
                    $('input#borrow').val('0');
                }
            } else {
                cardPayInput.removeAttr('readonly').val('0');
                discountCalculate();
            }
        } else {
            cardPayInput.attr('readonly', 'readonly').val('');
            borrowInput.attr('readonly', 'readonly').val('0');
            discountCalculate();
        }
    });

    $('input#cardPay').keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 ||
        key == 9 ||
        key == 46 ||
        (key >= 37 && key <= 40) ||
        (key >= 48 && key <= 57) ||
        (key >= 96 && key <= 105));
    }).keyup(function (e) {
        if ($(this).val().length > 0) {
            var cc = parseInt($(this).val().replace(/'/g, ""));
            cc = parseInt(nowPayInput.attr('numberval')) - cc;
            $('input#nowPay').val(getDecimalPay(cc));
            $(this).val(getDecimalPay($(this).val()));
        } else discountCalculate();
    });

    $('input#nowPay').keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 ||
        key == 9 ||
        key == 46 ||
        (key >= 37 && key <= 40) ||
        (key >= 48 && key <= 57) ||
        (key >= 96 && key <= 105));
    }).keyup(function (e) {
        if ($(this).val().length > 0) {
            var cc = parseInt($(this).val().replace(/'/g, ""));
            cc = parseInt(nowPayInput.attr('numberval')) - cc;
            if ($('input#cardPayCheck').prop('checked')) {
                $('input#cardPay').val(getDecimalPay(cc));
            } else {
                $('input#borrow').val(getDecimalPay(cc));
            }
            $(this).val(getDecimalPay($(this).val()));
        } else discountCalculate();
    });

    function getDecimalPay(numval) {
        numval = numval + "";
        var cde = 1, vv = "";
        for (var i = 0; i < numval.length; i++) {
            if (numval.charAt(i) != "'") vv += numval.charAt(i);
        }
        numval = vv;
        vv = "";

        for (i = numval.length - 1; i >= 0; i--) {
            if (i != 0 && cde == 3) {
                vv += numval.charAt(i) + "'";
                cde = 1
            } else {
                vv += numval.charAt(i);
                cde++;
            }
        }
        numval = "";
        for (var i = vv.length - 1; i >= 0; i--) {
            numval += vv.charAt(i);
        }
        return numval;
    }
</script>