
<div class="modal-header">
    <h5 class="modal-title">Төлбөрийн баримтын түүх</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div style="padding: 10px;">
        <div class="row">
            <label for="lastName" class="col-sm-3 title">Эцэг, эхийн нэр : </label>

            <div class="col-sm-9">
                <label class="col-sm-3">${customer.lastName}</label>
            </div>
        </div>
        <div class="row">
            <label for="firstName" class="col-sm-3 title">Нэр : </label>

            <div class="col-sm-9">
                <label class="col-sm-3">${customer.firstName}</label>
            </div>
        </div>
        <div class="row">
            <label for="firstName" class="col-sm-3  title">Регистр : </label>

            <div class="col-sm-9">
                <label for="lastName"
                       class="col-sm-4">${customer.registerChar1}${customer.registerChar2}${customer.registerNumber}</label>
            </div>
        </div>
    #{if !historyLogs.isEmpty()}
        <table class="table-bordered table-sm myTable" style="width: 100%">
            <tr>
                <th width="20%">Огноо</th>
                <th width="15%">Нийт төлөх</th>
                <th width="15%">Хөнгөлөлт</th>
                <th width="15%">бэлнээр төлсөн</th>
                <th width="15%">картаар төлсөн</th>
                <th width="15%">үлдэгдэл</th>
                <th width="5%"></th>
            </tr>
            #{list items:historyLogs,as:'log'}
                <tr>
                    <td>
                        ${log.createDate.format("yyyy-MM-dd")}
                    </td>
                    <td>${log.payment}</td>
                    <td>${log.discount}%(${log.discountVal})</td>
                    <td>${log.cashPay}</td>
                    <td>${log.cardPay}</td>
                    <td>${log.borrow}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-xs" onclick="put(${log.id})">хэвлэх</button>
                    </td>
                </tr>
            #{/list}
        </table>
    #{/if}
    </div>
    <div class="modal-footer" id="footer">
        <button type="button" class="btn btn-secondary" id="closeBtn" onclick="closeBtn()">хаах</button>
    </div>
</div>