<script src="/public/js/jQuery.print.js" type="text/javascript"></script>
<script src="/public/js/jquery.qrcode-0.11.0.min.js" type="text/javascript"></script>
<div style="padding: 10px">
    <div class="row form-control-sm">
        <label for="lastName" class="col-sm-3 title">Эцэг, эхийн нэр : </label>

        <div class="col-sm-9">
        ${customer.lastName}
        </div>
    </div>
    <div class="row form-control-sm">
        <label for="firstName" class="col-sm-3 title">Нэр : </label>

        <div class="col-sm-9">
        ${customer.firstName}
        </div>
    </div>
    <div class="row form-control-sm">
        <label for="firstName" class="col-sm-3 title">Регистр : </label>

        <div class="col-sm-9">
        ${customer?.registerChar1}${customer?.registerChar2}${customer?.registerNumber}
            <button type="button" style="float: right;margin-bottom: 10px" class="btn btn-info btn-xs"
                    onclick="historyLog(${customer.id})">төлбөрийн түүх
            </button>
        </div>
    </div>
#{if !histories.isEmpty()}
    <table class="table-bordered table-sm myTable" style="width: 100%">
        <tr>
            <th width="10%">№</th>
            <th width="30%">Огноо</th>
            <th width="30%">Үйлчилгээ</th>
            <td width="20%">Төлбөр</td>
            <td width="10%"></td>
        </tr>
        #{list items:histories,as:'history'}
            #{if history.payment>0}

            *{////////////эмчийн үзлэг}*
                #{if history.typeId == 1}
                    <tr>
                        <td>${history_index}</td>
                        <td>${history.getInspection().serviceDate.format("yyyy-MM-dd HH:mm:ss")}</td>
                        <td>Эмчийн үзлэг-${history.getInspection().tariff}</td>
                        <td>${history.payment}</td>
                        <td>
                            <button type="button" class="btn    btn-primary btn-xs"
                                    onclick="paymentDialog(${history.id})">төлбөр
                                төлөх
                            </button>
                        </td>
                    </tr>
                #{/if}

            *{/////////өдрийн эмчилгээ}*
                #{elseif  history.typeId == 2}
                    #{list items:history.getInspection().inspectionPlans, as:'plan'}
                        <tr>
                            <td>${history_index}.${plan_index}</td>
                            <td>${plan.startDate.format("yyyy/MM/dd")}-${plan.endDate.format("yyyy/MM/dd")}</td>
                            <td>${plan.tariff}</td>
                            <td>${plan.price}</td>
                            #{if plan_index==1}
                                <td rowspan="${history.getInspection().inspectionPlans.size()}">
                                    <button type="button" class="btn btn-primary btn-xs"
                                            onclick="paymentDialog(${history.id})">төлбөр
                                        төлөх
                                    </button>
                                </td>
                            #{/if}
                        </tr>
                    #{/list}
                #{/elseif}
            *{/////////амбулаторид бичсэн эм}*
                #{elseif  history.typeId == 6}
                    #{list items:history.getDrugs(), as:'drug'}
                        <tr>
                            <td>${history_index}.${drug_index}</td>
                            <td>${drug.startDate.format("yyyy/MM/dd")}-${drug.endDate.format("yyyy/MM/dd")}</td>
                            <td>${drug.drug}</td>
                            <td>${drug.price}</td>
                            #{if drug_index==1}
                                <td rowspan="${history.getDrugs().size()}">
                                    <button type="button" class="btn btn-primary btn-xs"
                                            onclick="paymentDialog(${history.id})">төлбөр төлөх
                                    </button>
                                </td>
                            #{/if}
                        </tr>
                    #{/list}
                #{/elseif}

            *{/////////хэвтэн эмчлүүлэх}*
                #{elseif history.typeId == 3}
                    <tr>
                        <td>${history_index}</td>
                        <td>${history.getBedTreatment().startDate.format("yyyy/MM/dd")}
                            -${history.getBedTreatment().endDate.format("yyyy/MM/dd")}</td>
                        <td>Хэвтэн эмчлүүлэх-${history.getBedTreatment().bedTreatmentTariff}</td>
                        <td>${history.payment}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-xs" onclick="paymentDialog(${history.id})">
                                төлбөр төлөх
                            </button>
                        </td>
                    </tr>
                #{/elseif}

            *{/////////хэвтэн эмчилгээ}*
                #{elseif history.typeId == 4}
                    #{list items:history.getBedTreatment().getTreatmentPlans(), as:'plan'}
                        <tr>
                            <td>${history_index}.${plan_index}</td>
                            <td>${plan.startDate.format("yyyy/MM/dd")}-${plan.endDate.format("yyyy/MM/dd")}</td>
                            <td>${plan.tariff}-${plan.repeat}</td>
                            <td>${plan.price}</td>
                            #{if plan_index==1}
                                <td rowspan="${history.getBedTreatment().getTreatmentPlans().size()}">
                                    <button type="button" class="btn btn-primary btn-xs"
                                            onclick="paymentDialog(${history.id})">төлбөр
                                        төлөх
                                    </button>
                                </td>
                            #{/if}
                        </tr>
                    #{/list}
                #{/elseif}

            *{/////////хэвтэн эмчилгээний эм}*
                #{elseif history.typeId == 5}
                    #{list items:history.getBedTreatment().getDrugPlans(), as:'plan'}
                        <tr>
                            <td>${history_index}.${plan_index}</td>
                            <td>${plan.startDate.format("yyyy/MM/dd")}-${plan.endDate.format("yyyy/MM/dd")}</td>
                            <td>${plan.drug}-${plan.repeat}</td>
                            <td>${plan.price}</td>
                            #{if plan_index==1}
                                <td rowspan="${history.getBedTreatment().getDrugPlans().size()}">
                                    <button type="button" class="btn btn-primary btn-xs"
                                            onclick="paymentDialog(${history.id})">төлбөр
                                        төлөх
                                    </button>
                                </td>
                            #{/if}
                        </tr>
                    #{/list}
                #{/elseif}
            #{/if}
        #{/list}
        <tr>
            <td>#</td>
            <td><b>Бүгд</b></td>
            <td></td>
            <td>${all}</td>
            <td>
            *{<button type="button" class="btn btn-primary btn-xs" onclick="allPayment(${customer.id})">}*
                    *{төлөх}*
                *{</button>}*
            </td>
        </tr>
    </table>
#{/if}
</div>
<div class="modal fade" id="paymentModal" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="paymentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" id="myModel">
        <div class="modal-content">

        </div>
    </div>
</div>
<div style="display: none">
    <div id="printCon"></div>
    <div id="qrPre"></div>
</div>
<script>

    function paymentDialog(history_id) {
        $.ajax({
            type: "POST",
            data: {
                history_id: history_id
            },
            url: "/payment",
            success: function (data) {
                $("div#paymentModal").find("div.modal-content").html(data);
                $("div#paymentModal").modal('toggle');
            }
        });
    }

    function allPayment(customer_id) {
        $.ajax({
            type: "POST",
            data: {
                customer_id: customer_id
            },
            url: "/allPayment",
            success: function (data) {
                $("div#paymentModal").find("div.modal-content").html(data);
                $("div#paymentModal").modal('toggle');
            },
            error: function () {
                showErrorMessage("Алдаа гарлаа!");
            }
        });
    }

    function confirmButton(hid) {
        var total = $('input#totalPrice').val();
        var discount = '0';
        discount = $('input#discount').val();
        var nowPay = $('input#cashPay').val();
        var cardPay = $('input#cardPay').val();
        var borrow = $('input#borrow').val();
        console.log("customer - " + $("input#customerNo").val());
        if (discount.length > -1 && parseInt(discount) <= 100) {
            $.ajax({
                type: "POST",
                data: {
                    hid: hid,
                    total: total,
                    discount: discount,
                    nowPay: nowPay,
                    cardPay: cardPay,
                    borrow: borrow,
                    customerNo: $("input#customerNo").val()
                },
                url: "/savePayment",
                success: function (data) {
                    if (data != 0) {
                        showSuccessMessage("Хадгалагдсан");
                        $('#printBtn').attr('onclick', 'printer(' + data + ')');
                        $('#printBtn').addClass('btn-success');
                        $('#printBtn').removeAttr("disabled");
                        $('#saveBtn').css("display", "none");
                    } else showErrorMessage("Буруу өгөгдөл оруулсан байна!");
                }
            });
        } else showErrorMessage("Хөнгөлөлтийн утгаа зөв оруулна уу!");
    }

    function payAll(customer_id) {
        var total = $('input#totalPrice').val();
        var discount = $('input#discount').val();
        var nowPay = $('input#cashPay').val();
        var cardPay = $('input#cardPay').val();
        console.log("paying all");
        if (discount.length > -1 && parseInt(discount) <= 100) {
            $.ajax({
                type: "POST",
                data: {
                    customer_id: customer_id,
                    total: total,
                    discount: discount,
                    nowPay: nowPay,
                    cardPay: cardPay
                },
                url: "/saveAllPayment",
                success: function (data) {
                    showSuccessMessage("Хадгалагдсан");
                    $('#printBtn').attr('onclick', 'printer(' + data + ')');
                    $('#printBtn').addClass('btn-success');
                    $('#printBtn').removeAttr("disabled");
                    $('#saveBtn').css("display", "none");
                }
            });
        } else showErrorMessage("Хөнгөлөлтийн утгаа зөв оруулна уу!");
    }

    function printer(data_id) {
        var lid = data_id;
        $.ajax({
            type: "POST",
            data: "lid=" + lid,
            url: "/paymentPrint",
            success: function (data) {
                $("div#printCon").html(data);
                var options = {
                    size: 80,
                    text: lid
                };
                $('div#printCon').print({
                    globalStyles: false,
                    mediaPrint: true
                });
            }
        });
    }

    function put(id) {
        $.ajax({
            type: "POST",
            url: "/ebarimtPut",
            data: {
                id: id
            },
            success: function (data) {
                $("div#printCon").html(data);
                console.log($("table#printTable"));
                var printed = $("div#printCon input#printed").val();
                if (printed !== "1") {
                    var options = {
                        size: 200,
                        text: $("input#qrData").val()
                    };
                    $("#qrPre").empty().qrcode(options);
                    $("#qrPre canvas").attr("id", "qrPreCanvas");
                    var canvas = document.getElementById("qrPreCanvas");
                    var img = canvas.toDataURL("img/png");
                    $("#printCon #qrcode").html('<img src="' + img + '"/>');
                    $('div#printCon').print({
                        globalStyles: false,
                        mediaPrint: true,
                        stylesheet: "@{'/public/stylesheets/printEbarimt.css'}"
                    });
                }
            }
        });
    }

    function closeBtn() {
        $("div#paymentModal").modal('hide');
        selectedTab = 3;
        window.location.assign("/register/" + ${ins_id}+"&3");
    }

    function historyLog(uid) {
        $.ajax({
            type: "POST",
            data: "uid=" + uid,
            url: "/historyLog",
            success: function (data) {
                $("div#paymentModal").find("div.modal-content").html(data);
            }
        });
        $("div#myModel").addClass("modal-lg");
        $("div#paymentModal").modal('toggle');
    }

</script>