\<div style="width: 300px;height: auto;font-family: arial;padding: 10px;color: #000000;background-color: white">
    <div style="width: 100%;text-align: center;font-size: 14;font-weight: bold">
        <img src="${log.owner.hospital.logo}" style="float: left;height: 30px;margin: 4px"/>
    ${log.owner.hospital.name}</div>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        #{list log.historyLogRels, as:'rel'}
            #{if rel_index==1}
        <tr>
            <td>Огноо:</td>
            #{if rel.history.typeId == 1 || rel.history.typeId == 2 || rel.history.typeId == 6}
                <td>${rel.history.getInspection().serviceDate.format("yyyy-MM-dd HH:mm:ss")}</td>
            #{/if}
            #{elseif rel.history.typeId == 3 || rel.history.typeId == 4|| rel.history.typeId == 5}
                <td>${rel.history.getBedTreatment().startDate.format("yyyy/MM/dd")}-
                ${rel.history.getBedTreatment().endDate.format("yyyy/MM/dd")}</td>
            #{/elseif}
        </tr>
        <tr>
            <td>Овог:</td>
            <td>${rel.history.user.lastName}</td>
        </tr>
        <tr>
            <td>Нэр:</td>
            <td>${rel.history.user.firstName}</td>
        </tr>#{/if}
        #{/list}
    </table>
    <table id=printTable border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin-top: 20px">
        <tr>
            <td><b>Үйлчилгээний нэр</b></td>
            <td><b>Нэгжийн үнэ</b></td>
            <td><b>Тоо ширхэг</b></td>
            <td><b>Төлбөр</b></td>
        </tr>
        #{list log.historyLogRels, as:'rel'}
    #{if rel.history.typeId == 1}
        <tr>
            <td>${rel.history.getInspection().tariff}</td>
            <td>${rel.history.getInspection().tariff.price}</td>
            <td>1</td>
            <td>${rel.history.getInspection().tariff.price}</td>
        </tr>
    #{/if}
    #{elseif rel.history.typeId == 2}
        #{list items:rel.history.getInspection().inspectionPlans,as:'planRel'}
            <tr>
                <td>${planRel.tariff}</td>
                <td>${planRel.tariff.price}</td>
                <td>${planRel.countTimes()}</td>
                <td>${planRel.price}</td>
            </tr>
        #{/list}
    #{/elseif}
    #{elseif rel.history.typeId == 3}
            <tr>
                <td>${rel.history.getBedTreatment().bedTreatmentTariff}</td>
                <td>${rel.history.getBedTreatment().bedTreatmentTariff.price}</td>
                <td>${rel.history.getBedTreatment().countTimes()}</td>
                <td>${rel.history.getBedTreatment().payment}</td>
            </tr>
    #{/elseif}
    #{elseif rel.history.typeId == 4}
        #{list items:rel.history.getBedTreatment().getTreatmentPlans(),as:'plan'}
            <tr>
                <td>${plan.tariff}</td>
                <td>${plan.tariff.price}</td>
                <td>${plan.countTimes()}</td>
                <td>${plan.price}</td>
            </tr>
        #{/list}
    #{/elseif}
    #{elseif rel.history.typeId == 5}
        #{list items:rel.history.getBedTreatment().getDrugPlans(),as:'plan'}
            <tr>
                <td>${plan.drug}</td>
                <td>${plan.drug.price}</td>
                <td>${plan.countTimes()}</td>
                <td>${plan.price}</td>
            </tr>
        #{/list}
    #{/elseif}
    #{elseif rel.history.typeId == 6}
        #{list items:rel.history.getInspection().inspectionDrugs,as:'drug'}
            <tr>
                <td>${drug.drug}</td>
                <td>${drug.drug.price}</td>
                <td>${drug.countTimes()}</td>
                <td>${drug.price}</td>
            </tr>
        #{/list}
    #{/elseif}
        #{/list}
        <tr>
            <td style="text-align: right">Нийт төлбөр</td>
            <td> </td>
            <td> </td>
            <td>${controllers.Functions.getDecimal(log.payment)}</td>
        </tr>
    #{if log.discount>0}
        <tr>
            <td style="text-align: right">Хөнгөлөлт</td>
            <td> </td>
            <td> </td>
            <td>${controllers.Functions.getDecimal(log.discount)}%</td>
        </tr>
        <tr>
            <td style="text-align: right">Төлбөл зохих</td>
            <td> </td>
            <td> </td>
            <td>${controllers.Functions.getDecimal(log.payment-log.discountVal)}</td>
        </tr>
    #{/if}
    #{else }
        <tr>
            <td style="text-align: right">Төлбөл зохих</td>
            <td> </td>
            <td> </td>
            <td>${controllers.Functions.getDecimal(log.payment)}</td>
        </tr>
    #{/else}
        <tr>
            <td style="text-align: right" rowspan="2">Төлсөн</td>
            <td>бэлнээр</td>
            <td></td>
            <td>${controllers.Functions.getDecimal(log.cashPay)}</td>
        </tr>
        <tr>
            <td>картаар</td>
            <td></td>
            <td>${controllers.Functions.getDecimal(log.cardPay)}</td>
        </tr>
    #{if log.borrow>0}
        <tr>
            <td style="text-align: right">Үлдэгдэл</td>
            <td> </td>
            <td> </td>
            <td>${controllers.Functions.getDecimal(log.borrow)}</td>
        </tr>
    #{/if}
    </table>
    <div id="desc" style="width: 100%"></div>
    <div id="qrcode" style="width: 100%;margin-top: 4px;float: left"></div>
</div>
<style>
    table#printTable td {
        border: 1px solid #000000;
        font-size: 13px;
        padding: 1px 2px;
    }

    div#desc p {
        text-align: justify;
        font-size: 12px;
    }
</style>
