<div class="modal-header">
    <h5 class="modal-title">Төлбөрийн баримт</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeBtn()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Үйлчилгээний огноо: </label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="order_date"
                   value="${serviceDate.format("yyyy-MM-dd")}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title"> </label>

        <div class="col-sm-12">
            <table style="width: 100%" class="table-bordered table-sm myTable">
                <tr>
                    <th width="25%">Үйлчилгээ</th>
                    <td width="25%">Нэгжийн үнэ</td>
                    <td width="25%">Тоо ширхэг</td>
                    <td width="25%">Төлбөр</td>
                </tr>
            #{if history.typeId ==1 }
                <tr>
                    <td>${history.getInspection().tariff}</td>
                    <td>${history.getInspection().tariff.price}</td>
                    <td>1</td>
                    <td>${history.getInspection().tariff.price}</td>
                </tr>
            #{/if}
            #{elseif history.typeId ==2 }
                #{list items:history.getInspection().inspectionPlans,as:'planRel'}
                    <tr>
                        <td>${planRel.tariff}</td>
                        <td>${planRel.tariff.price}</td>
                        <td>${planRel.countTimes()}</td>
                        <td>${planRel.price}</td>
                    </tr>
                #{/list}
            #{/elseif}
            #{elseif history.typeId ==3 }
                <tr>
                    <td>Хэвтэн эмчлүүлэх</td>
                    <td>${history.getBedTreatment().bedTreatmentTariff.price}</td>
                    <td>${history.getBedTreatment().countTimes()}</td>
                    <td>${history.getBedTreatment().payment}</td>
                </tr>
            #{/elseif}
            #{elseif history.typeId ==4 }
                #{list items:history.getBedTreatment().getTreatmentPlans(),as:'plan'}
                    <tr>
                        <td>${plan.tariff}</td>
                        <td>${plan.tariff.price}</td>
                        <td>${plan.countTimes()}</td>
                        <td>${plan.price}</td>
                    </tr>
                #{/list}
            #{/elseif}
            #{elseif history.typeId ==5 }
                #{list items:history.getBedTreatment().getDrugPlans(),as:'plan'}
                    <tr>
                        <td>${plan.drug}</td>
                        <td>${plan.drug.unitPrice}</td>
                        <td>${plan.countTimes()}</td>
                        <td>${plan.price}</td>
                    </tr>
                #{/list}
            #{/elseif}
            #{elseif history.typeId ==6 }
                #{list items:history.getInspection().inspectionDrugs,as:'drug'}
                    <tr>
                        <td>${drug.drug}</td>
                        <td>${drug.drug.unitPrice}</td>
                        <td>${drug.countTimes()}</td>
                        <td>${drug.price}</td>
                    </tr>
                #{/list}
            #{/elseif}
            </table>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">
            <input type="checkbox" style="margin: 0 4px" id="isCustomer">Байгууллага:
        </label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="customerNo" value="" disabled>
            <small class="form-text text-muted" id="CustomerInfo"></small>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Нийт үнэ:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="totalPrice"
                   value="${controllers.Functions.getDecimal(history.payment)}" numberval="${history.payment}" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="discount" class="col-sm-5 col-form-label title">Хөнгөлөлт: </label>

        <div class="input-group col-sm-7">
            <input type="text" class="form-control form-control-sm"
                   id="discount" ${history.historyLogRels.size()>0?'disabled':''} value="0">

            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
            </div>
        </div>
        <label class="col-sm-6"></label>
    #{if history.historyLogRels.size()>0}
        <small id="discountHelp" class="form-text text-muted">${history.discount}% хөнгөлөлт бодогдсон байгаа.</small>
    #{/if}
    #{else }
        <small class="form-text text-muted">Хөнгөлөлт(<span id="discountVal">0</span>₮)</small>
    #{/else}
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Бэлнээр:</label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="cashPay" numberval="${history.payment}"
                   value="${controllers.Functions.getDecimal(history.payment)}">
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">
            <input type="checkbox" style="margin: 0 4px" id="cardPaying">Картаар:
        </label>

        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="cardPay" value="0" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="registerNumber" class="col-sm-5 col-form-label title">Үлдэгдэл:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" id="borrow" value="0" disabled>
        </div>
    </div>
    <div class="modal-footer" id="footer">
        <button type="button" class="btn btn-secondary" id="closeBtn" onclick="closeBtn()">хаах</button>
        <button type="button" class="btn btn-secondary" id="printBtn" disabled>Хэвлэх</button>
        <button type="button" class="btn btn-primary" id="saveBtn" onclick="confirmButton(${history.id})">Хадгалах</button>
    </div>
</div>

<script>
    var totalPriceSpan = $('input#totalPrice');
    var cardPayInput = $('input#cardPay');
    var discountInput = $('input#discount');
    var nowPayInput = $('input#cashPay');
    var borrowInput = $('input#borrow');

    $('input#discount').on('blur', function () {
        if ($(this).val() == '') {
            $(this).val('0');
            discountCalculate();
        }
    }).on('click', function () {
        $(this).val("");
        borrowInput.attr('disabled', 'disabled').val('0');
        cardPayInput.val('0');
        $('input#cashPay').attr('numberval', totalPriceSpan.attr('numberval')).val(getDecimalPay(totalPriceSpan.attr('numberval')));
        $('input#borrowing').prop('checked', false);
    }).keyup(function (e) {
        if ($(this).val() > 100) $(this).val('100');
        discountCalculate();
    }).forceNumericOnlyLength(3);

    function discountCalculate() { // хөнгөлөлт бодох функц
        if (discountInput.val().length > 0 && discountInput.val() > 0) {
            var calcVal = totalPriceSpan.attr('numberval') - parseInt(parseInt(totalPriceSpan.attr('numberval')) * discountInput.val() / 100);
            $('input#cashPay').attr('numberval', calcVal).val(getDecimalPay(calcVal));
            $('input#cardPay').val('0');
            $('input#borrow').val('0');
            $('#discountVal').html(getDecimalPay(parseInt(parseInt(totalPriceSpan.attr('numberval')) * discountInput.val() / 100)));
        } else {
            $('input#cashPay').attr('numberval', totalPriceSpan.attr('numberval')).val(getDecimalPay(totalPriceSpan.attr('numberval')));
            $('input#cardPay').attr('numberval', 0).val('0');
            $('input#borrow').val('0');
            $('#discountVal').html('0');
        }
    }

    $('input#cardPaying').on('change', function () {
        var balance = parseInt(borrowInput.val().replace(/'/g, ""));
        var numberval = parseInt(nowPayInput.attr('numberval'));

        if ($(this).prop('checked') == true) {
            cardPayInput.removeAttr('disabled');
            cardPayInput.val(numberval - balance)
            nowPayInput.val('0');

        } else {
            cardPayInput.attr('disabled', 'disabled');
            cardPayInput.val('0');
            nowPayInput.val(numberval - balance);
        }
    });

    $('input#cardPay').keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 ||
        key == 9 ||
        key == 46 ||
        (key >= 37 && key <= 40) ||
        (key >= 48 && key <= 57) ||
        (key >= 96 && key <= 105));
    }).keyup(function (e) {
        if ($(this).val() == '') $(this).val('0');

        if ($(this).val().length > 0) {
            var card = parseInt($(this).val().replace(/'/g, ""));
            var cash = parseInt(nowPayInput.val().replace(/'/g, ""));
            var numberval = parseInt(nowPayInput.attr('numberval'));


            if (card >= parseInt(nowPayInput.attr('numberval'))) {
                nowPayInput.val('0');
                cardPayInput.val(numberval);
                borrowInput.val('0');
            } else {
                cash = numberval < cash + card ? numberval - card : cash;
                var balance = numberval - (card + cash);

                $('input#borrow').val(getDecimalPay(balance));
                $('input#cashPay').val(getDecimalPay(cash));
                $(this).val(getDecimalPay($(this).val()));
            }
        }
    });

    $('input#cashPay').keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 ||
        key == 9 ||
        key == 46 ||
        (key >= 37 && key <= 40) ||
        (key >= 48 && key <= 57) ||
        (key >= 96 && key <= 105));
    }).keyup(function (e) {
        if ($(this).val().length > 0) {
            var cash = parseInt($(this).val().replace(/'/g, ""));
            var card = parseInt(cardPayInput.val().replace(/'/g, ""));
            var numberval = parseInt(nowPayInput.attr('numberval'));

            if (cash >= parseInt(nowPayInput.attr('numberval'))) {
                nowPayInput.val(numberval);
                cardPayInput.val('0');
                borrowInput.val('0');
            } else {
                card = numberval < card + cash ? numberval - cash : card;
                var balance = numberval - (cash + card);

                $('input#borrow').val(getDecimalPay(balance));
                $('input#cardPay').val(getDecimalPay(card));
                $(this).val(getDecimalPay($(this).val()));
            }
        } else discountCalculate();
    });

    function getDecimalPay(numval) {
        numval = numval + "";
        var cde = 1, vv = "";
        for (var i = 0; i < numval.length; i++) {
            if (numval.charAt(i) != "'")vv += numval.charAt(i);
        }
        numval = vv;

        while (numval.charAt(0) == '0') {
            if (numval.length == 1) { break };
            numval = numval.substr(1, numval.length-1)
        }
        vv = "";

        for (i = numval.length - 1; i >= 0; i--) {
            if (i != 0 && cde == 3) {
                vv += numval.charAt(i) + "'";
                cde = 1;
            } else {
                vv += numval.charAt(i);
                cde++;
            }
        }
        numval = "";
        for (var i = vv.length - 1; i >= 0; i--) {
            numval += vv.charAt(i);
        }
        return numval;
    }

    $('input#isCustomer').on('change', function () {
        if ($(this).prop('checked') == true) {
            $("input#customerNo").removeAttr('disabled');
            $("input#customerNo").forceNumericOnlyLength(7);
        } else {
            $("input#customerNo").attr('disabled', 'disabled');
            $("input#customerNo").val('');
        }
    });

    $('input#customerNo').blur(function () {
        if ($(this).val().length < 7 && $(this).val().length != 0) {
            showErrorMessage("Байгууллагын регистрын дугаар 7 оронтой байх ёстой!");
            $(this).focus();
        }
    }).keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
                key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 37 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
    }).keyup(function () {
        if ($(this).val().length === 7) {
            $.ajax({
                type: "POST",
                url: "/ebarimtCheckCustomerNo",
                data: {
                    customerNo: $(this).val()
                },
                beforeSend: function () {
                    $("#CustomerInfo").html("хайж байна...");
                },
                success: function (data) {
                    $("#CustomerInfo").html(data);
                    console.log("success - " + data);
                },
                error: function (data) {
                    $("#CustomerInfo").html("Шалгах явцад алдаа гарлаа");
                    $(this).val("");
                    console.log("error - " + data);
                }
            });
        }
    });
</script>