#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
    #{alertMessages /}
#{/set}
<h3 style="margin-bottom: 10px;" class="text-center">${t_type==1?'Эмчилгээний':t_type==2?'Үзлэгийн':'Орны'} тариф нэмэх</h3>

<form action="@{create}" class="form-horizontal" role="form" id="form_tariff" method="post" accept-charset="utf-8" enctype="multipart/form-data">

    <div class="form-group row">
        <label for="code" class="col-sm-4 col-form-label req title">Код</label>
        <div class="col-sm-6">
            <input type="text" name="object.code" class="form-control" id="code" value="${object?.code}">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-4 col-form-label req title">Тайлбар</label>
        <div class="col-sm-6">
            <input type="text" name="object.description" class="form-control" id="description" value="${object?.description}">
        </div>
    </div>
    <div class="form-group row">
        <label for="measureUnit" class="col-sm-4 col-form-label req title">Хэмжих нэгж</label>
        <div class="col-sm-6">
            <input type="text" name="object.measureUnit" class="form-control" id="measureUnit" value="${object?.measureUnit}">
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-4 col-form-label req title">Үнэ</label>
        <div class="col-sm-6">
            <input type="number" name="object.price" class="form-control" id="price" value="${object?.price}">
        </div>
    </div>
    <input type="hidden" value="${t_type}" name="object.tariffType">
    #{if object!=null}
    <input type="hidden" value="${object?.id}" name="object.tariffType">
    #{/if}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Хадгалах</button>
    </div>
</form>
<script>
    $(document).ready(function (){
        $('form#form_tariff').submit(function (event) {
            if ($('input#description').val().length < 1) {
                showErrorMessage("Тайлбар оруулна уу!");
                return false;
            } else if ($('input#price').val().length < 1) {
                showErrorMessage("Үнэ хоосон байна!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>