#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set activeClass:4/}
<div class="my-list">
    <div class="row">
        <a href="@{Tariffs.blank(null, t_type)}" style="display: block !important; margin-right: 0 !important; margin-left: auto !important;"
                class="btn btn-success btn-small">${t_type==1?'Эмчилгээний':t_type==2?'Үзлэгийн':'Орны'} тариф нэмэх</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th width="30px">#</th>
                <th width="20%">Код</th>
                <th width="40%">Тайлбар</th>
                <th width="20%">Хэмжих нэгж</th>
                <th width="20%">Үнэ</th>
            </tr>
            </thead>
            <tbody>
            %{count=1;}%
            #{list items:tariffs,as:'tariff'}
            <tr>
                <td>${count}</td>
                <td><a href="@{controllers.Tariffs.show(tariff.id, t_type)}">${tariff.code} <i class="fa fa-edit"></i></a></td>
                <td>${tariff}</td>
                <td>${tariff.measureUnit}</td>
                <td>${tariff.price}</td>
            </tr>
            %{count++}%
            #{/list}
            </tbody>
        </table>
    </div>
</div>
