#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
        #{alertMessages /}
#{/set}

<div id="crudShow" class="${type.name}">
    <h3 style="margin-bottom: 10px;" class="text-center">${t_type==1?'Эмчилгээний':t_type==2?'Үзлэгийн':'Орны'} тариф засах</h3>

    <div class="objectForm">
        <form action="@{create(object.id, t_type)}" class="form-horizontal" role="form" id="form_tariff" method="post"
              accept-charset="utf-8" enctype="multipart/form-data">

            <div class="form-group row">
                <label for="code" class="col-sm-4 col-form-label req title">Код</label>
                <div class="col-sm-6">
                    <input type="text" name="object.code" class="form-control" id="code" value="${object?.code}">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label req title">Тайлбар</label>
                <div class="col-sm-6">
                    <input type="text" name="object.description" class="form-control" id="description" value="${object?.description}">
                </div>
            </div>
            <div class="form-group row">
                <label for="measureUnit" class="col-sm-4 col-form-label req title">Хэмжих нэгж</label>
                <div class="col-sm-6">
                    <input type="text" name="object.measureUnit" class="form-control" id="measureUnit" value="${object?.measureUnit}">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label req title">Үнэ</label>
                <div class="col-sm-6">
                    <input type="text" name="object.price" class="form-control" id="price" value="${object?.price}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function (){
        console.log("here");
        $('form#form_tariff').submit(function (event) {
            console.log("here too" );
            if ($('input#code').val().length < 1) {
                showErrorMessage("Код оруулна уу!");
                return false;
            } else if ($('input#description').val().length < 1) {
                showErrorMessage("Тайлбар оруулна уу!");
                return false;
            } else if ($('input#measureUnit').val().length < 1) {
                showErrorMessage("Хэмжих нэгж оруулна уу!");
                return false;
            } else if ($('input#price').val().length < 1) {
                showErrorMessage("Үнэ хоосон байна!");
                return false;
            } else {
                return true;
            }
        });
    });
</script>