
<div class="row" name="pulse">
    <div class="col-sm-4 col-form-label title">Пульс (P)</div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="dayPulses" id="dayPulses" value="${object?.dayPulses}">
            </div>
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="nightPulses" id="nightPulses" value="${object?.nightPulses}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="1" min="45" max="150" type="number" id="dayPulseInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayPulse()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayPulse()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="1" min="45" max="150" type="number" id="nightPulseInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightPulse()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightPulse()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" name="respiration">
    <div class="col-sm-4 col-form-label title">Амьсгал (R)</div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="dayRespirations" id="dayRespirations" value="${object?.dayRespirations}">
            </div>
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="nightRespirations" id="nightRespirations" value="${object?.nightRespirations}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="1" min="0" max="55" type="number" id="dayRespirationInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayRespiration()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayRespiration()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="1" min="0" max="55" type="number" id="nightRespirationInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightRespiration()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightRespiration()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" name="temperature">
    <div class="col-sm-4 col-form-label title">Халуун (T&#8451)</div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="dayTemperatures" id="dayTemperatures" value="${object?.dayTemperatures}">
            </div>
            <div class="col-sm-6">
                <input class="form-control form-control-sm" readonly name="nightTemperatures" id="nightTemperatures" value="${object?.nightTemperatures}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="0.1" min="35" max="41" type="number" id="dayTemperatureInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayTemperature()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayTemperature()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
            <div class="col-sm-6 input-group">
                <input class="form-control form-control-sm" step="0.1" min="35" max="41" type="number" id="nightTemperatureInput">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightTemperature()"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightTemperature()"><i class="fa fa-backspace"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" name="pressure">
    <div class="col-sm-4 col-form-label title">Цусны даралт</div>
    <div class="col-sm-4">
        <input class="form-control form-control-sm" name="dayPressure" id="dayPressure" value="${object?.dayPressure}">
    </div>
    <div class="col-sm-4">
        <input class="form-control form-control-sm" name="nightPressure" id="nightPressure" value="${object?.nightPressure}">
    </div>
</div>

<div class="row" name="meal">
    <div class="col-sm-4 col-form-label title">Хоол &#8470</div>
    <div class="col-sm-8">
        <input class="form-control form-control-sm" name="mealCount" id="mealCount" value="${object?.mealCount}">
    </div>
</div>

<div class="row" name="weight">
    <div class="col-sm-4 col-form-label title">Биеийн жин</div>
    <div class="col-sm-8 input-group-sm mb-3">
        <input class="form-control form-control-sm" name="bodyWeight" id="bodyWeight" value="${object?.bodyWeight}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button" disabled>КГ</button>
        </div>
    </div>
</div>

<div class="row" name="dung">
    <div class="col-sm-3 col-form-label title">Ялгаруулалтын давтамж/хэдэн</div>
    <div class="col-sm-1 col-form-label title">
        <div class="row">Өтгөн</div>
        <div class="row">Шээс</div>
    </div>
    <div class="col-sm-4">
        <input class="form-control form-control-sm" name="dayDung" id="dayDung" value="${object?.dayDung}">
        <input class="form-control form-control-sm" name="dayPiss" id="dayPiss" value="${object?.dayPiss}">
    </div>
    <div class="col-sm-4">
        <input class="form-control form-control-sm" name="nightDung" id="nightDung" value="${object?.nightDung}">
        <input class="form-control form-control-sm" name="nightPiss" id="nightPiss" value="${object?.nightPiss}">
    </div>
</div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4 col-form-label-sm text-center">Өгөөний ээлж</div>
            <div class="col-sm-4 col-form-label-sm text-center">Өдрийн ээлж</div>
            <div class="col-sm-4 col-form-label-sm text-center">Оройн ээлж</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-form-label title">Сувилагчид</div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control form-control-sm" name="morningNurse" id="morningNurse">
                #{list nurses, as:'nurse'}
                    <option value="${nurse.id}" ${nurse.id==object?.morningNurse?'selected':''}>${nurse}</option>
                #{/list}
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control form-control-sm" name="dayNurse" id="dayNurse">
                #{list nurses, as:'nurse'}
                    <option value="${nurse.id}" ${nurse.id==object?.dayNurse?'selected':''}>${nurse}</option>
                #{/list}
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control form-control-sm" name="eveningNurse" id="eveningNurse">
                #{list nurses, as:'nurse'}
                    <option value="${nurse.id}" ${nurse.id==object?.eveningNurse?'selected':''}>${nurse}</option>
                #{/list}
                </select>
            </div>
        </div>
    </div>
</div>