<div class="modal-header">
    <h5 class="modal-title">Амин үзүүлэлтүүд-${bedTreatment}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form  class="form-horizontal" role="form" id="settings" method="post"
accept-charset="utf-8" enctype="multipart/form-data">
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4 col-form-label title">Огноо</div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-2"></div>
                <select class=" col-sm-8 form-control form-control-sm" name="date" id="date">
                    #{list dates, as:'date'}
                    <option value="${date.format('yyyy-MM-dd')}" ${date==vital_date?'selected':''}>${date.format('yyyy-MM-dd')}</option>
                    #{/list}
                </select>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">06-18</div>
                <div class="col-sm-6 text-center">18-06</div>
            </div>
        </div>
    </div>
    <div class="col" id="blankInfo">
        <div class="row" name="pulse">
            <div class="col-sm-4 col-form-label title">Пульс (P)</div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="dayPulses" id="dayPulses" value="${object?.dayPulses}">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="nightPulses" id="nightPulses" value="${object?.nightPulses}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="1" min="45" max="150" type="number" id="dayPulseInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayPulse()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayPulse()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="1" min="45" max="150" type="number" id="nightPulseInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightPulse()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightPulse()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" name="respiration">
            <div class="col-sm-4 col-form-label title">Амьсгал (R)</div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="dayRespirations" id="dayRespirations" value="${object?.dayRespirations}">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="nightRespirations" id="nightRespirations" value="${object?.nightRespirations}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="1" min="0" max="55" type="number" id="dayRespirationInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayRespiration()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayRespiration()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="1" min="0" max="55" type="number" id="nightRespirationInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightRespiration()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightRespiration()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" name="temperature">
            <div class="col-sm-4 col-form-label title">Халуун (T&#8451)</div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="dayTemperatures" id="dayTemperatures" value="${object?.dayTemperatures}">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control form-control-sm" readonly name="nightTemperatures" id="nightTemperatures" value="${object?.nightTemperatures}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="0.1" min="35" max="41" type="number" id="dayTemperatureInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addDayTemperature()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeDayTemperature()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6 input-group">
                        <input class="form-control form-control-sm" step="0.1" min="35" max="41" type="number" id="nightTemperatureInput">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="addNightTemperature()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-secondary btn-sm" type="button" onclick="removeNightTemperature()"><i class="fa fa-backspace"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" name="pressure">
            <div class="col-sm-4 col-form-label title">Цусны даралт</div>
            <div class="col-sm-4">
                <input class="form-control form-control-sm" name="dayPressure" id="dayPressure" value="${object?.dayPressure}">
            </div>
            <div class="col-sm-4">
                <input class="form-control form-control-sm" name="nightPressure" id="nightPressure" value="${object?.nightPressure}">
            </div>
        </div>

        <div class="row" name="meal">
            <div class="col-sm-4 col-form-label title">Хоол &#8470</div>
            <div class="col-sm-8">
                <input class="form-control form-control-sm" name="mealCount" id="mealCount" value="${object?.mealCount}">
            </div>
        </div>

        <div class="row" name="weight">
            <div class="col-sm-4 col-form-label title">Биеийн жин</div>
            <div class="col-sm-8 input-group-sm mb-3">
                <input class="form-control form-control-sm" name="bodyWeight" id="bodyWeight" value="${object?.bodyWeight}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="button" disabled>КГ</button>
                </div>
            </div>
        </div>

        <div class="row" name="dung">
            <div class="col-sm-3 col-form-label title">Ялгаруулалтын давтамж/хэдэн</div>
            <div class="col-sm-1 col-form-label title">
                <div class="row">Өтгөн</div>
                <div class="row">Шээс</div>
            </div>
            <div class="col-sm-4">
                <input class="form-control form-control-sm" name="dayDung" id="dayDung" value="${object?.dayDung}">
                <input class="form-control form-control-sm" name="dayPiss" id="dayPiss" value="${object?.dayPiss}">
            </div>
            <div class="col-sm-4">
                <input class="form-control form-control-sm" name="nightDung" id="nightDung" value="${object?.nightDung}">
                <input class="form-control form-control-sm" name="nightPiss" id="nightPiss" value="${object?.nightPiss}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 col-form-label-sm text-center">Өгөөний ээлж</div>
                    <div class="col-sm-4 col-form-label-sm text-center">Өдрийн ээлж</div>
                    <div class="col-sm-4 col-form-label-sm text-center">Оройн ээлж</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-form-label title">Сувилагчид</div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" name="morningNurse" id="morningNurse">
                        #{list nurses, as:'nurse'}
                            <option value="${nurse.id}" >${nurse}</option>
                        #{/list}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" name="dayNurse" id="dayNurse">
                        #{list nurses, as:'nurse'}
                            <option value="${nurse.id}" ${nurse.id==object?.dayNurse?'selected':''}>${nurse}</option>
                        #{/list}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control form-control-sm" name="eveningNurse" id="eveningNurse">
                        #{list nurses, as:'nurse'}
                            <option value="${nurse.id}" ${nurse.id==object?.eveningNurse?'selected':''}>${nurse}</option>
                        #{/list}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" id="footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
    <button type="submit" class="btn btn-primary">Хадгалах</button>
</div>
</form>
<script>
    $(document).ready(function () {
        $("input#dayPulseInput").forceNumericOnlyLength(3);
        $("input#nightPulseInput").forceNumericOnlyLength(3);
        $("input#dayRespirationInput").forceNumericOnlyLength(2);
        $("input#nightRespirationInput").forceNumericOnlyLength(2);
        $("input#mealCount").forceNumericOnlyLength(1);
        $("input#bodyWeight").forceNumericOnlyLength(3);
        $('select#date').on('change', function () {
            var date = $(this).val();
            $.ajax({
                type: "POST",
                url: "/vitalIndicesBlankInfo",
                data:{
                    bt_id: ${bedTreatment.id},
                    date: date
                },
                success: function (data) {
                    console.log(date);
                    $('div#blankInfo').html(data);
                    $('form#settings').attr('action','/vitalindices/create?date=' +date+ '&id=' + ${bedTreatment.id});
                }
            });
        });
        $("form#settings").on('submit',function () {
            var date = $("select#date").val();
            var dayPulses = $("input#dayPulses").val();
            var nightPulses = $("input#nightPulses").val();
            var dayRespirations = $("input#dayRespirations").val();
            var nightRespirations = $("input#nightRespirations").val();
            var dayTemperatures = $("input#dayTemperatures").val();
            var nightTemperatures = $("input#nightTemperatures").val();
            var dayPressure = $("input#dayPressure").val();
            var nightPressure = $("input#nightPressure").val();
            var mealCount = $("input#mealCount").val();
            var bodyWeight = $("input#bodyWeight").val();
            var dayDung = $("input#dayDung").val();
            var nightDung = $("input#nightDung").val();
            var dayPiss = $("input#dayPiss").val();
            var nightPiss = $("input#nightPiss").val();
            var morningNurse = $("select#morningNurse").val();
            var dayNurse = $("select#dayNurse").val();
            var eveningNurse = $("select#eveningNurse").val();
            if ($("input#dayPulses").val().length < 1) {
                showErrorMessage("06-18 даралтын утга оруулна уу!");
                return false;
            } else if ($("input#nightPulses").val().length < 1) {
                showErrorMessage("18-06 даралтын утга оруулна уу!");
                return false;
            } else if ($("input#dayRespirations").val().length < 1) {
                showErrorMessage("06-18 амьсгалын утга оруулна уу!");
                return false;
            } else if ($("input#nightRespirations").val().length < 1) {
                showErrorMessage("18-06 амьсгалын утга оруулна уу!");
                return false;
            } else if ($("input#dayTemperatures").val().length < 1) {
                showErrorMessage("06-18 дулааны утга оруулна уу!");
                return false;
            } else if ($("input#nightTemperatures").val().length < 1) {
                showErrorMessage("18-06 дулааны утга оруулна уу!");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/vitalIndicesCreate",
                data: {
                    id: ${bedTreatment.id},
                    date: date,
                    dayPulses: dayPulses,
                    nightPulses: nightPulses,
                    dayRespirations: dayRespirations,
                    nightRespirations: nightRespirations,
                    dayTemperatures: dayTemperatures,
                    nightTemperatures: nightTemperatures,
                    dayPressure: dayPressure,
                    nightPressure: nightPressure,
                    mealCount: mealCount,
                    bodyWeight: bodyWeight,
                    dayDung: dayDung,
                    nightDung: nightDung,
                    dayPiss: dayPiss,
                    nightPiss: nightPiss,
                    morningNurse: morningNurse,
                    dayNurse: dayNurse,
                    eveningNurse: eveningNurse
                },
                beforeSend: function () {
                    showSuccessMessage("ajax sent");
                },
                success: function (data) {
                    if (data == "success") {
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                    }  else showErrorMessage("Хадгалагдаагүй. Алдаа гарлаа!");
                },
                error: function () {
                    showErrorMessage("There were error");
                }
            });
            return false;
        });
    });

    // pulses-start
    function addDayPulse() {
        if ($("input#dayPulseInput").val().length > 0) {
            if ($("input#dayPulses").val().length === 0) {
                var str = "";
            } else var str = $("input#dayPulses").val() + ", ";
            str += $("input#dayPulseInput").val();
            $("input#dayPulses").val(str);
            $("input#dayPulseInput").val("");
        }
    }

    function removeDayPulse() {
        $("input#dayPulses").val("");
    }

    function addNightPulse() {
        if ($("input#nightPulseInput").val().length > 0) {
            if ($("input#nightPulses").val() == '') {
                var str = "";
            } else var str = $("input#nightPulses").val() + ", ";
            str += $("input#nightPulseInput").val();
            $("input#nightPulses").val(str);
            $("input#nightPulseInput").val("");
        }
    }

    function removeNightPulse() {
        $("input#nightPulses").val("");
    }
    //pulses-end

    // respiration-start
    function addDayRespiration() {
        if ($("input#dayRespirationInput").val().length > 0) {
            if ($("input#dayRespirations").val() == '') {
                var str = "";
            } else var str = $("input#dayRespirations").val() + ", ";
            str += $("input#dayRespirationInput").val();
            $("input#dayRespirations").val(str);
            $("input#dayRespirationInput").val("");
        }
    }
    function removeDayRespiration() {
        $("input#dayRespirations").val("");
    }

    function addNightRespiration() {
        if ($("input#nightRespirationInput").val().length > 0) {
            if ($("input#nightRespirations").val() == '') {
                var str = "";
            } else var str = $("input#nightRespirations").val() + ", ";
            str += $("input#nightRespirationInput").val();
            $("input#nightRespirations").val(str);
            $("input#nightRespirationInput").val("");
        }
    }

    function removeNightRespiration() {
        $("input#nightRespirations").val("");
    }
    //respiration-end

    // temperature-start
    function addDayTemperature() {
        if ($("input#dayTemperatureInput").val().length > 0) {
            if ($("input#dayTemperatures").val() == '') {
                var str = "";
            } else var str = $("input#dayTemperatures").val() + ", ";
            str += $("input#dayTemperatureInput").val();
            $("input#dayTemperatures").val(str);
            $("input#dayTemperatureInput").val("");
        }
    }
    function removeDayTemperature() {
        $("input#dayTemperatures").val("");
    }

    function addNightTemperature() {
        if ($("input#nightTemperatureInput").val().length > 0) {
            if ($("input#nightTemperatures").val() == '') {
                var str = "";
            } else var str = $("input#nightTemperatures").val() + ", ";
            str += $("input#nightTemperatureInput").val();
            $("input#nightTemperatures").val(str);
            $("input#nightTemperatureInput").val("");
        }
    }

    function removeNightTemperature() {
        $("input#nightRespirations").val("");
    }
    //temperature-end
</script>