#{extends 'CRUD/layout.html' /}
#{set activeMenu:'UserManage'/}
#{set activeMenuSub: 'edit'/}
#{alertMessages /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/plugins/jcrop/jquery.Jcrop.min.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/public/plugins/fine-uploader/fine-uploader.css'}"/>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crop.css'}"/>
<style>
    .register {
        height: 36px;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/plugins/fine-uploader/fine-uploader.min.js'}" type="text/javascript"></script>
<script src="@{'/public/plugins/jcrop/jquery.Jcrop.min.js'}" type="text/javascript"></script>
<script src="@{'/public/js/validateOnlyNumber.js'}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('select#aimag').on('change', function () {
            if($(this).val()>0) {
                $.ajax({
                    type: "POST",
                    data: "id=" + $(this).val(),
                    url: "/loadSumName",
                    success: (function (data) {
                        $('select#sumName').html(data);
                        $('select#bag').html(
                                "<option value='0'>Сум, дүүргээ сонгоно уу!</option>"
                        );
                    })
                });
            } else {
                $('select#sumName').html(
                    "<option value='0'>Аймаг, хотоо сонгоно уу!</option>"
                );
                $('select#bag').html(
                    "<option value='0'>Сум, дүүргээ сонгоно уу!</option>"
                );
            }
        });
        $('select#sumName').on('change', function () {
            if($(this).val()>0) {
                $.ajax({
                    type: "POST",
                    data: "id=" + $(this).val(),
                    url: "/loadBagName",
                    success: (function (data) {
                        $('select#bag').html(data);
                    })
                });
            } else {
                $('select#bag').html(
                        "<option value='0'>Сум, дүүргээ сонгоно уу!</option>"
                );
            }
        });
    });



    $(document).ready(function () {


        $('ul.uploadBox li button').on('click', function () {
            selectedUbox = $(this).closest("ul").attr('id');
            $("div#upload-button-multi input").prop("multiple", true).prop("accept", false).click();
        });
        $('div#main-content input.object_latin').bind('keyup', function () {
            $(this).val($(this).val().replace(/[^a-zA-Z0-9._]/i, ""))
        });

        var uploaderSingle = new qq.FineUploaderBasic({
            button: document.getElementById('upload-button'),
            debug: true,
            request: {
                params: {uploadPath: '/public/images/hospitalLogos/', ratio: "600x600"},
                endpoint: '@{FileUploader.uploadFileCustom}'
            },
            thumbnails: {
                placeholders: {
                    waitingPath: "@{'/public/plugins/fine-uploader/placeholders/waiting-generic.png'}",
                    notAvailablePath: "@{'/public/plugins/fine-uploader/placeholders/not_available-generic.png'}",
                }
            },
            callbacks: {
                onComplete: function (id, name, responseJSON, xhr) {
                    console.log("responseJSON:" + JSON.stringify(responseJSON));
                    this.setDeleteFileParams({
                        fileDir: responseJSON.filedir + "." + responseJSON.extension
                    }, id);
                    $("input#object_logo").val(responseJSON.filedir + "." + responseJSON.extension);
                    $("img#image-avatar").attr('src', responseJSON.filedir + "." + responseJSON.extension);
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });

        $('input#phone1').forceNumericOnlyLength(8);
        $('input#phone2').forceNumericOnlyLength(8);
        $('input#object_register').forceNumericOnlyLength(8);

        $('div#main-content form#settings').submit(function (event) {
            if ($('input#object_logo').val()==null) {
                showErrorMessage("Зургаа оруулна уу!");
                return false;
            } else if ($('input#lastName').val().length < 1) {
                showErrorMessage("Эцэг, эхийн нэр бичнэ үү!");
                return false;
            } else if ($('input#firstName').val().length < 1) {
                showErrorMessage("Нэр бичнэ үү!");
                return false;
            } else if (($('input#object_register').val().length !== 8 || isNaN(parseInt($('input#object_register').val())))) {
                showErrorMessage("Регистрийн дугаараа зөв оруулна уу!");
                return false;
            } else if ($('select#userRole').val() == 0) {
                showErrorMessage("Эрх сонгоно уу!");
                return false;
            } else if ($('select#hospital').val() == 0) {
                showErrorMessage("Байгууллага сонгоно уу!");
                return false;
            } else if ($('input#phone1').val().length !== 8 || isNaN(parseInt($('input#phone1').val()))) {
                showErrorMessage("Утасны дугаар 1 зөв оруулна уу!");
                return false;
            } else if ($('input#phone2').val().length > 0 && ($('input#phone2').val().length !== 8 || isNaN(parseInt($('input#phone1').val())))) {
                showErrorMessage("Утасны дугаар 2 зөв оруулна уу!");
                return false;
            } else if ($('input#address').val().length < 1) {
                showErrorMessage("Хаяг оруулна уу!");
                return false;
            }

            #{if user.isRoleAdmin() || user.isManager}
                if ($('input#username').val().length < 1) {
                    showErrorMessage("Нэвтрэх нэр бичнэ үү!");
                    return false;
                } else if ($('input#password').val().length < 1) {
                    showErrorMessage("Нууц үг бичнэ үү!");
                    return false;
                }
            #{/if}
            return true;
        });
        #{if flash.error || error}
            showErrorMessage('${error ?: flash.error}');
        #{/if}
    });
</script>
#{/set}
<h3 style="margin-bottom: 10px;" class="text-center">Эмнэлгийн мэдээлэл</h3>

<form action="@{create(object?.id)}" class="form-horizontal" role="form" id="settings" method="post"
      accept-charset="utf-8" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="logo" class="col-sm-4 col-form-label req title">Зураг:</label>
        <div class="col-sm-8" id="logo">
            <ul class="list-unstyled profile-nav col-md-3">
                <li>
                    <img style="cursor: pointer; width: 200px; height: 200px"
                         src="${object?.logo}"
                         id="image-avatar"/>
                </li>
                <div id="upload-button" class="btn btn-primary">
                    <div>Зураг хуулах</div>
                </div>
            </ul>
        </div>
        <input type="hidden" id="object_logo" name="object.logo"
               value="${object?.logo}"/>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-4 col-form-label req title">Нэр</label>
        <div class="col-sm-8">
            <input type="text" name="object.name" class="form-control" id="name" value="${object?.name}">
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label req title">Үйл ажиллагааны чиглэл</label>
        <div class="col-sm-8">
            <input type="text" name="object.direction" class="form-control" id="direction" value="${object?.direction}">
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label title req">Утас</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" name="object.phone" id="phone" value="${object?.phone}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label title">И-мэйл</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" name="object.email" id="email" value="${object?.email}">
        </div>
    </div>
    <div class="form-group row">
        <label for="districtCode" class="col-sm-4 col-form-label title">Татварын албаны орон нутгийн код</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="object.districtCode" id="districtCode" value="${object?.districtCode}">
        </div>
    </div>
    <div class="form-group row">
        <label for="aimag" class="col-sm-4 col-form-label title">Аймаг, хот</label>
        <div class="col-sm-2">
            <select name="object.aimag.id" id="aimag" class="form-control">
                <option value="0">Сонгоно уу!</option>
            #{list items:aimags,as:'aimag'}
                <option value="${aimag.id}" ${aimag.id==object?.aimag?.id?'selected':''}>${aimag}</option>
            #{/list}
            </select>
        </div>
        <label for="sumName" class="col-sm-1 col-form-label title">Сум</label>
        <div class="col-sm-2">
            <select name="object.sumName.id" id="sumName" class="form-control">
                <option value="0">Аймаг, хотоо сонгоно уу!</option>
            #{list items:sumNames,as:'sum'}
                <option value="${sum.id}" ${sum.id==object.sumName.id?'selected':''}>${sum}</option>
            #{/list}
            </select>
        </div>
        <label for="bag" class="col-sm-1 col-form-label title">Баг</label>
        <div class="col-sm-2">
            <select name="object.bag.id" id="bag" class="form-control">
                <option value="0">Сум, дүүргээ сонгоно уу!</option>
            #{list items:bags,as:'bag'}
                <option value="${bag.id}" ${bag.id==object.bag.id?'selected':''}>${bag}</option>
            #{/list}
            </select>
        </div>
        <label for="address" class="col-sm-4 col-form-label title"></label>
        <div class="col-sm-8">
            <textarea type="text" rows="2" name="object.address" class="form-control" id="address" placeholder="Хаяг"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="phone" class="col-sm-4 col-form-label title ">Байршил</label>
        <div class="col-sm-4">
            <input type="number" name="object.longitude" class="form-control" id="longitude" placeholder="Уртраг"
                   value="${object?.longitude}">
        </div>
        <div class="col-sm-4">
            <input type="number" name="object.latitude" class="form-control" id="latitude" placeholder="Өргөрөг"
            value="${object?.latitude}">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
    </div>
</form>