#{extends 'CRUD/layout.html' /}
#{set activeMenu:type.name/}
#{set title:messages.get('crud.list.title', type.name) /}
#{set activeMenuSub: 'HospitalList'/}
#{set 'moreStyles'}
<style>
    .search-user {
        font-size: 20px;
        border-bottom: 1px solid #dadada;
        padding-bottom: 8px;
    }

    .member {
        margin-top: 0;
        margin-bottom: 20px;
        border: 1px solid #EBEBEB;
        padding: 15px;
        -moz-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        -webkit-box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        box-shadow: 1px 1px 1px rgba(0, 1, 1, 0.03);
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-right: 10px;
    }

    .member-entry img {
        max-width: 96px;
        max-height: 160px;
    }

</style>
#{/set}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3" id="status-row">

                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <h4 class="search-user">Хайлтын шүүлтүүр</h4>
                    </div>
                    <div class="col-md-12 m-b-20">
                        <input type="text" id="name" class="form-control" placeholder="Эмнэлгийн нэр"
                               value="${nameSearch}">
                    </div>
                    <div class="col-md-12 m-b-10">
                        <div class="row-fluid">
                            <label>
                                <input type="radio" name="activeCheck" checked id="isActive"> Системд бүртгэлтэй
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label>
                                <input type="radio" name="activeCheck" id="nonActive"> Системээс хасагдсан
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 m-b-40">
                        <button class="btn btn-success" onclick="list(1)" type="button" style="width: 100%">Шүүх
                        </button>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <h4 class="search-user">Эмнэлэг бүртгэх</h4>
                    </div>
                    <div class="col-md-12 m-b-20">
                        <a href="@{blank()}" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Эмнэлэг нэмэх</a></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <h4 class="align-right search-user"><span id="countHospital"></span>
                            <small>эмнэлгүүд</small>
                        </h4>
                    </div>
                </div>
                <div id="listData"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input#userName').keyup(function (event) {
            if (event.keyCode === 13) {
                list(1);
            }
        });
        list(1);
    });

    function list(page) {
        var st = $('div#status-row');
        $.ajax({
            type: "POST",
            data: {
                CurrentPageNumber: page,
                name: st.find("#name").val(),
                isActive: st.find('#isActive').is(':checked'),
                nonActive: st.find('#nonActive').is(':checked')
            },
            url: "/hospitalListLoad",
            success: function (data) {
                $("div#listData").html(data);
            },
            beforeSend: function () {
                $("div#listData").html("<div style='width:100%; text-align: center'><img src='/public/images/ajax-horizontal.gif'/></div>");
            }
        });
    }
</script>