
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Эмнэлгийн нэр</th>
        <th>Тасаг</th>
        <th>Өрөө</th>
        <th></th>
    </tr>
    </thead>
<tbody>
%{count=1;}%
#{list items:objects,as:'object'}
        <tr>
            <td>${count}</td>
            <td><a href="@{Hospitals.show(object.id)}">${object}</a></td>
            <td><a href="@{controllers.Sectors.list(object.id)}">${object.sectors.size()}</a></td>
            <td><a href="@{controllers.Rooms.list()}">${object.rooms.size()}</a></td>
            <td><a href="@{controllers.Hospitals.blank(object.id)}">засах</a></td>
        </tr>
        %{count++}%
#{/list}
</tbody>
</table>
<script>
    $("#main-content #countHospital").html("${totalSize}");
</script>
#{if MaxPageNumber>1}
    #{include '/SharedView/pageNavigation.html'/}
<script>
    $(".page-navigation input.number-button").click(function () {
        var currentPageNumber = $(this).attr('pagenumber');
        if (currentPageNumber != ${CurrentPageNumber}) list(currentPageNumber);
    });
</script>
#{/if}