#{extends 'CRUD/layout.html' /}
#{set activeMenu:'HospitalShow'/}
#{alertMessages /}
#{set 'moreStyles'}
<style>
    .register {
        height: 36px;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script>
    /**
     * some scripts
     */
</script>
#{/set}
<h3 style="margin-bottom: 10px;" class="text-center">${hospital}</h3>
<table class="table">
    <tbody>
    <tr>
        <td class="text-right">Лого:</td>
        <td><img style="cursor: pointer; width: 200px; height: 200px"
                 src="${hospital.logo}"
                 id="image-avatar"/></td>
    </tr>
    <tr>
        <td class="text-right">Үйл ажиллагааны чиглэл:</td>
        <td>${hospital.direction}</td>
    </tr>
    <tr>
        <td class="text-right">Холбогдох утас:</td>
        <td>${hospital.phone}</td>
    </tr>
    <tr>
        <td class="text-right">И-мэйл хаяг:</td>
        <td>${hospital.email}</td>
    </tr>
    <tr>
        <td class="text-right">Татварын албаны орон нутгийн код:</td>
        <td>${hospital.districtCode}</td>
    </tr>
    #{if user.isRoleAdmin()}
        <tr>
            <td class="text-right">Бүртгүүлсэн огноо:</td>
            <td>${hospital.regDate}</td>
        </tr>
    #{/if}
    <tr>
        <td class="text-right">Хаяг:</td>
        <td>${address}</td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="moduleSettings" tabindex="-1" role="dialog" aria-labelledby="moduleSettingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modules">
            <div class="modal-header">
                <h5 class="modal-title">Хэрэглэх модулиуд</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-control row">
                    <div class="col col-8">
                    <select id="modules" class="form-control selectpicker" data-live-search="true" multiple
                            title="Сонгох">

                    #{list items:modules,as:'module'}
                        <option value="${module.id}" ${hospital?.checkModule(module.value)?'selected':''}>${module}</option>
                    #{/list}
                    </select>
                    </div>
                </div>
                <div class="form-control row">
                    <div class="col col-8">
                        <input type="number" id="portNumber" min="1025" max="32767" value="${hospital?.portNumber}">
                    </div>
                </div>
            </div>
            <input type="hidden" id="modules_list">
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
                <button type="button" class="btn btn-primary" onclick="confirmModules()">Хадгалах</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-group justify-content-center">
#{if user.isRoleAdmin()}
<a href="@{blank(hospital.id)}" class="centered btn btn-outline-primary">Засах</a>
<button class="btn btn-outline-primary" onclick="modules()">Модуль</button>
#{/if}
#{if user.isManager}
    #{if hospital.checkModule(1)} <!--Амбулаторийн эрхтэй эсэх-->
        <a href="@{Sectors.list(hospital.id)}" class="centered btn btn-outline-primary">Тасаг</a>
        <a href="@{Tariffs.list(1)}" class="centered btn btn-outline-primary">Эмчилгээний тариф</a>
        <a href="@{Tariffs.list(2)}" class="centered btn btn-outline-primary">Үзлэгийн тариф</a>
        <a href="@{Complaints.list()}" class="centered btn btn-outline-primary">Зовиур<span
                class="small">(${hospital.complaints.size()})</span></a>
        <a href="@{HospitalDrugs.list()}" class="centered btn btn-outline-primary">Эм тариа<span
                class="small">(${hospital.drugs.size()})</span></a>
        <a href="@{Repeats.list()}" class="centered btn btn-outline-primary">Эмчилгээний давтамж</a>
        <a href="@{HospitalDiagnoses.list()}" class="centered btn btn-outline-primary">Онош</a>
    #{/if}

    #{if hospital.checkModule(2)} <!--Хэвтэн эмчлүүлэх эрхтэй эсэх-->
    <a href="@{Rooms.list()}" class="centered btn btn-outline-primary">Өрөө<span
            class="small">(${hospital.rooms.size()})</span></a>
    <a href="@{controllers.Tariffs.list(3)}" class="centered btn btn-outline-primary">Орны тариф</a>
    #{/if}
</div>
#{/if}
<script>
    function modules() {
        $('#moduleSettings').modal('toggle');
    }
    function confirmModules() {
        $('input#modules_list').val($('select#modules').val() + ",");
        $.ajax({
            type: "POST",
            data: {
                id: ${hospital.id},
                hospitalModules: $('input#modules_list').val(),
                port: $('input#portNumber').val()
            },
            url: "/changeModules",
            success: function (data) {
                if (data == "success")
                    showSuccessMessage("Амжилттай хадгалагдлаа");
                $('#moduleSettings').modal('toggle');
            }
        });
    }

</script>