#{extends 'CRUD/layout.html' /}

<div class="form-group row">
    <div class="col-sm-7">
        <h3><span class="badge badge-pill">ӨВЧНИЙ ТҮҮХ №:  - ${object.customer.firstName}(${object.bed.room.roomNum}
            - ${object.bed.bedNum})</span></h3>
    </div>
    <div class="col-sm-5">
        <button type="button" class="btn btn-success" style="float: right; margin-top: 20px"> Хадгалах</button>
    </div>

</div>