#{extends 'CRUD/layout.html' /}
%{answers = bedTreatment.diseaseHistory.dhAnswers}%

<div class="form-group row">
    <div class="col-sm-9">
        <h3><span class="badge badge-pill">ӨВЧНИЙ ТҮҮХ №:  - ${bedTreatment.customer.firstName}
            (${bedTreatment.bed.room.roomNum}
            - ${bedTreatment.bed.bedNum})</span></h3>
    </div>
</div>

#{form action:@create(bedTreatment.id), enctype:'multipart/form-data',class:'form-horizontal'}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    *{<a class="nav-item nav-link" id="nav-generalinfo-tab" data-toggle="tab" href="#generalInfo" role="tab"}*
    *{aria-controls="generalInfo" aria-selected="true">Үндсэн мэдээлэл</a>}*
        <a class="nav-item nav-link active" id="nav-anamnez-tab" data-toggle="tab" href="#anamnez" role="tab"
           aria-controls="anamnez" aria-selected="true">Эмчлүүлэгчийн анамнез</a>
        <a class="nav-item nav-link" id="nav-generalinspec-tab" data-toggle="tab" href="#generalInspec" role="tab"
           aria-controls="generalInspec" aria-selected="false">Ерөнхий үзлэг</a>
        <a class="nav-item nav-link" id="nav-doctorinspec-tab" data-toggle="tab" href="#doctorInspec" role="tab"
           aria-controls="doctorInspec" aria-selected="false">Дотор эмчийн үзлэг</a>
        <a class="nav-item nav-link" id="nav-clinicdiagnose-tab" data-toggle="tab" href="#clinicDiagnose" role="tab"
           aria-controls="clinicDiagnose" aria-selected="false">К/урьдчилсан онош</a>
        <a class="nav-item nav-link" id="nav-diagnoseundeslel-tab" data-toggle="tab" href="#diagnoseUndeslel" role="tab"
           aria-controls="diagnoseUndeslel" aria-selected="false">К/оношийн үндэслэл</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
*{<div class="tab-pane fade" id="generalInfo" role="tabpanel" aria-labelledby="nav-generalinfo-tab">}*
*{<div class="card-body">}*
*{<h4><span class="badge badge-info">Ерөнхий мэдээлэл</span></h4>}*
*{</div>}*
*{</div>}*
    <div class="tab-pane fade show active" id="anamnez" role="tabpanel" aria-labelledby="nav-anamnez-tab">

        <div class="card-body">
            <h4><span class="badge badge-info">Эмчлүүлэгчийн анамнез</span></h4>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"
                       for="4">${answers.get(4).dhQuestion.name}</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="multiAnswer" multiple id="4"
                            title="Сонгох">
                        #{list items:hospital.complaints, as:'complaint'}
                            <option>${complaint.name}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="5">${answers.get(5).dhQuestion.name}:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="inputAnswer" rows="1"
                              id="5">${answers.get(5).answer}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="6">${answers.get(6).dhQuestion.name}:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="inputAnswer" rows="1"
                              id="6">${answers.get(6).answer}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="7">${answers.get(7).dhQuestion.name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="7" title="Сонгох">
                        #{list items:answers.get(7).dhQuestion.getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="8">${questions.get(8).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="8" title="Сонгох">
                        #{list items:answers.get(8).dhQuestion.getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <hr>
            <h6>Урьд өвчилсөн өвчин эмгэгийн байдал: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="9">${questions.get(9).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="multiAnswer" multiple id="9" title="Сонгох">
                        #{list items:questions.get(9).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="10">${questions.get(10).name}:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="inputAnswer" rows="1" id="10"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="11">${questions.get(11).name}:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="inputAnswer" rows="1" id="11"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="allergy">${questions.get(12).name}</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="multiAnswer" multiple id="allergy" title="Сонгох">
                        #{list items:questions.get(12).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="13">${questions.get(13).name}:</label>

                <div class="col-sm-8">
                    <textarea class="form-control" name="inputAnswer" rows="1" id="13"></textarea>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="14">${questions.get(14).name}</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="14" title="Сонгох">
                        #{list items:questions.get(14).getAnswers(), as:'answer'}
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="15">${questions.get(15).name}</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="15" title="Сонгох">
                        #{list items:questions.get(15).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="16">${questions.get(16).name}</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="16" title="Сонгох">
                        #{list items:questions.get(16).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-row" id="div16" style="display: none">
                <label class="col-sm-4 col-form-label" for="17"></label>

                <div class="col-sm-4 form-row">
                    <label id="fromText" for="from" class="col-form-label">${questions.get(17).name}:</label>
                    <input type="text" class="text col-sm-4 form-control" name="inputAnswer" value="" id="17"
                           maxlength="2">
                </div>
                <div class="col-sm-4 form-row">
                    <label id="forText" for="for" class="col-form-label">${questions.get(18).name}:</label>
                    <input type="text" class="text col-sm-4 form-control" name="inputAnswer" value="" id="for"
                           maxlength="2">
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="generalInspec" role="tabpanel" aria-labelledby="nav-generalinspec-tab">
        <div class="card-body">
            <h4><span class="badge badge-info">Ерөнхий үзлэг</span></h4>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="19">${questions.get(19).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="19" title="Сонгох">
                        #{list items:questions.get(19).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="20">${questions.get(20).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singelAnswer" id="20" title="Сонгох">
                        #{list items:questions.get(20).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="21">${questions.get(21).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswe" id="21" title="Сонгох">
                        #{list items:questions.get(21).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="22">${questions.get(22).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="22" title="Сонгох">
                        #{list items:questions.get(22).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <hr>
            <h6>Арьс салстын байдал: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="23">${questions.get(23).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswe" id="23" title="Сонгох">
                        #{list items:questions.get(23).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="24">${questions.get(24).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="24" title="Сонгох">
                        #{list items:questions.get(24).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="25">${questions.get(25).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="25" title="Сонгох">
                        #{list items:questions.get(25).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="26">${questions.get(26).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="26" title="Сонгох">
                        #{list items:questions.get(26).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="27">${questions.get(27).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="27" title="Сонгох">
                        #{list items:questions.get(27).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="28">${questions.get(28).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="multipleAnswer" multiple id="28" title="Сонгох">
                        #{list items:questions.get(28).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <hr>
            <h6>Захын тунгалагийн булчирхай: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="29">${questions.get(29).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="29" title="Сонгох">
                        #{list items:questions.get(29).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="30">${questions.get(30).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="30" title="Сонгох">
                        #{list items:questions.get(30).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="31">${questions.get(31).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="31" title="Сонгох">
                        #{list items:questions.get(31).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="32">${questions.get(32).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="32" title="Сонгох">
                        #{list items:questions.get(32).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="33">${questions.get(33).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="33" title="Сонгох">
                        #{list items:questions.get(33).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade  " id="doctorInspec" role="tabpanel" aria-labelledby="nav-doctorinspec-tab">
        <div class="card-body">
            <h4><span class="badge badge-info">Дотрын эмчийн үзлэг</span></h4>
            <hr>
            <h6>Амьсгалын эрхтэн тогтолцоо <span class="badge badge-secondary"></span></h6>
            <hr>
            <h6>Ажиглалтаар: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="34">${questions.get(34).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="34" title="Сонгох">
                        #{list items:questions.get(34).getAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="35">${questions.get(35).name}:</label>

                <div class="col-sm-5">
                    <select class="selectpicker form-control" name="singleAnswer" id="35" title="Сонгох">
                        #{list items:questions.get(35).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-3" id="div35" style="display: none;">
                    <select class="selectpicker form-control" name="singleAnswer" id="35" title="Сонгох">
                        #{list items:questions.get(35).getExtraAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="36">${questions.get(36).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="36" title="Сонгох">
                        #{list items:questions.get(36).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="37">${questions.get(37).name}:</label>

                <div class="col-sm-1">
                    <input type="text" class="form-control" name="description" id="37"
                           value="${answers.get(37).description}">
                </div>

                <div class="col-sm-7">
                    <select class="selectpicker form-control" name="singleAnswer" id="35" title="Сонгох">
                        #{list items:questions.get(37).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="38">${questions.get(38).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="38" title="Сонгох">
                        #{list items:questions.get(37).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="39">${questions.get(39).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="39" title="Сонгох">
                        #{list items:questions.get(39).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="40">${questions.get(40).name}:</label>

                <div class="col-sm-4">
                    <select class="selectpicker form-control" name="singleAnswer" id="40" title="Сонгох">
                        #{list items:questions.get(40).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-4" id="div40" style="display: none;">
                    <select class="selectpicker form-control" name="singleAnswer" title="Сонгох">
                        #{list items:questions.get(40).getExtraAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <h6>Тэмтрэлтээр: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="41">${questions.get(41).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="41" title="Сонгох">
                        #{list items:questions.get(41).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="42">${questions.get(42).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="42" title="Сонгох">
                        #{list items:questions.get(42).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="43">${questions.get(43).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="43" title="Сонгох">
                        #{list items:questions.get(43).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <h6>Тогшилтооор: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="44">${questions.get(44).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id=44 title="Сонгох">
                        #{list items:questions.get(44).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="45">${questions.get(45).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="45" title="Сонгох">
                        #{list items:questions.get(45).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <h6>Чагналтаар: <span class="badge badge-secondary"></span></h6>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="46">${questions.get(46).name}:</label>

                <div class="col-sm-8">
                    <select class="selectpicker form-control" name="singleAnswer" id="46" title="Сонгох">
                        #{list items:questions.get(46).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="47">${questions.get(47).name}:</label>

                <div class="col-sm-4">
                    <select class="selectpicker form-control" name="singleAnswer" id="47" title="Сонгох">
                        #{list items:questions.get(47).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-3" id="div47" style="display: none;">
                    <select class="selectpicker form-control" name="singleAnswer" title="Сонгох">
                        #{list items:questions.get(47).getExtraAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-1" id="div47input" style="display: none;">
                    <input type="text" class="form-control" name="description"
                           value="${answers.get(47).description}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="48">${questions.get(48).name}:</label>

                <div class="col-sm-4">
                    <select class="selectpicker form-control" name="singleAnswer" id="48" title="Сонгох">
                        #{list items:questions.get(48).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-3" id="div48" style="display: none;">
                    <select class="selectpicker form-control" name="singleAnswer" title="Сонгох">
                        #{list items:questions.get(48).getExtraAnswers(), as:'answer' }
                            <option>${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-1" id="div48input" style="display: none;">
                    <input type="text" class="form-control" name="description"
                           value="${answers.get(48).description}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="48">${questions.get(49).name}:</label>

                <div class="col-sm-7">
                    <select class="selectpicker form-control" name="singleAnswer" id="49" title="Сонгох">
                        #{list items:questions.get(49).getAnswers(), as:'answer' }
                            <option value="${answer}">${answer}</option>
                        #{/list}
                    </select>
                </div>
                <div class="col-sm-1">
                    <input type="text" class="form-control" name="description" id="47"
                           value="${answers.get(49).description}">
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="clinicDiagnose" role="tabpanel" aria-labelledby="nav-clinicdiagnose-tab">
        <div class="card-body">
            <h4><span class="badge badge-info">Клиникийн урьдчилсан онош</span></h4>

        </div>
    </div>
    <div class="tab-pane fade" id="diagnoseUndeslel" role="tabpanel" aria-labelledby="nav-diagnoseundeslel-tab">
        <div class="card-body">
            <h4><span class="badge badge-info">Клиникийн оношийн үндэслэл</span></h4>

        </div>
    </div>
</div>

<div class="col-md-12 align-center" id="sendBtns">
    <button id=save_btn class="btn btn-primary m-t-10" type="submit" name="_save"
            style="width: 120px">
        <i class="fa fa-check"></i> &{'crud.save'}</button>
    <button id="send_btn" class="btn btn-success m-t-10" type="submit" name="_save_send"
            style="width: 120px"><i class="fa fa-print"></i> Хэвлэх
    </button>
</div>

#{/form}

<script>
    $("#35").change(function () {
        var current = $(this).val();
        console.log($(this));
        if (current === "${questions.get(35).answerCase}")
            $("#div35").show();
        else
            $("#div35").hide();
    });

    $("#16").change(function () {
        var current = $(this).val();
        console.log($(this));
        if (current === "${questions.get(16).answerCase}")
            $("#div16").show();
        else
            $("#div16").hide();
    });
    $("#40").change(function () {
        var current = $(this).val();
        console.log($(this));
        if (current === "${questions.get(40).answerCase}")
            $("#div40").show();
        else
            $("#div40").hide();
    });
    $("#47").change(function () {
        var current = $(this).val();
        console.log($(this));
        if (current === "${questions.get(47).answerCase}")
        {
            $("#div47").show();
            $("#div47input").show();
        }
        else{
            $("#div47").hide();
            $("#div47input").hide();
        }
    });
    $("#48").change(function () {
        var current = $(this).val();
        console.log($(this));
        if (current === "${questions.get(48).answerCase}") {
            $("#div48").show();
            $("#div48input").show();
        }
        else {
            $("#div48").hide();
            $("#div48input").hide();
        }
    });

</script>

