#{extends 'CRUD/layout.html' /}
#{set activeClass:2/}
#{alertMessages /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>

<link href="/public/c3-0.6.8/c3.css" rel="stylesheet">
<script src="https://d3js.org/d3.v5.js"></script>
<script src="/public/c3-0.6.8/c3.min.js"></script>

#{/set}
<div class="row" id="searchBar">

</div>
<div class="row">
    <div class="col-3 border-right border-dark">
        <table class="table-bordered table-sm myTable" style="width: 100%" id="diseaseHistories">
            <thead>
            <tr>
                <th scope="col" width="20%">Үйлчлүүлэгч</th>
                <th scope="col" width="20%">Хугацаа</th>
            </tr>
            </thead>
            <tbody>
            #{list items:objects, as:'object'}
            <tr bt_id="${object.id}">
                <td>${object}</td>
                <td>

                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </div>
    <div class="col-9" id="patientInfo">

    </div>
</div>

<script>
    $('table#diseaseHistories tbody tr').on('click', function () {
        $.ajax({
            type: "POST",
            url: "/diseaseHistoriesPatient",
            data: {id: $(this).attr('bt_id')},
            beforeSend: function() {
                $('tr.active').removeClass('active');
                $(this).addClass('active');
                $('div#patientInfo').html('');
            },
            success: function (data) {
                $('div#patientInfo').html(data);
            }
        });
    });
</script>