<div class="container">

    <h4><span class="badge badge-info">ЕРӨНХИЙ МЭДЭЭЛЭЛ</span></h4>

    <div class="row"></div>
    <div class="row">
        <div class="col-2">
            <img width="150px" height="auto" src="${patient.profilePicture}">
        </div>

        <div class="col-8">
            <div class="row form-control-sm">
                <label for="lastName" class="col-sm-4 title">Эцэг, эхийн нэр : </label>

                <div class="col-sm-8">
                ${patient.lastName}
                </div>
            </div>
            <div class="row form-control-sm">
                <label for="firstName" class="col-sm-4 title">Нэр : </label>

                <div class="col-sm-8">
                ${patient.firstName}
                </div>
            </div>
            <div class="row form-control-sm">
                <label class="col-sm-4 title">ЭМД : </label>

                <div class="col-sm-8">
                ${patient.insuranceNumber}
                </div>
            </div>
            <div class="row form-control-sm">
                <label class="col-sm-4 title">РД : </label>

                <div class="col-sm-8">
                ${patient.registerChar1}${patient.registerChar2}${patient.registerNumber}
                </div>
            </div>
            <div class="row form-control-sm">
                <label class="col-sm-4 title">Утас : </label>

                <div class="col-sm-8">
                ${patient.phone1}#{if patient.phone2.length()==8}, ${patient.phone2}#{/if}
                </div>
            </div>
            <div class="row form-control-sm">
                <label class="col-sm-4 title">Хаяг : </label>

                <div class="col-sm-8">
                ${patient.address}
                </div>
            </div>
        </div>
    </div>

    <h4><span class="badge badge-info">ЭМЧИЛГЭЭНИЙ ТҮҮХ</span></h4>
        <div class="row">
        #{list bedTreatments, as:'bedTreatment'}
            <div class="row col-lg-12">
            *{<label class="col-sm-3 title">${bedTreatment}${bedTreatment.id}:</label>}*
                <label class="col-sm-2 title">(${bedTreatment.bed.room.roomNum} - ${bedTreatment.bed.bedNum}):</label>
                <label class="col-sm-4 m-b-10">${bedTreatment.startDate.format("yyyy/MM/dd")}
                    -${bedTreatment.endDate.format("yyyy/MM/dd")}</label>

                <a href="@{DiseaseHistories.vitalIndices(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-heartbeat" data-toggle="tooltip" data-placement="top"
                           title="Эмчлүүлэгчийн амин үзүүлэлт"></i>
                    </button>
                </a>
                <a href="@{DiseaseHistories.drugList(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-medkit" data-toggle="tooltip" data-placement="top"
                           title="Эмчлүүлэгчийн хэрэглэсэн эмүүд"></i>
                    </button>
                </a>
                <a href="@{DiseaseHistories.nurseExamination(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-user-md" data-toggle="tooltip" data-placement="top"
                           title="Сувилагчийн үнэлгээний хуудас"></i>
                    </button>
                </a>
                <a href="@{DiseaseHistories.dailyNursing(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-user-md" data-toggle="tooltip" data-placement="top"
                           title="Өдөр тутмын сувилгаа"></i>
                    </button>
                </a>
                <a href="@{DiseaseHistories.nursingNote(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-user-md" data-toggle="tooltip" data-placement="top"
                           title="Сувилагчийн тэмдэглэл"></i>
                    </button>
                </a>
                <a href="@{DiseaseHistories.diseaseHistoryPrint(bedTreatment.id)}" target="_blank">
                    <button type="button" class="btn btn-light">
                        <i class="fa fa-user-md" data-toggle="tooltip" data-placement="top" title="Өвчний түүх"></i>
                    </button>
                </a>
            </div>
        #{/list}
        </div>
</div>
