#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2><b>${user.hospital}</b> - өрөө нэмэх</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        <div class="row">
            <div class="col-2">
                Өрөөний дугаар
            </div>
            <div class="col-10">
                <input name="object.roomNum">
            </div>
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            <button type="submit" class="btn btn-success" name="_saveAndAddAnother">Хадгалаад шинийг нэмэх</button>
        </div>
    #{/form}
    </div>
</div>