#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
        <form action="@{save(object.id)}" class="form-horizontal" role="form" id="settings" method="post"
              accept-charset="utf-8" enctype="multipart/form-data">

            <div class="form-group row"  style="margin: 10px 0px;">
                <label for="name" class="col-sm-4 col-form-label req title">Өрөөний дугаар</label>
                <div class="col-sm-6">
                    <input type="text" name="object.price" class="form-control" id="name" value="${object?.roomNum}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
            </div>
        </form>
    </div>
*{#{form @delete(object.id)}}*
    *{<p class="crudDelete">}*
        *{<input type="submit" value="Өрөөг устгах" />}*
    *{</p>}*
*{#{/form}}*

</div>