#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<div id="crudBlank" class="${type.name}">
    <div class="objectForm">
    #{form action:@list(), enctype:'multipart/form-data', id:'nurseAnswer'}
        <div class="form-group row" style="margin-top: 10px;">
            <label for="category" class="col-sm-4 col-form-label req title">
                Ангилал
            </label>
            <div class="col-6">
                <input name="object.category" class="form-control-sm form-control" id="category" value="${object?.category}">
            </div>
        </div>
        <div class="form-group row" style="margin-top: 10px;">
            <label for="issue" class="col-sm-4 col-form-label req title">
                Сувилгааны асуудал-#
            </label>
            <div class="col-6">
                <input name="object.issue" class="form-control-sm form-control" id="issue" value="${object?.issue}">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
        </div>
    #{/form}
    </div>
</div>
<script>
    $("form#nurseAnswer").on('submit', function () {
        if ($('input#category').val().length<1) {
            showErrorMessage("Please input category!");
            return false;
        } else if ($('input#issue').val().length<1) {
            showErrorMessage("Please input issue!");
        }
        $.ajax({
            type: "POST",
            url: "/dailyNursingAnswerCreate",
            data: {
                id:${object.id?object.id:'0'},
                category: $('input#category').val(),
                issue: $('input#issue').val()
            },
            success: function () {
                showSuccessMessage("Saved. Good to go!");
            },
            error: function () {
                return false;
            }
        });
        return true;
    });
</script>