
<div class="modal-header">
    <h5 class="modal-title">Өдөр тутмын сувилгаа-${bt}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form class="form-horizontal" role="form" id="dailyNursing" method="post"
      accept-charset="utf-8" enctype="multipart/form-data">
    <div class="modal-body">
        <table class="table table-bordered table-sm myTable" id="dailyNursingTable">
            <thead>
            <tr>
                <th colspan="2" width="8%">Ангилал</th>
                <th colspan="" width="60%">
                    <div class="row"> <div class="col-sm-4">Огноо цаг</div>
                        <div class="col-sm-8">
                            <input type="hidden" bt_id="${bt.id}" id="bedTreatment">
                        #{if dailyNursings.size()>0}
                            <select id="dnId">
                                <option value="0">шинээр үүсгэх</option>
                                #{list dailyNursings, as:'dn'}
                                    <option value="${dn.id}">${dn.date?dn.date.format("yyyy/MM/dd hh:mm"):'null'}</option>
                                #{/list}
                            </select>#{/if}</div>
                    </div>
                </th>
                <th>
                    <input id="date" class="form-control-sm datetimepicker">
                </th>
            </tr>
            </thead>
            <tbody id="dnTableBody">
            <tr>
                <td class="vrt" rowspan="33">Өдөр тутмын сувилгаа</td>
            #{list parents, as:'parent'}
                #{if parent_index!=1}<tr>#{/if}
                <td class="vrt" rowspan="${parent.childCount()}" colspan="${parent.childCount()==1?2:''}">${parent}</td>
                #{if parent.childCount()==1}
                    <td>
                        <select class="" qid="${parent.id}">
                            <option value="0">сонгоогүй</option>
                            <option value="${answer.id}">${answer}</option>
                            #{list answers[parent.value-1], as:'neAnswer'}
                                <option value="${neAnswer.id}">${neAnswer}</option>
                            #{/list}
                        </select></td>
                </tr>
                #{/if}
                #{list parent.subTypes, as:'sub'}
                    #{if sub_index!=1}<tr>#{/if}
                        <td class="vrt" colspan="${sub.value > 35?2:''}">${sub}</td>
                        <td>
                            <select class="" qid="${sub.id}">
                                <option value="0">сонгоогүй</option>
                                <option value="${answer.id}">${answer}</option>
                                #{list answers[parent.value-1], as:'neAnswer'}
                                    <option value="${neAnswer.id}">${neAnswer}</option>
                                #{/list}
                            </select></td>
                    </tr>
                #{/list}
            #{/list}
            </tbody>
        </table>
    </div>
    <div class="modal-footer" id="footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
        <button type="submit" class="btn btn-primary">Хадгалах</button>
    </div>
</form>

<style type="text/css">
    tbody td.vrt  {
        writing-mode: sideways-lr;
        min-width: 50px; /* for firefox */
    }
    table#nurseExaminationTable tr{
        height: 6px !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
        select {
            height:20px;
            line-height:20px;
            width: 100%;
            background:#f4f4f4;
        }
    }
    select::-moz-focus-inner { /*Remove button padding in FF*/
        width:100%;
        border: 0;
        padding: 0;
    }
    @-moz-document url-prefix() { /* targets Firefox only */
        select {
            padding: 0px 0!important;
            width:100%;
        }
    }
    @media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
        select {
            height:30px;
            line-height:30px;
        }
    }
</style>
<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            autoClose:true
        });
    });

    $("form#dailyNursing").on("submit", function () {
        var id = "";
        var bt_id = $('input#bedTreatment').attr("bt_id");
        console.log("asdhfjkasdjf"+bt_id);
        if (${dailyNursings.size()>0}) id = $("select#dnId").val();
        var date = $("input#date").val();
        var questions= [], answers = [];
        $("tbody#dnTableBody select").each(function (element) {
            if ($(this).val()!=0) {
                questions.push($(this).attr("qid"));
                answers.push($(this).val());
            }
        });
        $.ajax({
            type: "POST",
            url: "/dailyNursingCreate",
            data: {
                id: id,
                bt_id: bt_id,
                date: date,
                questions: questions,
                answers: answers
            },
            success: function (data) {
                showSuccessMessage("saved");
            },
            error: function () {
                return false;
            }
        });
        return false;
    });

    $('select#dnId').on('change', function () {
        if ($(this).val() != 0 ) {
            $.ajax({
                type: "POST",
                url: "/dailyNursingShow",
                data: {
                    id: $(this).val()
                },
                success: function (data) {
                    $('tbody#dnTableBody').html(data);
                }
            });
        } else {
            $('tbody#dnTableBody select').each(function () {
                $(this).prop('selectedIndex',0);
            });
            $('input#date').val('');
        }
    })
</script>