<tr>
    <td class="vrt" rowspan="33">Өдөр тутмын сувилгаа</td>
#{list parents, as:'parent'}
    #{if parent_index!=1}<tr>#{/if}
    <td class="vrt" rowspan="${parent.childCount()}" colspan="${parent.childCount()==1?2:''}">${parent}</td>
    #{if parent.childCount()==1}
        <td>
            <select class="" qid="${parent.id}">
                <option value="0">сонгоогүй</option>
                <option value="${answer.id}" ${object.selected(parent.id, neAnswer.id)?'selected':''}>${answer}</option>
                #{list answers[parent.value-1], as:'neAnswer'}
                    <option value="${neAnswer.id}" ${object.selected(parent.id, neAnswer.id)?'selected':''}>${neAnswer}</option>
                #{/list}
            </select></td>
    </tr>
    #{/if}
    #{list parent.subTypes, as:'sub'}
        #{if sub_index!=1}<tr>#{/if}
        <td class="vrt" colspan="${sub.value > 35?2:''}">${sub}</td>
        <td>
            <select class="" qid="${sub.id}">
                <option value="0">сонгоогүй</option>
                <option value="${answer.id}" ${object.selected(sub.id, answer.id)?'selected':''}>${answer}</option>
                #{list answers[parent.value-1], as:'neAnswer'}
                    <option value="${neAnswer.id}" ${object.selected(sub.id, neAnswer.id)?'selected':''}>${neAnswer}</option>
                #{/list}
            </select></td>
    </tr>
    #{/list}
#{/list}


<script>
    $(document).ready(function () {
        $('th input#date').val('${object.date?object.date.format("yyyy/MM/dd HH:mm"):' '}');
    });
</script>