#{extends 'CRUD/layout.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}
#{set activeClass:4/}
<div class="my-list">
    <div class="row">
            <a href="@{blank(room.id)}" style="display: block; margin-right: 0 !important; margin-left: auto !important;"
               class="btn btn-success btn-small"><i class="fa fa-plus"></i>Ор нэмэх</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th width="30px">#</th>
                <th>Орны дугаар</th>
            </tr>
            </thead>
            <tbody>
            %{count=1;}%
            #{list items:objects,as:'object'}
            <tr>
                <td>${count}</td>
                <td><a href="@{controllers.Beds.show(object.id)}">${object}</a></td>
            </tr>
            %{count++}%
            #{/list}
            </tbody>
        </table>
    </div>
</div>
