#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
#{/set}

<div id="crudShow" class="${type.name}">

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        <div class="form-group row">
            <label for="bedNum" class="col-sm-4 col-form-label req title">Орны дугаар</label>
            <div class="col-sm-6">
                <input type="text" name="object.bedNum" class="form-control" id="bedNum" value="${object?.bedNum}">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="_save">Хадгалах</button>
        </div>
    #{/form}
    </div>

*{#{form @delete(object.id, object.room.id)}}*
    *{<p class="crudDelete">}*
        *{<input type="submit" value="&{'crud.delete', type.modelName}" />}*
    *{</p>}*
*{#{/form}}*

</div>