<style>

    /* CONTAINERS */

    .containerz {
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
    }

    .four {
        width: 32.26%;
        max-width: 32.26%;
    }

    .bed-treatment-container {
        margin-top: 1px;
    }

    /* COLUMNS */

    .colz:first-of-type {
        margin-left: 0;
    }

    /* CLEARFIX */

    .cf:before,
    .cf:after {
        content: " ";
        display: table;
    }

    .cf:after {
        clear: both;
    }

    .cf {
        *zoom: 1;
    }

    /* FORM */

    .form .plan input {
        display: none;
    }

    .form label {
        position: relative;
        color: #fff;
        background-color: #61e16e;
        font-size: 10px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        display: block;
        cursor: pointer;
        border: 2px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #333;
    }

    .form .plan input:checked + label {
        border: 1px solid #333;
        background-color: #0b6623;
    }

    .form .plan input:disabled + label {
        border: 1px solid #333;
        background-color: #aaa;
    }

    .form .plan input:checked + label:after {
        content: "\2713";
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 100%;
        border: 1px solid #333;
        background-color: #0b6623;
        z-index: 999;
        position: absolute;
        top: -10px;
        right: -10px;
    }

    /*style for bootstrap select*/

    .card-header {
        padding: 2px !important;
    }

    div#bed_treatment_plan .bootstrap-select > .btn {
        font-size: 11px;
        padding: 4px 20px;
        width: 120px;
    }

    div#bed_treatment_plan .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 140px;
    }

    div#bed_treatment_plan, input.noborder {
        width: 98%;
        border: none;
    }

    div#inspectionDrug .bootstrap-select > .btn {
        font-size: 11px;
        padding: 4px 20px;
        width: 120px;
    }

    div#inspectionDrug .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 140px;
    }

    div#inspectionDrug, input.noborder {
        width: 98%;
        border: none;
    }

    /*style for bootstrap select*/
</style>

<section id="wrapper">
    <div id="accordion_bed_treatment">
        <div class="card">
            <div class="card-header" id="headingBed" data-toggle="collapse" data-target="#collapseBed"
                 aria-expanded="true" aria-controls="collapseBed">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Орны хуваарь
                    </button>
                </h5>
            </div>
            <div id="collapseBed" class="collapse show" aria-labelledby="headingBed"
                 data-parent="#accordion_bed_treatment">
                <div class="card-body">
                    <form class="form cf" id="formBedTreatment">
                        <div class="row">
                            <div class="col-sm-3 col-form-label title">Хяналтын дугаар</div>

                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-sm" id="bt_receiptNumber"
                                       value="${object?.receiptNumber}">
                                <small class="form-text text-muted" id="receiptData"></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-form-label title">Онош</div>
                            <div class="col-sm-9">
                                <select id="diagnose" class="form-control form-control-sm selectpicker"
                                        data-live-search="true" multiple
                                        title="Сонгох">

                                #{list items:diagnoses,as:'diagnose'}
                                    <option value="${diagnose.id}" ${object?.checkDiagnose(diagnose.id)?'selected':''}>${diagnose}</option>
                                #{/list}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-form-label title">Тариф</div>
                            <div class="col-sm-9">
                                <select id="bed_tariff" class="form-control form-control-sm  selectpicker"
                                        data-live-search="true" title="Сонгох">
                                    <option value="0" price="0">Сонгох</option>
                                #{list items:bedTreatmentTariffs, as:'bt_tariff'}
                                    <option value="${bt_tariff.id}"
                                            price="${bt_tariff.price}" ${bt_tariff.id==object?.bedTreatmentTariff?.id?'selected':''}>${bt_tariff}
                                        -${bt_tariff.price}</option>
                                #{/list}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-form-label title">Огноо</div>
                            <div class="col-sm-9">
                            #{if object!=null}
                                <input type="text" id="bed_treatment_duration" name="bedTreatmentDate"
                                       class="daterange form-control form-control-sm"
                                       value="${object?.startDate?.format('yyyy/MM/dd')}-${object?.endDate?.format('yyyy/MM/dd')}"/>
                            #{/if}
                            #{else }
                                <input type="text" id="bed_treatment_duration" name="bedTreatmentDate"
                                       class="daterange form-control form-control-sm"
                                       value="${date.format('yyyy/MM/dd')}-${date.format('yyyy/MM/dd')}"/>
                            #{/else}
                                <input type="hidden" value="${object!=null?duration:'1'}" id="duration" disabled/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-form-label title">Төлбөр</div>
                            <div class="col-sm-9">
                                <input type="number" disabled id="bed_payment" class="form-control form-control-sm"
                                       value="${object?.payment}"/>
                            </div>
                        </div>
                        <div class="containerz" id="hospitals_beds">
                            <section class="plan cf">
                            #{list rooms, as:'room'}
                                <div class="row">
                                    <div class="col-sm-3 col-form-label title"><h6>Өрөө-${room}</h6></div>

                                    <div class="col-sm-9 row">
                                        #{list room.beds, as:'bed'}
                                            <input type="radio" name="bed" class="form-control form-control-sm"
                                                   id="bed${bed.id}" value="${bed.id}"
                                            ${bed.id==object?.bed?.id?'checked':''} ${bed.isBedFree( object?.id, object?object.startDate:date, object?object.endDate:date)?'':'disabled'}>
                                            <label class="free-label four colz col-2" for="bed${bed.id}"
                                                   value="${bed.id}">${bed}</label>
                                        #{/list}
                                    </div>
                                </div>
                            #{/list}
                            </section>
                        </div>
                        <input type="hidden" id="bt_diagnose">
                        <input type="hidden" id="bt_drug">
                    #{if !paid}
                        <button type="button" style="float: right;" class="btn btn-success"
                                onclick="saveBedTreatment()">${object!=null?'Хадгалах':'Нэмэх'}
                        </button>
                    #{/if}
                    </form>
                </div>
            </div>
        </div>
    #{if user.isRoleDoctor()}
        <div class="card">
            <div class="card-header" id="heading_treatment_plan" data-toggle="collapse"
                 data-target="#collapseTreatmentPlan" aria-expanded="true" aria-controls="collapseTreatmentPlan">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Эмчилгээний төлөвлөгөө
                    </button>
                </h5>
            </div>

            <div id="collapseTreatmentPlan" class="collapse" aria-labelledby="heading_treatment_plan"
                 data-parent="#accordion_bed_treatment">
                <div class="card-body" id="bed_treatment_plan">
                    <h2>${object?object:'Хэвтэн эмчлүүлэгчээр нэмээгүй байна!'}</h2>
                    <table class="table-bordered table-sm myTable" id="bed_treatment_treatment" style="width: 100%">
                        <thead>
                        <tr>
                            <th width="25%">Эмчилгээ</th>
                            <th width="25%">Давтамж</th>
                            <th width="40%">Хугацаа</th>
                            <th width="5%" class='text-center'><i class="fa fa-plus" onclick="addTreatment()"></i></th>
                        </tr>
                        </thead>
                        <tbody id="treatment_plan">

                            #{list treatmentPlans, as:'treatmentPlan'}
                            <tr id="treatmentPlan${treatmentPlan.id}">
                                <td><select name="tariff" class='selectpicker show-tick' disabled>
                                    <option value='0'>Сонгох</option>
                                    #{list tariffs, as:'tariff'}
                                        <option value="${tariff.id}" ${treatmentPlan.tariff.id ==tariff.id?'selected':''}>${tariff}
                                            -${tariff.price}</option>
                                    #{/list}
                                </select></td>
                                <td>
                                    <select name="repeat" class='selectpicker show-tick' disabled>
                                        <option value='0'>Сонгох</option>
                                        #{list items:repeats, as:'repeat'}
                                            <option value="${repeat.id}" ${treatmentPlan.repeat.id ==repeat.id?'selected':''}>${repeat}</option>
                                        #{/list}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="duration" class="daterange form-control form-control-sm"
                                           disabled
                                           value="${treatmentPlan.startDate.format('yyyy/MM/dd')}-${treatmentPlan.endDate.format('yyyy/MM/dd')}"/>
                                </td>
                                <td><i class="fa fa-minus" onclick="deleteTPlan(${treatmentPlan.id})"></i></td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                    <button type="button" style="float: right; margin: 15px 0px;" class="btn btn-success btn-sm"
                            onclick="saveTreatmentPlan()">Хадгалах
                    </button>

                    <table class="table-bordered table-sm myTable" id="bet_treatment_drug" style="width: 100%;">
                        <thead>
                        <tr>
                            <td width="30%">Эм</td>
                            <td width="20%">Давтамж</td>
                            <td width="30%">Хугацаа</td>
                            <td width="5%" class='text-center' data-toggle="tooltip" data-placement="top"
                                title="Бүх эмийг тооцоонд оруулах">
                                <input id="countAllPrice" type="checkbox"></td>
                            <td width="5%" class='text-center'><i class="fa fa-plus" onclick="addTreatmentDrug()"></i>
                            </td>
                        </tr>
                        </thead>
                        <tbody id="treatment_plan_drug">
                            #{list drugPlans, as:'drugPlan'}
                            <tr id="treatmentPlan${drugPlan.id}">
                                <td data-toggle="tooltip" data-placement="top"
                                    title="${drugPlan.drug}-${drugPlan.drug.drug.dose}"><input
                                        class="form-control form-control-sm" disabled value="${drugPlan.drug}">
                                </td>
                                <td>
                                    <select name="repeat" class='selectpicker show-tick' disabled>
                                        <option value='0'>Сонгох</option>
                                        #{list items:repeats, as:'repeat'}
                                            <option value="${repeat.id}" ${drugPlan.repeat.id ==repeat.id?'selected':''}>${repeat}</option>
                                        #{/list}
                                    </select>
                                </td>
                                <td><input type="text" name="duration" class="daterange form-control form-control-sm"
                                           disabled
                                           value="${drugPlan.startDate?.format('yyyy/MM/dd')}-${drugPlan.endDate?.format('yyyy/MM/dd')}"/>
                                </td>
                                <td></td>
                                <td class="text-center"><i class="fa fa-minus"
                                                           onclick="deleteTDrug(${drugPlan.id})"></i></td>
                            </tr>
                            #{/list}
                        </tbody>
                    </table>
                    <button type="button" style="float: right; margin: 15px 0px;" class="btn btn-success btn-sm"
                            onclick="saveTreatmentDrug()">Хадгалах
                    </button>
                </div>
            </div>
        </div>
    #{/if}
    </div>
</section>

<script>
    #{if object!=null}
        #{if object.bedTreatmentTariff!=null}
        var price = ${object.bedTreatmentTariff.price};
        #{/if}
        #{else }
        var price = 0;
        #{/else}
    var bedId = ${object.bed.id};
    var bt_id = ${object.id};

    #{/if}
    #{else }

    var price = 0;
    var bedId = '';
    var bt_id = '';
    #{/else}
    var tariffs = "<option value='0'>Сонгох</option>";
    #{list items:tariffs,as:'tariff'}
    tariffs += "<option value=${tariff.id}>${tariff}-${tariff.price}</option>";
    #{/list}

    var repeats = "<option value='0'>Сонгох</option>";
    #{list items:repeats,as:'repeat'}
    repeats += "<option value=${repeat.id}>${repeat}</option>";
    #{/list}

    var drugs = "<option value='0'>Сонгох</option>";
    #{list items:drugs,as:'drug'}
    drugs += "<option value=${drug.id} data-subtext='${drug.drug.dose} тунтай ${drug.drug.drugForm}'>${drug}</option>";
    #{/list}

    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $("#countAllPrice").change(function () {
            if ($(this).prop('checked')) {
                $('input[name=countPrice]').each(function () {
                    $(this).prop('checked', 'checked');
                });
            } else {
                $('input[name=countPrice]').each(function () {
                    $(this).prop('checked', '');
                });
            }
        });
        $('.selectpicker').selectpicker('refresh');
        $('select#bed_tariff').change(function () {
            var element = $(this).find('option:selected');
            price = element.attr("price");
            countPayment();
        });

        $('.date').datetimepicker({
            lang: 'mn',
            format: "Y-m-d",
            timepicker: false
        });

        $('input#bed_treatment_duration').daterangepicker({
            opens: 'left',
            autoUpdateInput: false,
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        }, function (start, end, label) {
            $('input#bed_treatment_duration').val(start.format('YYYY/MM/DD') + '-' + end.format('YYYY/MM/DD'));
            $('input#duration').val(end.diff(start, 'days') + 1);
            countPayment();
            loadBeds();
        });

    #{if object==null}
        loadBeds();
    #{/if}

        var items = $('#v-nav>ul>li').each(function () {
            $(this).click(function () {
                //remove previous class and add it to clicked tab
                items.removeClass('current');
                $(this).addClass('current');

                //hide all content divs and show current one
                $('#v-nav>div.tab-content').hide().eq(items.index($(this))).show('fast');
                window.location.hash = $(this).attr('tab');
            });
        });

        $($('label.four')).each(function () {
            $(this).on('click', function () {
                if ($('input#bed' + bedId).prop('disabled') === false) {
                    bedId = $(this).attr("value");
                }
            });
        });
    });

    function saveBedTreatment() {
        $('input#bt_diagnose').val($('select#diagnose').val() + ",");
        var valid = true;
        if ($('input#duration').val() == 0) {
            valid = false;
            showErrorMessage("Хэвтэх хугацааг сонгоно уу!");
        } else if (bedId === '' || bedId === 0) {
            valid = false;
            showErrorMessage("Ороо сонгоно уу!");
        } else if ($('input#bt_diagnose').val().length < 2) {
            valid = false;
            showErrorMessage("Оношоо сонгоно уу!");
        } else if ($('select#bed_tariff').val() < 1) {
            var r = confirm("Тариф сонгоогүй байна!");
            if (r == false) {
                return false;
            }
        }
        if (valid) {
            var tid = $("select#bed_tariff").val();
            var pay = $('input#bed_payment').val();
            var bt_duration = $('input#bed_treatment_duration').val();
            var bedTreatmentSave = confirm("Хадгалах уу?");
            if (bedTreatmentSave === true) {
                $.ajax({
                    type: "POST",
                    data: {
                        id: bt_id,
                        ins_id: selectedInsId,
                        bid: bedId,
                        tid: tid,
                        bt_duration: bt_duration,
                        payment: pay,
                        diagnoseVal: $('input#bt_diagnose').val(),
                        receiptNumber: $('input#bt_receiptNumber').val()
                    },
                    url: "/bedTreatmentsCreate",
                    success: function (data) {
                        if (data == "success")
                            window.location.assign("/register/" + selectedInsId + "&2");
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                    }
                });
            }
        }
    }

    function addTreatment() {
        var date = new Date();
        var tt = date.getTime();
        $('tbody#treatment_plan').append("<tr id='btt-" + tt + "'><td>" +
                "<select name='tariff' class='selectpicker show-tick'>" + tariffs + "</select></td>" +
                "<td><select name='repeat' class='selectpicker show-tick'>" + repeats + "</select></td>" +
                "<td><input name='duration' type='text' class='form-control form-control-sm' id='startDate' value=''></td>" +
                "<td class='text-center'><i class='fa fa-minus-square' onclick=treatmentRemove('" + tt + "')></i></td></tr>");
        $("tr#btt-" + tt + " select").selectpicker('refresh');
        $("tr#btt-" + tt + " input#startDate").daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        });
    }

    function treatmentRemove(tag) {
        $('tr#btt-' + tag).remove();
    }

    function addTreatmentDrug() {
        var date = new Date();
        var tt = date.getTime();
        $('tbody#treatment_plan_drug').append("<tr class='added' id='btd-" + tt + "'><td>" +
                "<select name='drug' class='selectpicker show-tick'> " + drugs + " </select></td>" +
                "<td><select name='repeat' class='selectpicker show-tick'>" + repeats + "</select></td>" +
                "<td><input name='duration' type='text' class='form-control form-control-sm' id='duration' value=''></td>" +
                "<td class='text-center' ><input name='countPrice' type='checkbox' class='form-control form-control-sm' id='countPrice' value=''></td>" +
                "<td class='text-center'><i class='fa fa-minus-square' onclick=treatmentDrugRemove('" + tt + "')></i></td></tr>");
        $("tr#btd-" + tt + " select").selectpicker('refresh');
        $("tr#btd-" + tt + " input#duration").daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        });
    }
    function treatmentDrugRemove(tag) {
        $('tr#btd-' + tag).remove();
    }

    function countPayment() {
        var duration = $('input#duration').val();
        $('input#bed_payment').val(duration * price);
    }

    function saveTreatmentPlan() {
        var s_tariff = [], s_repeat = [], s_duration = [], s_countPrice = [];
        var valid = true;
        if (bt_id == '') {
            valid = false;
            showErrorMessage("Хэвтэн эмчлүүлэгч алга!");
        } else if ($('tbody#treatment_plan tr').length == 0) {
            valid = false;
            showErrorMessage("Эмчилгээний мэдээлэл оруулна уу!");
        } else {
            $('tbody#treatment_plan tr').each(function () {
                if ($(this).find('select[name=tariff]').val() == 0) {
                    showErrorMessage("Эмчилгээ сонгоно уу!");
                    valid = false;
                } else if ($(this).find('select[name=repeat]').val() == 0) {
                    showErrorMessage("Давтамж сонгоно уу!");
                    valid = false;
                }
                s_tariff.push($(this).find($(this).find('select[name=tariff]')).val());
                s_repeat.push($(this).find($(this).find('select[name=repeat]')).val());
                s_duration.push($(this).find($(this).find('input[name=duration]')).val());
                s_countPrice.push($(this).find($(this).find('input[name=duration]')).prop('disabled'));

            });
        }
        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    bt_id: bt_id,
                    tariff: s_tariff,
                    repeat: s_repeat,
                    duration: s_duration,
                    countPrice: s_countPrice
                },
                url: "/saveBedTreatmentPlan",
                success: function (data) {
                    console.log(data)
                    if (data == "success")
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                }
            });
        }
    }

    function saveTreatmentDrug() {
        var s_drug = [], s_repeat = [], s_duration = [], s_countPrice = [];
        var valid = true;
        if (bt_id == '') {
            valid = false;
            showErrorMessage("Хэвтэн эмчлүүлэгч алга!");
        } else if ($('tbody#treatment_plan_drug tr.added').length == 0) {
            valid = false;
            showErrorMessage("Эмийн мэдээлэл оруулна уу!");
        } else {
            $('tbody#treatment_plan_drug tr.added').each(function () {
                if ($(this).find('select[name=drug]').val() == 0) {
                    showErrorMessage("Эмээ сонгоно уу!");
                    valid = false;
                } else if ($(this).find('select[name=repeat]').val() == 0) {
                    showErrorMessage("Давтамж сонгоно уу!");
                    valid = false;
                }
                s_drug.push($(this).find($(this).find('select[name=drug]')).val());
                s_repeat.push($(this).find($(this).find('select[name=repeat]')).val());
                s_duration.push($(this).find($(this).find('input[name=duration]')).val());
                s_countPrice.push($(this).find($(this).find('input[name=countPrice]')).prop('checked'));
            });
        }
        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    bt_id: bt_id,
                    drug: s_drug,
                    repeat: s_repeat,
                    duration: s_duration,
                    countPrice: s_countPrice
                },
                url: "/addBedTreatmentDrug",
                success: function (data) {
                    if (data == "success")
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                }
            });
        }
    }

    function loadBeds() {
        $.ajax({
            type: "POST",
            data: {
                bt_id: bt_id,
                rangeStr: $('input#bed_treatment_duration').val()
            },
            url: "/loadBeds",
            success: function (data) {
                $('div#hospitals_beds').html(data);
            }
        });
    }

    function deleteTPlan(id) {
        $('tr#treatmentPlan' + id).remove();
    }

    function deleteTDrug(drug_id) {
        $.ajax({
            url: "/deleteDrugPlan",
            data: {
                id: drug_id
            },
            type: "POST",
            success: function (data) {
                if (data == "success") {
                    $('tr#treatmentPlan' + drug_id).remove();
                    showSuccessMessage("Амжилттай устгалаа");
                } else if (data == "paid") {
                    showErrorMessage("Тооцоонд орсон байна!");
                } else {
                    showErrorMessage("Устгаж чадаагүй");
                }
            }
        });
    }

    #{if (hospital.insuranceUsername != null) && (hospital.insurancePassword != null) }
    $('input#bt_receiptNumber').blur(function () {
        if ($(this).val().length < 6 && $(this).val().length != 0) {
            showErrorMessage("Хяналтын дугаар 6 оронтой байх ёстой!");
            $(this).focus();
        }
    }).keydown(function (e) {
        var key = e.charCode || e.keyCode || 0;
        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
        return (
        key == 8 ||
        key == 9 ||
        key == 46 ||
        (key >= 37 && key <= 40) ||
        (key >= 48 && key <= 57) ||
        (key >= 96 && key <= 105));
    }).keyup(function () {
        if ($(this).val().length === 6) {
            $.ajax({
                type: "POST",
                url: "/hiCheckNumber",
                data: {
                    number: $(this).val()
                },
                beforeSend: function () {
                    $("#receiptData").html("хайж байна...");
                },
                success: function (data) {
                    $("#receiptData").html(data);
                    console.log("success - " + data);
                },
                error: function (data) {
                    $("#receiptData").html("Шалгаж явцад алдаа гарлаа");
                    console.log("error - " + data);
                }
            });
        } else if ($(this).val().length > 6) {
            showErrorMessage("Хяналтын дугаар 6 оронтой байна.");
            $("#receiptData").html("");
        } else if ($(this).val().length < 6) $("#receiptData").html("");
    });
    #{/if}
</script>