<div class="tab-pane fade show active" id="nurse-treatment" role="tabpanel" aria-labelledby="nurse-treatment-tab">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="nurseHandBook" data-toggle="collapse" data-target="#handBook"
                 aria-expanded="true"
                 aria-controls="nurseHandBook">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Сувилахуйн тусламж үйлчилгээний гарын авлага
                    </button>
                </h5>
            </div>
            <div id="handBook" class="collapse" aria-labelledby="nurseHandBook" data-parent="#accordion">
                <div class="card-body" style="min-width: 100%; overflow-y: auto;">
                    <div class="row" style="display: block; width: 100%">
                        Гарын авлага
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#treatmentPlan"
                 aria-expanded="true"
                 aria-controls="treatmentPlan">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        <table class="myTable">
                            Эмчилгээний төлөвлөгөө
                        </table>
                    </button>
                </h5>
            </div>
            <div id="treatmentPlan" class="collapse show" aria-labelledby="treatmentPlan" data-parent="#accordion">
                <div class="card-body" style="overflow-y: auto;">
                    <div class="row">
                        <div class="col col-6">
                            <table class="table-bordered table-sm myTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th scope="col" width="18%">Эмчилгээ</th>
                                    <th scope="col" width="10%">Давтамж</th>
                                    <th scope="col" width="30%">Хугацаа</th>
                                    <th scope="col" width="10%">Өрөө/Ор</th>
                                    <th scope="col" width="5%">Үйлчлүүлэгч</th>
                                    <th scope="col" width="5%"><i class="fa fa-notes-medical"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                #{list items:treatmentPlans, as:'treatmentPlan'}
                                    #{if treatmentPlan.type == 1}
                                    <tr>
                                        <td>${treatmentPlan.tariff}</td>
                                        <td>${treatmentPlan.repeat}</td>
                                        <td>${treatmentPlan.startDate.format('yyyy/MM/dd')}
                                            -${treatmentPlan.endDate.format('yyyy/MM/dd')}</td>
                                        <td>${treatmentPlan.bedTreatment.bed.room}
                                            /${treatmentPlan.bedTreatment.bed}</td>
                                        <td>${treatmentPlan.bedTreatment.customer}</td>
                                        <td><i class="fa fa-plus" onclick="notes(1, ${treatmentPlan.id})"></i></td>
                                    </tr>
                                    #{/if}
                                #{/list}
                                #{list items:inspectionPlans, as:'inspectionPlan'}
                                <tr>
                                    <td>${inspectionPlan.tariff}</td>
                                    <td>${inspectionPlan.repeat}</td>
                                    <td>${inspectionPlan.startDate.format('yyyy/MM/dd')}
                                        -${inspectionPlan.endDate.format('yyyy/MM/dd')}</td>
                                    <td>Амбулатори</td>
                                    <td>${inspectionPlan.inspection.customer}</td>
                                    <td><i class="fa fa-plus" onclick="notes(2, ${inspectionPlan.id})"></i></td>
                                </tr>
                                #{/list}
                                </tbody>
                            </table>
                        </div>
                        <div class="col col-6">
                            <table class="table-bordered table-sm myTable" style="width: 100%">
                                <thead>
                                <tr>
                                    <th scope="col" width="20%">Эмийн нэр</th>
                                    <th scope="col" width="10%">Давтамж</th>
                                    <th scope="col" width="30%">Хугацаа</th>
                                    <th scope="col" width="10%">Өрөө/Ор</th>
                                    <th scope="col" width="5%">Үйлчлүүлэгч</th>
                                    <th scope="col" width="5%"><i class="fa fa-notes-medical"></i></th>
                                </tr>
                                </thead>
                                <tbody id="">
                                *{#{list items:bedTreatments, as:'bedTreatment'}}*
                                #{list items:treatmentPlans, as:'drug'}
                                    #{if drug.type == 2}
                                    *{#{list items:bedTreatment.getDrugPlans(), as:'drug'}}*
                                    <tr>
                                        <td>${drug.drug}</td>
                                        <td>${drug.repeat}</td>
                                        <td>${drug.startDate.format('yyyy/MM/dd')}
                                            -${drug.endDate.format('yyyy/MM/dd')}</td>
                                        <td>${drug.bedTreatment.bed.room}/${drug.bedTreatment.bed}</td>
                                        <td>${drug.bedTreatment.customer}</td>
                                        <td><i class="fa fa-plus" onclick="usedDrugNote(${drug.id})"></i></td>
                                    </tr>
                                    *{#{/list}}*
                                    #{/if}
                                #{/list}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="patient-information" role="tabpanel" aria-labelledby="nurse-patient-tab">
    <table class="table-bordered table-sm myTable" style="width: 100%">
        <thead>
        <tr>
            <th scope="col" width="20%">Овог</th>
            <th scope="col" width="20%">Нэр</th>
            <th scope="col" width="20%">Регистрийн дугаар</th>
            <th scope="col" width="5%">Хүйс</th>
            <th scope="col" width="5%">ЭМД</th>
            <th scope="col" width="5%">Утас</th>
        </tr>
        </thead>
        <tbody>
        #{list items:customers, as:'customer'}
        <tr>
            <td>${customer.lastName}</td>
            <td>${customer.firstName}</td>
            <td>${customer.registerChar1}${customer.registerChar2}${customer.registerNumber}</td>
            <td>${customer.userSex}</td>
            <td>${customer.insuranceNumber}</td>
            <td>${customer.phone1}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    <div class="row"></div>
    <table class="table-bordered table-sm myTable" style="width: 100%">
        <thead>
        <tr>
            <th scope="col" width="5%" colspan="3" class="text-center"><i class="fa fa-user-md"></i></th>
            <th scope="col" width="20%">Үйлчлүүлэгч</th>
            <th scope="col" width="20%">Хугацаа</th>
            <th scope="col" width="5%">Өрөө</th>
            <th scope="col" width="5%">ор</th>
            <th scope="col" width="20%">Регистрийн дугаар</th>
            <th scope="col" width="5%">Хүйс</th>
            <th scope="col" width="20%">ЭМД</th>
            <th scope="col" width="5%">Утас</th>
        </tr>
        </thead>
        <tbody>
        #{list items:bedTreatments, as:'bedTreatment'}
        <tr>
            <td class="text-center" ><i class="fa fa-play"   onclick="vitalIndices(${bedTreatment.id})"></i></td>
            <td class="text-center"><i class="fa fa-sticky-note" onclick="nurseExamination(${bedTreatment.id})"></i></td>
            <td class="text-center"><i class="fa fa-sticky-note" onclick="dailyNursing(${bedTreatment.id})"></i></td>
            <td>${bedTreatment.customer}</td>
            <td>${bedTreatment.startDate.format("yyyy/MM/dd")}-${bedTreatment.endDate.format("yyyy/MM/dd")}</td>
            <td>${bedTreatment.bed.room}</td>
            <td>${bedTreatment.bed}</td>
            <td>${bedTreatment.customer.registerChar1}${bedTreatment.customer.registerChar2}${bedTreatment.customer.registerNumber}</td>
            <td>${bedTreatment.customer.userSex}</td>
            <td>${bedTreatment.customer.insuranceNumber}</td>
            <td>${bedTreatment.customer.phone1}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
<div class="modal fade" id="bt_note" tabindex="-1" role="dialog" aria-labelledby="bt_note_model_label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="note">

        </div>
    </div>
</div>
<div class="modal fade" id="used_drug_note" tabindex="-1" role="dialog" aria-labelledby="used_drug_note_model_label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="used_drug">

        </div>
    </div>
</div>

<div class="modal fade" id="vital_indices_note" tabindex="-1" role="dialog"
     aria-labelledby="vital_indices_note_model_label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="vital_indices">

        </div>
    </div>
</div>
<script>
    function notes(plan_type, id) {
        var url = "";
        if (plan_type === 1) url = "/tpNotes";
        if (plan_type === 2) url = "/iNotes";
        $('#bt_note').modal('toggle');
        $.ajax({
            type: "POST",
            data: {
                id: id
            },
            url: url,
            success: function (data) {
                $('div#note').html(data);
            }
        });
    }

    function usedDrugNote(drug_id) {
        $('#used_drug_note').modal('toggle');
        $.ajax({
            type: "POST",
            data: {
                id: drug_id
            },
            url: "/userDrugNote",
            success: function (data) {
                $('div#used_drug').html(data);
            }
        });
    }

    function addNotes(note_type, id) {
        var url = "";
        if (note_type === 1) url = "/addTpNotes";
        if (note_type === 2) url = "/addINotes";
        if ($('textarea#nurse_note').val().length > 0) {
            $.ajax({
                type: "POST",
                data: {
                    id: id,
                    note: $('textarea#nurse_note').val()
                },
                url: url,
                success: function (data) {
                    if (data == "success")
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                }
            });
        } else showErrorMessage("Тэмдэглэлээ бичнэ үү!");
    }

    function vitalIndices(id) {
        $('div#vital_indices').html('');
        $('#vital_indices_note').modal('toggle');
        $.ajax({
            type: "POST",
            url: "/vitalIndicesBlank",
            data: {id: id},
            success: function (data) {
                $('div#vital_indices').html(data);
            }
        });
    }

    function nurseExamination(id) {
        $('div#vital_indices').html('');
        $('#vital_indices_note').modal('toggle');
        $.ajax({
            type: "POST",
            url: "/nurseExaminationBlank",
            data: {id: id},
            success: function (data) {
                $('div#vital_indices').html(data);
            }
        });
    }

    function dailyNursing(id) {
        $('div#vital_indices').html('');
        $('#vital_indices_note').modal('toggle');
        $.ajax({
            type: "POST",
            url: "/dailyNursingBlank",
            data: {id: id},
            success: function (data) {
                $('div#vital_indices').html(data);
            }
        });
    }
</script>