<section class="plan cf">
#{list rooms, as:'room'}
    <div class="row form-group">
        <div class="col-sm-3 col-form-label title"><h6>Өрөө-${room}</h6></div>
    <div class="col-sm-9 row">
        #{list room.beds, as:'bed'}
            <input type="radio" name="bed" id="bed${bed.id}" value="${bed.id}"
            ${bed.id==object?.bed?.id?'checked':''} ${bed.isBedFree( bt_id, bed_sdate, bed_edate)?'':'disabled'}>
            <label class="free-label four colz col-2" for="bed${bed.id}" value="${bed.id}">${bed}</label>
        #{/list}
    </div></div>
#{/list}
</section>

<script>
    $(document).ready(function () {
        $($('label.four')).each(function () {
            $(this).on('click', function () {
                bedId = $(this).attr("value");
            });
        });
    });
</script>