<div style="width: 350px;height: auto;font-family: arial;padding: 10px;color: #000000;background-color: white">
    <div style="width: 100%;text-align: center;font-size:14px;font-weight: bold">
        <img src="${inspection.owner.hospital.logo}" style="float: left;height: 50px;margin: 4px"/>
        Энгийн эмийн жор
    *{${inspection.owner.hospital.name}}*
    </div>
*{<div style="width: 100%;text-align: center;font-size: 14;font-weight: bold">Энгийн эмийн жор</div>}*
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td colspan="2" style="text-align: right"> ${nowDate.format("yyyy-MM-dd")}</td>
        </tr>
        <tr>
            <td width="30%">Овог:</td>
            <td width="70%">${inspection.customer.lastName}</td>
        </tr>
        <tr>
            <td>Нэр:</td>
            <td>${inspection.customer.firstName}</td>
        </tr>
        <tr>
            <td>Онош:</td>
            <td>
            #{list items:inspection.inspecDiagnoseRels,as:'rels'}
            ${rels.diagnose}#{if !rels_isFirst}, #{/if}
            #{/list}
            </td>
        </tr>
    </table>
    <table id=printTable border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin-top: 20px">
        <tr>
            <td><b>Эмийн нэр</b></td>
            <td><b>Давтамж</b></td>
            <td><b>Хугацаа</b></td>
            <td><b>Хэрэглэх заавар</b></td>
        </tr>
    #{list inspection.inspectionDrugs,as:'drugRel'}
        <tr>
            <td>${drugRel.drug}</td>
            <td>${drugRel.repeat}</td>
            <td>${drugRel.startDate.format('yyyy-MM-dd')}-${drugRel.endDate.format('yyyy-MM-dd')}</td>
            <td>${drugRel.instruction}</td>
        </tr>
    #{/list}
    </table>
    <div style="text-align: left;">
        <b> Эмчийн нэр: </b> ${inspection.doctor}
        <br>
        <b> Эмнэлэгийн нэр: </b> ${inspection.owner.hospital}
    </div>
    <div id=desc style="width: 100%"></div>
    <div id="qrcode" style="width: 100%;margin-top: 4px;float: left"></div>
</div>
<style>
    table#printTable td {
        border: 1px solid #000000;
        font-size: 13px;
        padding: 1px 2px;
    }

    div#desc p {
        text-align: justify;
        font-size: 12px;
    }
</style>
