<style>
    .card-header {
        padding: 2px !important;
    }

    div#inspectionPlan .bootstrap-select > .btn {
        font-size: 11px;
        padding: 4px 20px;
        width: 120px;
    }

    div#inspectionPlan .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 140px;
    }

    div#inspectionPlan, input.noborder {
        width: 98%;
        border: none;
    }

    div#inspectionDrug .bootstrap-select > .btn {
        font-size: 11px;
        padding: 4px 20px;
    }

    div#inspectionDrug .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 140px;
    }

    div#inspectionDrug, input.noborder {
        width: 98%;
        border: none;
    }
</style>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
             aria-controls="collapseOne">
            <h5 class="mb-0">
                <button class="btn btn-link">
                    Үзлэгийн мэдээлэл
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" style="height: 500px; overflow-y: auto;">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title">Хяналтын дугаар</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="receiptNumber"
                               value="${inspection.receiptNumber}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title">Үзлэгийн төрөл</label>

                    <div class="col-sm-9">
                        <select id="inspectionType" class="form-control selectpicker">
                        #{list items:inspectionTypes,as:'type'}
                            <option value="${type.id}" ${inspection.inspectionType?.id == type.id?'selected':''}>${type}</option>
                        #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title">Зовиур</label>

                    <div class="col-sm-9">
                        <select id="complaint" class="form-control selectpicker" data-live-search="true" multiple
                                title="Сонгох">

                        #{list items:complaints,as:'complaint'}
                            <option value="${complaint.id}" ${inspection.checkComplaint(complaint.id)?'selected':''}>${complaint}</option>
                        #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title"></label>

                    <div class="col-sm-9">
                        <textarea id="complaintNote" placeholder="Үзлэгийн тайлбараа бичнэ үү"
                                  class="form-control form-control-sm">${inspection.complaintNote}</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title">Асуумж</label>

                    <div class="col-sm-9">
                        <textarea id="questionnaireNote"
                                  class="form-control form-control-sm">${inspection.questionnaireNote}</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label title">Үзлэгийн тэмдэглэл</label>

                    <div class="col-sm-7">
                        <textarea id="note" class="form-control form-control-sm">${inspection.note}</textarea>
                    </div>

                    <div class="col-sm-2">
                    #{if inspection.customer.birthDate != null}
                        #{if inspection.customer.getAge()>17}
                            <button type="button" class="btn-outline-primary btn-sm" onclick="loadQuestions(1)"> Том хүн
                            </button>
                        #{/if}
                        #{else }
                            <button type="button" class="btn-outline-primary btn-sm" onclick="loadQuestions(2)"> Хүүхэд
                            </button>
                        #{/else}
                    #{/if}
                    #{else}
                        <button type="button" class="btn-outline-primary btn-sm" onclick="loadQuestions(2)"> Хүүхэд
                        </button>
                        <button type="button" class="btn-outline-primary btn-sm" onclick="loadQuestions(1)">Том хүн
                        </button>
                    #{/else}
                    </div>

                </div>

                <div class="form-group row" id="diagnoseList">
                    <label class="col-sm-3 col-form-label title">Онош</label>

                    <div class="col-sm-8">
                        <select id="diagnose" class="form-control selectpicker" data-live-search="true" multiple
                                title="Сонгох">
                        #{list items:diagnoses,as:'diagnose'}
                            <option
                                    value="${diagnose.diagnose.id}" data-subtext="${diagnose.diagnose.enDescription}"
                            ${inspection.checkDiagnose(diagnose.diagnose.id)?'  selected':''}>${diagnose.diagnose}</option>
                        #{/list}
                        </select>
                    </div>
                    <a href="@{controllers.HospitalDiagnoses.list()}">
                        <button type="button" class="btn-outline-primary btn-sm"><i class="fa fa-search"></i></button>
                    </a>
                </div>

                <button type="button" style="float: right;" class="btn btn-success btn-sm" onclick="saveDiagnose()">
                    Хадгалах
                </button>
                <br>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
             aria-expanded="false" aria-controls="collapseThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                    Эмийн жор
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body" id="inspectionDrug" style="height: 500px; overflow-y: auto;">
                <table class="table-bordered table-sm myTable" style="width: 100%">
                    <tr>
                        <th width="30%">Эмийн нэр</th>
                        <th width="20%">Давтамж</th>
                        <th width="30%">Хугацаа</th>
                        <th width="20%">Заавар</th>
                        <th width="5%" class='text-center' data-toggle='tooltip' data-placement='top'
                            title="Бүх эмийг тооцоонд оруулах">
                            <input id="countAllPrice" type="checkbox"></th>
                        <th width="5%" class='text-center'><i class="fas fa-plus-square" onclick="drugAdd()"></i></th>
                    </tr>
                    <tbody id="drugTable">
                    #{list items:inspection.inspectionDrugs, as: 'insDrug'}
                    <tr id="tr-inspectionDrug-${insDrug_index}">
                        <td>
                        *{class='form-control show-tick' ${inspection.isPaid()?'disabled':''}>}*
                            <select name='drug' class='form-control show-tick'
                                    data-live-search='true' ${inspection.isPaid() && insDrug.shouldPay ?'disabled':''}>
                                #{list items:drugs, as: 'drug'}
                                    <option value="${drug.id}" ${drug.id == insDrug.drug.id? 'selected': ''}> ${drug}</option>
                                #{/list}
                            </select>
                        </td>
                        <td>
                            <select name='repeat'
                                    class='form-control show-tick' ${inspection.isPaid() && insDrug.shouldPay?'disabled':''}>
                            *{<select name='repeat' class='selectpicker show-tick'>}*
                                #{list items:repeats, as: 'repeat'}
                                    <option value="${repeat.id}" ${repeat.id == insDrug.repeat.id? 'selected': ''}> ${repeat} </option>
                                #{/list}
                            </select>
                        </td>
                        <td>
                            <input name='dateRange' type='text' class='form-control form-control-sm'
                                   id='dateRange' ${inspection.isPaid() && insDrug.shouldPay?'disabled':''}
                                   value='${insDrug.startDate.format('yyyy/MM/dd')}-${insDrug.endDate.format("yyyy/MM/dd")}'>
                        </td>
                        <td>
                            <input name='instruction' type='text' class='form-control form-control-sm'
                                   value="${insDrug.instruction}">
                        </td>
                        <td class='text-center'>
                            <input name='countPrice' type='checkbox'
                                   class='form-control form-control-sm'
                            ${inspection.isPaid() && insDrug.shouldPay?'disabled':''} ${insDrug.shouldPay ? 'checked' : ''}
                                   id='countPrice' value=''>
                        </td>
                        <td class='text-center'>
                            #{if !(inspection.isPaid() && insDrug.shouldPay)}
                                <i class="fas fa-minus-square"
                                   onclick="drugRemove('inspectionDrug-${insDrug_index}')"></i>
                            #{/if}
                        </td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>
                <button type="button" style="float: right; margin: 15px 0;" class="btn btn-primary btn-sm"
                        onclick="printDrug(${ins_id})">Хэвлэх
                </button>
                <button type="button" style="float: right; margin: 15px 15px;" class="btn btn-success btn-sm"
                        onclick="saveDrug()">Хадгалах
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
             aria-expanded="false" aria-controls="collapseTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed">
                    Эмчилгээний төлөвлөгөө
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        %{ history = inspection.getPlanHistory()%}
            <div class="card-body" id="inspectionPlan" style="height: 500px; overflow-y: auto;">
                <table class="table-bordered table-sm myTable" style="width: 100%">
                    <tr>
                        <th width="30%">Эмчилгээ</th>
                        <th width="30%">Давтамж</th>
                        <th width="40%">Хугацаа</th>
                        <th width="5%" class='text-center'>

                        #{if history== null || history.payment > 0}<i class="fas fa-plus-square"
                                                                      onclick="planAdd()"></i>#{/if}</th>
                    </tr>
                    <tbody id="planTable">
                    #{list items:inspection.inspectionPlans, as: 'plan'}
                    <tr id="tr-inspectionPlan-${plan_index}">
                        <td>
                            <select name='tariff' class='selectpicker show-tick'>
                                #{list items:tariffs, as: 'tariff'}
                                    <option value="${tariff.id}" ${tariff.id == plan.tariff.id? 'selected': ''}> ${tariff} </option>
                                #{/list}
                            </select>
                        </td>
                        <td>
                            <select name='repeat' class='selectpicker show-tick'>
                                #{list items:repeats, as: 'repeat'}
                                    <option value="${repeat.id}" ${repeat.id == plan.repeat.id? 'selected': ''}> ${repeat} </option>
                                #{/list}
                            </select>
                        </td>
                        <td>
                            <input name='dateRange' type='text' class='form-control form-control-sm' id='dateRange'
                                   value='${plan.endDate.format('yyyy/MM/dd')}-${plan.startDate.format('yyy/MM/dd')}'>
                        </td>
                        <td class='text-center'>
                            #{if history== null || history.payment > 0}
                                <i class="fas fa-minus-square"
                                   onclick="planRemove('inspectionPlan-${plan_index}')"></i>
                            #{/if}
                        </td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>
            #{if history == null || history.payment > 0}
                <button style="float: right; margin: 15px 0;" class="btn btn-success btn-sm" type="button"
                        onclick="savePlan()">
                    Хадгалах
                </button>
            #{/if}
            </div>
        </div>
    </div>
</div>
<div id="questionDialogs"></div>

<input type="hidden" id="object_diagnose">
<input type="hidden" id="object_complaint">
<script>
    var tariffs = "<option value='0'>Сонгох</option>";
    #{list items:tariffs,as:'tariff'}
    tariffs += "<option value=${tariff.id}>${tariff}-${tariff.price}</option>";
    #{/list}

    var repeats = "<option value='0'>Сонгох</option>";
    #{list items:repeats,as:'repeat'}
    repeats += "<option value=${repeat.id}>${repeat}</option>";
    #{/list}

    var drugs = "<option value='0'>Сонгох</option>";
    #{list items:drugs,as:'drug'}
    drugs += "<option value=${drug.id}>${drug}</option>";
    #{/list}

    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $("#countAllPrice").change(function () {
            if ($(this).prop('checked')) {
                $('input[name=countPrice]').each(function () {
                    $(this).prop('checked', 'checked');
                });
            } else {
                $('input[name=countPrice]').each(function () {
                    $(this).prop('checked', '');
                });
            }
        });
        $('.selectpicker').selectpicker();
    #{list items:inspection.inspectionPlans, as: 'plan'}
        $("tr#tr-inspectionPlan-${plan_index} input#dateRange").daterangepicker({
            opens: 'left',
            autoUpdateInput: true,
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        });
    #{/list}
    });

    function saveDiagnose() {
        $('input#object_diagnose').val($('select#diagnose').val() + ",");
        $('input#object_complaint').val($('select#complaint').val() + ",");
        $.ajax({
            type: "POST",
            data: {
                ins_id: ${ins_id},
                receiptNumber: $('input#receiptNumber').val(),
                insType_id: $('select#inspectionType').val(),
                complaintVal: $('input#object_complaint').val(),
                complaintNote: $('textarea#complaintNote').val(),
                questionnaireNote: $('textarea#questionnaireNote').val(),
                diagnoseVal: $('input#object_diagnose').val(),
                note: $('textarea#note').val()
            },
            url: "/saveInspection",
            success: function (data) {
                if (data == "success")
                    showSuccessMessage("Амжилттай хадгалагдлаа");
            }
        });
    }

    function savePlan() {
        var s_tariff = [], s_repeat = [], s_dateRange = [];
        var valid = true;
        if ($('tbody#planTable tr').length == 0) {
            valid = false;
            showErrorMessage("Эмчилгээний мэдээлэл оруулна уу!");
        } else {
            $('tbody#planTable tr').each(function () {
                if ($(this).find('select[name=tariff]').val() == 0) {
                    showErrorMessage("Эмчилгээ сонгоно уу!");
                    valid = false;
                } else if ($(this).find('select[name=repeat]').val() == 0) {
                    showErrorMessage("Давтамж сонгоно уу!");
                    valid = false;
                }
                s_tariff.push($(this).find($(this).find('select[name=tariff]')).val());
                s_repeat.push($(this).find($(this).find('select[name=repeat]')).val());
                s_dateRange.push($(this).find($(this).find('input[name=dateRange]')).val());
            });
        }
        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    ins_id: ${ins_id},
                    tariff: s_tariff,
                    repeat: s_repeat,
                    dateRange: s_dateRange
                },
                url: "/saveInspectionPlan",
                success: function (data) {
                    if (data == "success")
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                }
            });
        }
    }

    function saveDrug() {
        var s_drug = [], s_repeat = [], s_dateRange = [], s_countPrice = [], s_isNew = [], s_instruction = [];
        var valid = true;
        if ($('tbody#drugTable tr').length == 0) {
            valid = false;
            showErrorMessage("Эмийн мэдээлэл оруулна уу!");
        } else {
            $('tbody#drugTable tr').each(function () {
                if ($(this).find('select[name=drug]').val() == 0) {
                    showErrorMessage("Эмийн нэр сонгоно уу!");
                    valid = false;
                } else if ($(this).find('select[name=repeat]').val() == 0) {
                    showErrorMessage("Давтамж сонгоно уу!");
                    valid = false;
                }
                s_drug.push($(this).find($(this).find('select[name=drug]')).val());
                s_repeat.push($(this).find($(this).find('select[name=repeat]')).val());
                s_dateRange.push($(this).find($(this).find('input[name=dateRange]')).val());
                s_instruction.push($(this).find($(this).find('input[name=instruction]')).val());
                s_countPrice.push($(this).find($(this).find('input[name=countPrice]')).prop('checked'));
                s_isNew.push($(this).find($(this).find('input[name=dateRange]')).prop('disabled'));

            });
        }
        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    ins_id: ${ins_id},
                    instruction: s_instruction,
                    drug: s_drug,
                    repeat: s_repeat,
                    dateRange: s_dateRange,
                    countPrice: s_countPrice,
                    isNew: s_isNew
                },
                url: "/saveInspectionDrug",
                success: function (data) {
                    if (data == "success")
                        showSuccessMessage("Амжилттай хадгалагдлаа");
                }
            });
        }
    }
    function printDrug(ins_id) {
        $.ajax({
            type: "POST",
            data: "ins_id=" + ins_id,
            url: "/drugPrint",
            success: function (data) {
                $("div#printCon").html(data);
                var options = {
                    size: 80,
                    text: ins_id
                };
                $('div#printCon').print({
                    globalStyles: false,
                    mediaPrint: true
                });
            }
        });
    }

    function planAdd() {
        var date = new Date();
        var tt = date.getTime();
        $('tbody#planTable').append("<tr id='tr-" + tt + "'><td>" +
                "<select name='tariff' class='selectpicker show-tick'>" + tariffs + "</select></td>" +
                "<td><select name='repeat' class='selectpicker show-tick'>" + repeats + "</select></td>" +
                "<td><input name='dateRange' type='text' class='form-control form-control-sm' id='dateRange' value='${nowDate.format('yyyy/MM/dd')}-${nowDate.format("yyyy/MM/dd")}'></td>" +
                "<td class='text-center'><i class='fa fa-minus-square' onclick=planRemove('" + tt + "')></i></td></tr>");
        $("tr#tr-" + tt + " select").selectpicker('refresh');
        $("tr#tr-" + tt + " input#dateRange").daterangepicker({
            opens: 'left',
            autoUpdateInput: true,
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        });
    }
    function planRemove(tag) {
        $('tr#tr-' + tag).remove();
    }

    function drugAdd() {
        var date = new Date();
        var tt = date.getTime();
        $('tbody#drugTable').append("<tr id='tr-" + tt + "'><td>" +
                "<select name='drug' data-live-search=true'  class='form-control show-tick'> " + drugs + " </select></td>" +
                "<td><select name='repeat' class='form-control show-tick'>" + repeats + "</select></td>" +
                "<td><input name='dateRange' type='text' class='form-control form-control-sm' id='dateRange' value='${nowDate.format('yyyy/MM/dd')}-${nowDate.format("yyyy/MM/dd")}'></td>" +
                "<td><input name='instruction' type='text' class='form-control form-control-sm' id='instruction'></td>" +
                "<td class='text-center' ><input name='countPrice' type='checkbox' class='form-control form-control-sm' id='countPrice' value=''></td>" +
                "<td class='text-center'><i class='fa fa-minus-square' onclick=drugRemove('" + tt + "')></i></td></tr>");
        $("tr#tr-" + tt + " select").selectpicker('refresh');
        $("tr#tr-" + tt + " input#dateRange").daterangepicker({
            opens: 'left',
            autoUpdateInput: true,
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        });
    }
    function loadQuestions(value) {
        $.ajax({
            type: "POST",
            data: {
                ins_id: ${inspection.id},
                value: value
            },
            url: "/loadInsQuestions",
            success: function (data) {
                $("#questionDialogs").html(data);
                $('div#showDialog').modal('show');
            }
        });
    }
    function drugRemove(tag) {
        $('tr#tr-' + tag).remove();
    }
</script>

