<style>
    .wrapper {
        width: 100% ;
        padding-top: 20px;
        height: 100%;
    }

    .wrapper h1, .wrapper h4, .wrapper p, .wrapper pre, .wrapper ul, .wrapper li {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        background: transparent;
    }

    .wrapper h1 {
        vertical-align: middle;
        padding-bottom: 20px;
    }

    #v-nav {
        height: 100%;
        margin: auto;
        color: #000;
        font: 12px/18px sans-serif;
    }

    #v-nav > ul {
        float: left;
        display: block;
        position: relative;
        top: 0;
        border: 1px solid #DDD;
        border-right-width: 0;
        margin: auto 0 !important;
        padding: 0;
    }

    #v-nav > ul > li {
        width: 180px;
        list-style-type: none;
        display: block;
        text-shadow: 0px 1px 1px #F2F1F0;
        font-size: 1.11em;
        position: relative;
        border-right-width: 0;
        border-bottom: 1px solid #DDD;
        margin: auto;
        padding: 10px 15px !important;
        background: whiteSmoke; /* Old browsers */
    }

    #v-nav > ul > li.current {
        color: black;
        border-right: none;
        z-index: 10;
        background: #17a2b8 !important;
        position: relative;
    }

    #v-nav > div.tab-content {
        margin-left: 180px;
        border: 1px solid #ddd;
        background-color: #FFF;
        min-height: 400px;
        position: relative;
        z-index: 9;
        display: none;
        padding: 25px;
    }

    div#profilePicture span img {
        float: left;
        text-align: center;
        cursor: pointer;
        background: white;
        height: 100px;
        width: 95px;
        margin: 0px 0 0 0px;
        border-radius: 3px;
    }

    .card-header {
        padding: 0 !important;
    }
</style>
<section id="wrapper" class="wrapper">
#{if inspection!=null && user.isRoleDoctor() && inspection.endDate!= null && inspection.doctor.id == user.id}
    <div id="v-nav">
        <ul>
            <li tab="" class="current">Ерөнхий мэдээлэл</li>
            <li tab="">Эмчилгээний түүх</li>
        </ul>
        <div class="tab-content" style="display: block">
            <table class="table-bordered table-sm myTable" style="width: 100%">
                <tr>
                    <td rowspan="6" style="vertical-align: middle">
                        <div class="col-sm-8" id="profilePicture">
                            <span><img style="cursor: pointer" src="${customer.profilePicture}"
                                       id="image-avatar"/></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="20%"><b> Овог: </b></td>
                    <td width="30%"> ${customer.lastName} </td>
                    <td width="20%"><b> Нэр: </b></td>
                    <td width="30%"> ${customer.firstName} </td>
                </tr>
                <tr>
                    <td width="20%"><b> Регистр: </b></td>
                    <td width="30%"> ${customer.registerChar1}${customer.registerChar2}${customer.registerNumber} </td>
                    <td width="20%"><b> Хүйс: </b></td>
                    <td width="30%"> ${customer.userSex} </td>
                </tr>
                <tr>
                    <td width="20%"><b> Утас: </b></td>
                    <td width="30%"> ${customer.phone1},${customer.phone2} </td>
                    <td width="20%"><b> Имэйл: </b></td>
                    <td width="30%"> ${customer.email} </td>
                </tr>
                <tr>
                    <td width="20%"><b> Хаяг: </b></td>
                    <td width="30%" colspan="3"> ${customer.address}</td>
                </tr>

            </table>
            <br>
            <button type="button" style="float: right; margin: 0 0" class="btn btn-primary btn-sm"
                    onclick="printInspection(${ins_id})">ХЭВЛЭХ
            </button>
            <button type="button" style="float: right;  margin: 0 15px;" class="btn btn-primary btn-sm"
                    onclick="newInspection()">ҮЗЛЭГ
            </button>

        </div>
        <div class="tab-content">
            <div id="accordion">
                #{list items:inspections, as: 'inspection'}
                    #{if inspection.serviceDate!=null }
                        <div class="card">
                            <div class="card-header" id="headingOne${inspection.id}">
                                <h10 class="mb-0">
                                    <button class="btn btn-link collapsed btn-sm" data-toggle="collapse"
                                            data-target="#collapseOne${inspection.id}" aria-expanded="false"
                                            aria-controls="collapseOne">
                                    ${inspection.serviceDate.format("yyyy-MM-dd HH:mm:ss")}
                                    </button>
                                </h10>
                            </div>

                            <div id="collapseOne${inspection.id}" class="collapse"
                                 aria-labelledby="headingOne${inspection.id}" data-parent="#accordion">
                                <a style="float: right;">
                                    <button type="button" class="btn-outline-primary btn-sm"
                                            onclick="printInspection(${inspection.id})">
                                        <i class="fa fa-print"></i></button>
                                </a>

                                <div class="card-body">
                                    <h6><span class="badge badge-info">ҮЗЛЭГИЙН МЭДЭЭЛЭЛ</span></h6>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Үзлэг:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.tariff.description} /${inspection.sector}/"
                                                   disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Хяналтын дугаар:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.receiptNumber}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Үзлэгийн төрөл:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.inspectionType}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Зовиур:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.complaints}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title"></label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.complaintNote}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Асуумж</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.questionnaireNote}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Үзлэгийн тэмдэглэл:</label>

                                        <div class="col-sm-8">
                                            <textarea type="text" class="form-control form-control-sm"
                                                      id="receiptNumber"
                                                      disabled>${inspection.note}</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label title">Онош:</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control form-control-sm" id="receiptNumber"
                                                   value="${inspection.getDiagnoses()}" disabled>
                                        </div>
                                    </div>

                                    <h6><span class="badge badge-info">ЭМИЙН ЖОР</span></h6>
                                    <table class="table-striped table-sm myTable" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <td width="40%"><b> Эм </b></td>
                                            <td width="20%"><b> Давтамж </b></td>
                                            <td width="20%"><b> Хугацаа </b></td>
                                            <td width="20%"><b> Хэрэглэх заавар </b></td>
                                        </tr>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            #{list items:inspection.inspectionDrugs, as: 'drug'}
                                            <tr>
                                                <td>${drug.drug.drug.sellName}-${drug.drug.drug.dose}</td>
                                                <td>${drug.repeat.name}</td>
                                                <td>${drug.startDate.format('yyyy/MM/dd')}
                                                    - ${drug.endDate.format('yyyy/MM/dd')}</td>
                                                <td>${drug.instruction}</td>
                                            </tr>
                                            #{/list}
                                        </tbody>
                                    </table>

                                    <h6><span class="badge badge-info">ЭМЧИЛГЭЭНИЙ ТӨЛӨВЛӨГӨӨ</span></h6>
                                    <table class="table-striped table-sm myTable" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <td width="40%"><b> Эмчилгээ </b></td>
                                            <td width="20%"><b> Давтамж </b></td>
                                            <td width="40%"><b> Хугацаа </b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            #{list items:inspection.inspectionPlans, as: 'plan'}
                                            <tr>
                                                <td>${plan.tariff.description}</td>
                                                <td>${plan.repeat.name}</td>
                                                <td>${plan.startDate.format('yyyy/MM/dd')}
                                                    - ${plan.endDate.format('yyyy/MM/dd')}</td>
                                            </tr>
                                            #{/list}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    #{/if}
                #{/list}
            </div>
        </div>
    </div>
#{/if}
#{elseif inspection!=null}
    <div id="v-nav">
        <ul>
            #{list items:sectors, as: 'sector'}
                <li tab=""
                    class="${((inspection.sector!=null && sector.id == inspection.sector.id) || (inspection.sector==null && inspection.endDate==null && sector_index==1))?'current':''}">${sector}</li>
            #{/list}
        </ul>
        #{list items:sectors, as: 'sector'}
            <div class="tab-content"
                 style="display: ${(inspection.sector!=null && sector.id == inspection.sector.id) || (inspection.sector==null && inspection.endDate==null && sector_index==1) ? "block" : "none"}">
                <table class="table-bordered table-sm myTable" style="width: 100%">
                    <tr>
                        <th width="10%">№</th>
                        <th width="30%">Эмч</th>
                        <th width="30%">Зэрэг</th>
                        <td width="30%"></td>
                    </tr>
                    #{list items:sector.sectorUserRels,as:'userRel'}
                        <tr class="${ (sector.id == inspection.sector?.id &&  inspection.doctor?.id == userRel.user.id && inspection.endDate!=null )? 'highlight': ''}">
                            <td>${userRel_index}</td>
                            <td>${userRel.user}</td>
                            <td>${userRel.user.doctor.degree}</td>
                            <td>
                                #{if inspection.endDate==null}
                                    <button type="button" class="btn btn-primary btn-xs"
                                            onclick="showTimeDialog(${sector.id}, ${userRel.user.id}, ${})">
                                    ${(sector.id == inspection.sector?.id && inspection.doctor?.id == userRel.user.id && inspection.endDate!=null) ? inspection.startDate.format("HH:mm") +"-"+ inspection.endDate?.format("HH:mm") : "цаг авах"}
                                    </button>
                                #{/if}
                                #{else }
                                    <button type="button" class="btn btn-primary btn-xs"
                                    ${ inspection.histories.get(0).historyLogRels.size()> 0 || !(sector.id == inspection.sector?.id && inspection.doctor?.id == userRel.user.id ) ? 'disabled': ''}
                                            onclick="showTimeDialog(${sector.id}, ${userRel.user.id})">
                                    ${(sector.id == inspection.sector?.id && inspection.doctor?.id == userRel.user.id && inspection.endDate!=null) ? inspection.startDate.format("HH:mm") +"-"+ inspection.endDate?.format("HH:mm") : "цаг авах"}
                                    </button>
                                #{/else}
                            </td>
                        </tr>
                    #{/list}
                </table>
            </div>
        #{/list}
    </div>
#{/elseif}
</section>
<div class="modal fade" id="showTimeModal" tabindex="-1" role="dialog" aria-labelledby="showTimeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 600px">
            <div class="modal-header">
                <h5 class="modal-title">Хэрэглэгч цаг авах</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="registerNumber" class="col-sm-4 col-form-label title req">Огноо: </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="order_date"
                               value="${nowDate.format('yyyy-MM-dd')}" readonly>
                        <input id="doctor" style="display: none">
                        <input id="sector" style="display: none">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="registerNumber" class="col-sm-4 col-form-label title req">Эхлэх цаг: </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="order_start"
                               value="${inspection?.endDate!=null ? inspection.startDate.format('HH:mm') : nowDate.format('HH:mm')}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="registerNumber" class="col-sm-4 col-form-label title req">Дуусах цаг: </label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="order_finish"
                               value="${inspection?.endDate!=null ? inspection.endDate.format('HH:mm') : lateDate.format('HH:mm')}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="registerNumber" class="col-sm-4 col-form-label title req">Үзлэгийн төлбөр: </label>

                    <div class="col-sm-8">

                        <select id="tariff" class="form-control selectpicker" data-live-search="true">
                            <option value="0"> Сонгох</option>
                        #{list items:tariffs,as:'tariff'}
                            <option data-subtext="${tariff}"
                                    value="${tariff.id}" ${inspection?.endDate!=null && tariff.id==inspection.tariff.id ? 'selected'  : ''}> ${tariff.price}
                            </option>
                        #{/list}
                        </select>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
                <button type="button" class="btn btn-primary" onclick="saveInspection()">Хадгалах</button>
            *{#{if inspection?.endDate !=null }}*
            *{<button type="button" class="btn btn-danger" onclick="cancelInspection()">Цуцлах</button>}*
            *{#{/if}}*
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        $('#order_date').datetimepicker({
            lang: 'mn',
            format: "Y-m-d",
            timepicker: false,
            minDate: 'today'
        });
        $('input#order_start').datetimepicker({
            datepicker: false,
            lang: 'mn',
            step: 30,
            format: 'H:i',
            mask: true,
            defaultSelect: true,
            onShow: function (ct) {
                var finishTimeInput = $('input#finishHour');
                if ((typeof finishTimeInput != 'undefined') && finishTimeInput.val() != '__:__' && finishTimeInput.val() != "") {
                    this.setOptions({
                        maxTime: finishTimeInput.val(),
                        value: finishTimeInput.val(),
                    });
                }
            },
            onSelectTime: function () { // hucheer tsag uurchluv -_-
                var date_str = $('input#order_start').val();
                var ttime = date_str.substr(0, 2);
                var tmin = date_str.substr(3, 2);
                if (tmin == '30') {
                    if (ttime == 23) date_str = '00:00';
                    else if (ttime < 9) {
                        ttime = parseInt(ttime) + 1;
                        date_str = '0';
                        date_str = date_str.concat(ttime);
                        date_str = date_str.concat(':00');
                    } else {
                        ttime = parseInt(ttime) + 1;
                        date_str = '';
                        date_str = date_str.concat(ttime);
                        date_str = date_str.concat(':00');
                    }
                } else {
                    date_str = date_str.replace(/:0/g, ":3")
                }
                $('input#order_finish').val(date_str);
            }
        });

        $('input#order_finish').datetimepicker({
            datepicker: false,
            lang: 'mn',
            step: 30,
            format: 'H:i',
            mask: true,
            defaultSelect: true,
            onShow: function (ct) {
                var finishTimeInput = $('input#finishHour');
                if ((typeof finishTimeInput != 'undefined') && finishTimeInput.val() != '__:__' && finishTimeInput.val() != "") {
                    this.setOptions({
                        maxTime: finishTimeInput.val(),
                        value: finishTimeInput.val(),
                    });
                }
            }
        });

        var items = $('#v-nav>ul>li').each(function () {
            $(this).click(function () {
                items.removeClass('current');
                $(this).addClass('current');
                $('#v-nav>div.tab-content').hide().eq(items.index($(this))).show();
                window.location.hash = $(this).attr('tab');
            });
        });
    });

    function showTimeDialog(sector_id, doctor_id) {
        $("input#sector").val(sector_id);
        $("input#doctor").val(doctor_id);
        $('#showTimeModal').modal('toggle');
    }

    function saveInspection() {
        if ($('#tariff').val() != 0) {
            $.ajax({
                type: "POST",
                data: {
                    ins_id: selectedInsId,
                    sector_id: $("input#sector").val(),
                    doctor_id: $("input#doctor").val(),
                    startDate: $("#order_date").val() + " " + $("#order_start").val(),
                    endDate: $("#order_date").val() + " " + $("#order_finish").val(),
                    tarif_id: $('#tariff').val()
                },
                url: "/editInspection",
                success: function (data) {
                    selectedTab = 3;
                    window.location.assign("/register/" + data + "&3");
                }
            });
        } else {
            showErrorMessage("Үзлэгийн төлбөр сонгоно уу");
        }
    }
    // үзлэг цуцлах
    function cancelInspection() {
        if ($('#tariff').val() != 0) {
            $.ajax({
                type: "POST",
                data: {
                    ins_id: selectedInsId,
                },
                url: "/cancelInspection",
                success: function (data) {
                    selectedTab = 3;
                    window.location.assign("/register/" + data + "&1");
                }
            });
        } else {
            showErrorMessage("Үзлэгийн төлбөр сонгоно уу");
        }
    }

    function newInspection() {
        $.ajax({
            type: "POST",
            data: {
                ins_id: selectedInsId,
            },
            url: "/loadInspection",
            success: function (data) {
                $("#home").html(data);
            }
        });

    }

    function printInspection(insId) {
        $.ajax({
            type: "POST",
            data: "insId=" + insId,
            url: "/printInspection",
            success: function (data) {
                $("div#printCon").html(data);
                var options = {
                    size: 210,
                    text: insId
                };
                $('div#printCon').print({
                    globalStyles: false,
                    mediaPrint: true
                });
            }
        });
    }
</script>