<style>
    ul, #surveUL {
        list-style-type: none;
    }

    #surveUL {
        margin: 0;
        padding: 0;
    }

    .box {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
        padding: 5px;
    }

    .box::before {
        content: "\2610";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .check-box::before {
        content: "\2611";
        color: dodgerblue;
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>

<div class="modal fade" id="showDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">${survey?.name}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <ul id="surveUL">
                #{list items:survey.surveyQuestionTypes, as:'questionType'}
                    <li>
                        <div class="box"><span class="badge badge-info" style="font-size: 15px;">${questionType}</span>
                        </div>
                        <ul class="nested">
                            #{list items:questionType.questionRels, as:'question'}
                            %{userAnswer = inspection.surveyInsUserRel?.getUserAnswer(question.id)}%
                            %{userExtraAnswer = inspection.surveyInsUserRel?.getUserExtraAnswer(question.id)}%
                                <li>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label"
                                               for="hi">${question.name}</label>
                                        #{if question.qtype.equals("input")}
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" name="inputAnswer"
                                                       id="${question.id}" value="${userAnswer?userAnswer:""}">
                                            </div>
                                        #{/if}
                                        #{else }
                                            <div class="col-sm-4">
                                                <select class="selectpicker form-control" ${question.qtype} id="hi"
                                                    #{if question.answerCase!=null}
                                                        onchange="checkAnswer(this,'${question.answerCase}', '${question.id}')"#{/if}
                                                        name="selectAnswer"
                                                ${question.qtype}
                                                        title="Сонгох">
                                                    #{list items:question.getAnswers(), as:'answer'}
                                                        <option ${userAnswer?userAnswer.contains(answer)?'selected':'':''}
                                                                id="${question.id}">${answer}</option>
                                                    #{/list}
                                                </select>
                                            </div>
                                        #{/else}
                                        #{if question.extraAnswer!=null || question.answerType!=null}
                                            <div class="col-sm-4" id="div_${question.id}"
                                            *{style="display:none;"}*
                                            ${userExtraAnswer?"":"style='display:none;'"}>
                                                #{if question.answerType.equals("input")}
                                                    <input type="text" class="form-control" name="extraInputAnswer"
                                                           id="${question.id}"
                                                           value="${userExtraAnswer?userExtraAnswer:""}">
                                                #{/if}
                                                #{else }
                                                    <select class="selectpicker form-control" ${question.answerType}
                                                            name="extraSelectAnswer"
                                                    ${question.answerType}
                                                            title="Сонгох">
                                                        #{list items:question.getExtraAnswers(), as:'extraAnswer'}
                                                            <option ${userExtraAnswer?userExtraAnswer.contains(extraAnswer)?'selected':'':''}
                                                                    id="${question.id}">${extraAnswer}</option>
                                                        #{/list}
                                                    </select>
                                                #{/else}
                                            </div>
                                        #{/if}
                                    </div>
                                </li>
                            #{/list}
                        </ul>
                    </li>
                #{/list}
                </ul>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
                <button type="button" class="btn btn-primary" id="save_button">Хадгалах</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').selectpicker();
    });

    var toggler = document.getElementsByClassName("box");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("check-box");
        });
    }

    //get value of selection
    $('#save_button').click(function () {
        var selectedAnswers = $('select[name=selectAnswer]').children('option:selected').map(function (i, e) {
            return e.id + "|" + e.innerText;
        }).get().join(":");

        //get value of input
        var inputAnswers = $('input[name=inputAnswer]').map(function (i, e) {
            return e.id + "|" + $(this).val();
        }).get().join(":");

        var extraSelectedAnswers = $('select[name=extraSelectAnswer]').children('option:selected').map(function (i, e) {
            return e.id + "|" + e.innerText;
        }).get().join(":");

        //get value of input
        var extraInputAnswers = $('input[name=extraInputAnswer]').map(function (i, e) {
            return e.id + "|" + $(this).val();
        }).get().join(":");

        console.log(inputAnswers + " ++++++++++ " + selectedAnswers + " ++++++++++++ " +
                extraInputAnswers + " ++++++++++++++= " + extraSelectedAnswers + "\n");

        $.ajax({
            type: "POST",
            data: {
                insId: ${inspection.id},
                sId: ${survey.id},
                selectedAnswer: selectedAnswers,
                inputAnswer: inputAnswers,
                extraSelectedAnswer: extraSelectedAnswers,
                extraInputAnswer: extraInputAnswers
            },
            url: "/saveSurvey",
            success: function (data) {
                if (data == "success")
                    showSuccessMessage("Амжилттай хадгалагдлаа");
            }
        });

    });

    function checkAnswer(element, answerCase, qId) {
        if ($(element).find(":selected").text() == answerCase)
            $('div#div_' + qId).show();
        else
            $('div#div_' + qId).hide();
    }
</script>