%{count=1;}%
#{list items:inspections,as:'inspection'}
<tr class='${((ttid>0 && inspection.id == ttid)|| (ttid == 0 && timeTable_index == 1))? 'highlight' : ''}'
    onclick="changeUser(${inspection.id})">
    <td>${count}</td>
    <td> ${inspection.customer.getLastnameFirstCharacter()}.${inspection.customer.firstName}
        -${inspection.customer.registerChar1}${inspection.customer.registerChar2}${inspection.customer.registerNumber} </td>
    <td>${inspection.endDate!=null? inspection.startDate.format('HH:mm') +"-"+ inspection.endDate.format('HH:mm')+ "\n"+inspection.sector.name : "цаг аваагүй"}</td>
    <td>
                <span style="color: red">
                    #{if inspection.customer.getBorrow(inspection.hospital.id) > 0}
                        <i class="fas fa-hand-holding-usd fa-lg"></i>
                    #{/if}
                </span>
    </td>
</tr>
%{count++}%
#{/list}
<script>
    #{if inspections.size()>0}
    selectedTtid = ${inspections.get(0).id};
    #{/if}

    $(document).ready(function () {
        loadTab();
    });
</script>