<div class="modal-header">
    <h5 class="modal-title">Сувилагчийн тэмдэглэл</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    #{list items:nurseNotes, as:'note'}
        <div class="form-group row">
            <div class="col-sm-4 col-form-label title">${note.user}</div>
            <div class="col-sm-8">
                <p class="form-control">${note.note}</p>
            </div>
        </div>
    #{/list}

        <div class="form-group row">
            <div class="col-sm-4 col-form-label title">${user}</div>
            <div class="col-sm-8">
            <textarea type="text" rows="2" class="form-control form-control-sm" id="nurse_note"
                      value=""/>
            </div>
        </div>
</div>
<div class="modal-footer" id="footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
    <button type="button" class="btn btn-primary" onclick="addNotes(2, ${notePlan.id})">Хадгалах</button>
</div>