<style>
    .titles {
        font-weight: bold;
    }

    .texts {
        font-size: 14px;
    }

    @page {
        width: 21cm;
        height: 29.7cm;
    }
</style>
<div style="width: auto;height: auto;font-family:arial;;color: #000000;background-color: white">
    <div style="width: 100%;text-align: center;">
        <img src="${inspection.owner.hospital.logo}" style="float: left;height: 100px;"/>

        <h3 style="padding-top: 20px;color: #34e5da;font-weight: bold">ЭМЧИЙН ҮЗЛЭГИЙН МАЯГТ</h3>
        <span style="float: right">${nowDate.format("yyyy-MM-dd HH:MM")}</span>
    </div>
    <table border="0" cellpadding="2" cellspacing="0" style="width: 100%">
        <tr class="texts">
            <td width="15%">Овог нэр:</td>
            <td width="35%">${inspection.customer}</td>
            <td width="5%">Нас:</td>
            <td width="5%">${inspection.customer.getAge()}</td>
            <td width="8%">Хүйс:</td>
            <td width="15%">${inspection.customer.userSex}</td>
            <td width="7%">РД:</td>
            <td width="10%">${inspection.customer.getRegister()}</td>
        </tr>
    </table>
    <hr>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr class="texts">
            <td width="30%"><h5 class="titles">ЗОВИУР:</h5>
            </td>
            <td width="70%"><span>${inspection.getComplaints()}</span></td>
        </tr>
        <tr class="texts">
            <td width="30%"><h5 class="titles">АСУУМЖ:</h5>
            </td>
            <td width="70%"><span>${inspection.questionnaireNote}</span></td>
        </tr>
    </table>
    <h5 class="titles">ҮЗЛЭГИЙН ТЭМДЭГЛЭЛ:</h5>
    <table id=printTable border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin-top: 20px">
        <tr>
            <td><b>Асуулт</b></td>
            <td><b>Хариулт</b></td>
        </tr>
    #{if inspection.surveyInsUserRel !=null}
        #{list inspection.surveyInsUserRel.relAnswers,as:'relAnswer'}
            <tr>
                <td>${relAnswer.questionRel}</td>
                <td>${relAnswer.getAnswer()}
                    #{if relAnswer.extraAnswer}/${relAnswer.getExtraAnswer()}/#{/if}</td>
            </tr>
        #{/list}
    #{/if}
    </table>
    <span class="texts">${inspection.note !=null ? inspection.note:""}</span>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-top: 5px;">
        <tr class="texts">
            <td width="30%"><h5 class="titles">ОНОШ:</h5></td>
            <td width="70%"><span>${inspection.getDiagnoses()}</span></td>
        </tr>
    </table>
    <h5 class="titles">ЭМИЙН ЭМЧИЛГЭЭ:</h5>
#{if inspection.inspectionDrugs.size()>0}
    <table id=printTable border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr>
            <td><b>Эмийн нэр</b></td>
            <td><b>Давтамж</b></td>
            <td><b>Хугацаа</b></td>
            <td><b>Хэрэглэх заавар</b></td>
        </tr>
        #{list inspection.inspectionDrugs,as:'drugRel'}
            <tr>
                <td>${drugRel.drug}</td>
                <td>${drugRel.repeat}</td>
                <td>${drugRel.startDate.format('yyyy-MM-dd')}-${drugRel.endDate.format('yyyy-MM-dd')}</td>
                <td>${drugRel.instruction}</td>
            </tr>
        #{/list}
    </table>
#{/if}
    <hr>
    <div style="text-align: left;" class="texts">
        <b> Эмчийн нэр: </b> ${inspection.doctor}
    </div>
    <div id=desc style="width: 100%"></div>
    <div id="qrcode" style="width: 100%;margin-top: 4px;float: left"></div>
</div>
<style>
    table#printTable td {
        border: 1px solid #000000;
        font-size: 13px;
        padding: 1px 2px;
    }

    div#desc p {
        text-align: justify;
        font-size: 12px;
    }
</style>
