#{extends 'CRUD/layout.html' /}
<link href="/public/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<link href="/public/plugins/datetimepicker/daterangepicker.css" rel="stylesheet">
<script src="/public/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<script src="/public/plugins/datetimepicker/moment.min.js"></script>
<script src="/public/plugins/datetimepicker/daterangepicker.js"></script>

<script type="text/javascript" src="@{'/public/js/validateOnlyNumber.js'}"></script>
<script src="/public/js/jQuery.print.js"></script>

#{set activeClass:1/}
#{alertMessages /}
<style>
    .nav-item-6 {
        min-width: 50%;
    }

    table.myTable th,
    table.myTable td {
        border: 1px solid darkgrey;
        padding: 2px 4px;
        font-size: 12px;
        cursor: pointer;
    }

    table.myTable tbody tr.highlight td {
        background-color: #DDD;
    }

    table.myTable .nowrap {
        white-space: nowrap;
    }

    table.myTable td.inner {
        font-size: 11px;
        padding: 1px 2px;
        line-height: 10px;
    }

    .register {
        height: 36px;
        padding: 7px 12px;
        font-size: 13px;
        line-height: 1.5384616;
        color: #333333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    #myTabContent, #nurseTabContent {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    .btn-xs {
        padding: 2px 5px;
        font-size: 11px;
        line-height: 1.5;
        border-radius: 3px;
    }
</style>

#{if user.isRoleNurse()}
<div class="row">
    <div class="col col-1">Огноо:</div>
    <div class="col col-3"><input id="nurse_treatment_range" class="daterange form-control form-control-sm"
                                  value="${date.format('yyyy/MM/dd')}-${date.format('yyyy/MM/dd')}"></div>
</div>
#{/if}
#{elseif user.isRoleDoctor() || user.isRoleReception()}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-info btn-sm" onclick="userSearchDialog()">Хэрэглэгч нэмэх</button>
    *{<button type="button" class="btn btn-info btn-sm" onclick="removeCustomer()"> Хэрэглэгч хасах</button>}*
        <label>
            <input type="text" class="form-control form-control-sm" id="object_date"
                   value="${date.format('yyyy-MM-dd')}">
        </label>
        <button type="button" class="btn btn-primary btn-sm" onclick="loadUsers()"><i class="fas fa-search"></i>
        </button>
    </div>
</div>
#{/elseif }
<div class="row">
#{if user.isRoleDoctor() || user.isRoleReception()}
    <div class="col-3 col-right-border">
        <table class="table-bordered table-sm myTable" style="width: 100%">
            <thead>
            <tr>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="40%">Нэр</th>
                <th scope="col" width="40%">Цаг</th>
                <th scope="col" width="5%"></th>
            </tr>
            </thead>
            <tbody id="userList">
            %{count=1;}%
                #{list items:inspections,as:'inspection'}
                <tr class='${((ins_id>0 && inspection.id == ins_id)||(ins_id == 0 && inspection_index == 1))? 'highlight' : ''}'
                    onclick="changeUser(${inspection.id})">
                    <td>${count}</td>
                    <td> ${inspection.customer.getLastnameFirstCharacter()}.${inspection.customer.firstName}
                        -${inspection.customer.registerChar1}${inspection.customer.registerChar2}${inspection.customer.registerNumber} </td>
                    <td>${inspection.endDate!=null? inspection.startDate.format('HH:mm') +"-"+ inspection.endDate.format('HH:mm') : "цаг аваагүй"}</td>
                    <td>
                <span style="color: red">
                    #{if inspection.customer.getBorrow(inspection.hospital.id) > 0}
                        <i class="fas fa-hand-holding-usd fa-lg"></i>
                    #{/if}
                </span>
                    </td>
                </tr>
                %{count++}%
                #{/list}
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            #{if hospital.checkModule(1)} <!--Амбулаторийн модултай эсэх-->
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true" onclick="changeTab(1)">Амбулатори</a>
                </li>
            #{/if}
            #{if hospital.checkModule(2)} <!--Хэвтэн эмчлүүлэх модултай эсэх-->
                <li class="nav-item">
                    <a class="nav-link" id="bed-treatment-tab" data-toggle="tab" href="#bed-treatment" role="tab"
                       aria-controls="bed-treatment" aria-selected="false" onclick="bedTreatment()">Хэвтэн эмчлүүлэх</a>
                </li>
            #{/if}
            #{if hospital.hospitalModules.size() > 0} <!--Ямар нэг модуль ашиглаж байгаа үед-->
                <li class="nav-item">
                    <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab"
                       aria-controls="payment" aria-selected="false" onclick="changeTab(3)">Төлбөр</a>
                </li>
            #{/if}
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
            <div class="tab-pane fade" id="bed-treatment" role="tabpanel" aria-labelledby="bed-treatment-tab"></div>
            <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab"></div>
        </div>
    </div>
#{/if}
#{elseif user.isRoleNurse()}
    <div class="col-12">
        <ul class="nav nav-tabs" id="nurseTab" role="tablist">
            <li class="nav-item nav-item-6">
                <a class="nav-link active" id="nurse-treatment-tab" data-toggle="tab" href="#nurse-treatment" role="tab"
                   aria-controls="treatment" aria-selected="true" onclick="">Эмчилгээ</a>
            </li>
            <li class="nav-item nav-item-6">
                <a class="nav-link" id="nurse-patient-tab" data-toggle="tab" href="#patient-information" role="tab"
                   aria-controls="patient-information" aria-selected="false" onclick="">Үйлчлүүлэгчийн мэдээлэл</a>
            </li>
        </ul>
        <div class="tab-content col-right-border" id="nurseTabContent">
            <div class="tab-pane fade" id="nurse-treatment" role="tabpanel" aria-labelledby="nurse-treatment-tab">
                treatment
            </div>
            <div class="tab-pane fade" id="patient-information" role="tabpanel" aria-labelledby="nurse-patient-tab">
                patient info
            </div>
        </div>
    </div>
#{/elseif}
</div>
<div class="modal fade" id="userSearchModal" tabindex="-1" role="dialog" aria-labelledby="userSearchModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Хэрэглэгч нэмэх</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="registerNumber" class="col-sm-4 col-form-label title req">Регистр</label>

                    <div class="col-sm-8">
                        <div id="registerNumber">
                            <select id="object_registerChar1" class="register">
                            %{ if(register!=null){
                                reg1=register.substring(0,1);
                                reg2=register.substring(1,2);
                                }else{
                                reg1="";
                                reg2="";
                                }
                                for(c=0;c<=34;c++){}%
                                <option ${(object && object.registerChar1==controllers.Functions.monCharacter[c])?'selected':''}
                                        value="${controllers.Functions.monCharacter[c]}">${controllers.Functions.monCharacter[c]}</option>
                            %{}}%
                            </select>
                            <select id="object_registerChar2" class="register">
                            %{for(c=0;c<=34;c++){}%
                                <option ${(object && object.registerChar2==controllers.Functions.monCharacter[c])?'selected':''}
                                        value="${controllers.Functions.monCharacter[c]}">${controllers.Functions.monCharacter[c]}</option>
                            %{}}%
                            </select>
                            <input type="text" id="object_register" style="width: 150px;display: inline-block"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="object_firstName" class="col-sm-4 col-form-label title req">Нэр</label>

                    <div class="col-sm-8">
                        <input type="text" id="object_firstName" class="form-control">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="object_phone" class="col-sm-4 col-form-label title req">Утас</label>

                    <div class="col-sm-8">
                        <input type="text" id="object_phone" class="form-control">
                    </div>

                </div>
                <div id="userInfo"></div>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">хаах</button>
                <button type="button" class="btn btn-primary" onclick="searchUser()">хайх</button>
            </div>
        </div>
    </div>
</div>
<div style="display: none">
    <div id="printCon"></div>
</div>
<script>

    var selectedDate = "${date.format('yyyy-MM-dd')}";
    var selectedInsId = ${ins_id};
    var selectedTab = ${tab};
    #{if ins_id == 0 && inspections.size()>0}
    selectedInsId = ${inspections.get(0).id};
    #{/if}

    $(document).ready(function () {

        //register and phone length must be 8
        $('input#object_phone').forceNumericOnlyLength(8);
        $('input#object_register').forceNumericOnlyLength(8);

    #{if user.isRoleNurse()}
        $("input#nurse_treatment_range").daterangepicker({
            opens: 'left',
            autoUpdateInput: false,
            locale: {
                format: 'YYYY/MM/DD',
                applyLabel: 'Сонгох',
                cancelLabel: 'Болих',
                startLabel: 'Эхлэх огноо',
                endLabel: 'Дуусах огноо',
                customRangeLabel: 'Хугацаа',
                daysOfWeek: ['Ня', 'Да', 'Мя', 'Лх', 'Пү', 'Ба', 'Бя'],
                monthNames: ['Нэг', 'Хоёр', 'Гурав', 'Дөрөв', 'Тав', 'Зургаа', 'Долоо', 'Найм', 'Ес', 'Арав', 'Арваннэг', 'Арванхоёр']
            }
        }, function (start, end, label) {
            $('input#nurse_treatment_range').val(start.format('YYYY/MM/DD') + '-' + end.format('YYYY/MM/DD'));
            callNurseTab(start.format('YYYY/MM/DD') + '-' + end.format('YYYY/MM/DD'));
        });
        callNurseTab($('input#nurse_treatment_range').val());
    #{/if}
    #{else }

        loadTab();

        $('.myTable').on('click', 'tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });

        $('#object_date').datetimepicker({
            lang: 'mn',
            format: "Y-m-d",
            maxDate: 'today',
            timepicker: false
        });
    #{/else}
    });

    function loadUsers() {
        selectedDate = $("input#object_date").val();
        $.ajax({
            type: "POST",
            data: {date: selectedDate},
            url: "/loadUsers",
            success: function (data) {
                $("tbody#userList").html(data);
            }
        });
    }

    function changeTab(selTab) {
        selectedTab = selTab;
        loadTab();
    }

    function loadTab() {
        if (selectedTab == 1) {
            loadSector();
        } else if (selectedTab == 2) {
            bedTreatment();
        } else if (selectedTab == 3) {
            loadTariff();
        }
    }

    function changeUser(selIid) {
        selectedInsId = selIid;
        loadTab();
    }

    function userSearchDialog() {
        $('div#userInfo').html('');
        $('input#object_register').val('');
        $('input#object_firstName').val('');
        $('input#object_phone').val('');
        $('#userSearchModal').modal('toggle');
    }

    function searchUser() {
        var isRegisterNull = $('input#object_register').val().length !== 8;
        var isFirstNameNull = $('input#object_firstName').val().length < 2;
        var isPhoneNull = $('input#object_phone').val().length < 6;

        if (isRegisterNull && isFirstNameNull && isPhoneNull) {
            showErrorMessage("Регистр, Нэр, Утасны дугаарын аль нэг утгыг оруулна уу.!");

//        if (($('input#object_register').val().length !== 8 || isNaN(parseInt($('input#object_register').val())))) {
        }
        else {
            $.ajax({
                type: "POST",
                data: {
                    registerChar1: $('select#object_registerChar1').val(),
                    registerChar2: $('select#object_registerChar2').val(),
                    registerNumber: $('input#object_register').val(),
                    firstName: $('input#object_firstName').val(),
                    phone: $('input#object_phone').val()
                },
                url: "/searchUser",
                success: function (data) {
                    $('div#userInfo').html(data);
                }
            });
        }
    }

    function addIns(uid) {
        $.ajax({
            type: "POST",
            data: "uid=" + uid + "&date=" + selectedDate,
            url: "/addIns",
            success: function (data) {
                window.location.assign("/register/" + data + "&1");
            }
        });
    }

    function bedTreatment() {
        $('#myTabContent div').removeClass('show active');
        $('.nav-link').removeClass('active');
        $('a#bed-treatment-tab').addClass('active');
        $('div#bed-treatment').addClass('show active');

        selectedTab = 2;
        if (selectedInsId != 0) {
            $.ajax({
                type: "POST",
                url: "/bedTreatmentBlank",
                data: {ins_id: selectedInsId, ins_date: selectedDate},
                success: function (data) {
                    $('div#bed-treatment').html(data);
                }
            });
        }
    }

    function loadSector() {
        $('#myTabContent div').removeClass('show active');
        $('.nav-link').removeClass('active');
        $('a#home-tab').addClass('active');
        $('div#home').addClass('show active');

        $.ajax({
            type: "POST",
            url: "/showSector",
            data: {
                ins_id: selectedInsId,
            },
            success: function (data) {
                $('div#home').html(data);
            }
        });
    }

    function loadTariff() {
        $('#myTabContent div').removeClass('show active');
        $('.nav-link').removeClass('active');
        $('a#payment-tab').addClass('active');
        $('div#payment').addClass('show active');

        if (selectedInsId != 0) {
            $.ajax({
                type: "POST",
                url: "/showPayment",
                data: {
                    ins_id: selectedInsId
                },
                success: function (data) {
                    $('div#payment').html(data);
                }
            });
        }
    }

    function callNurseTab(date) {
        $.ajax({
            type: "POST",
            url: "/bedTreatmentList",
            data: {dateStr: date},
            success: function (data) {
                $('div#nurseTabContent').html(data);
            }
        });
    }

</script>