<style>
    #myTable th,
    #myTable td {
        border: 1px solid lightgrey;
        padding: 2px 4px;
        font-weight: normal;
    }

    #myTable th {
        font-size: 10px;
    }
    #myTable td {
        font-size: 13px;
    }

</style>
#{if users.size()>0}
<div class="form-group">
    <table class="table table-striped" id="myTable">
        <thead>
        <tr>
            <th scope="col">Эцэг, эхийн нэр</th>
            <th scope="col">Нэр</th>
            <th scope="col">Регистрийн дугаар</th>
            <th scope="col">Утасны дугаар</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            #{list items:users, as:'us'}
            <tr>
                <td>${us.lastName}</td>
                <td>${us.firstName}</td>
                <td>${us.getRegister()}</td>
                <td>${us.phone1},${us.phone2}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="addIns(${us.id})">Үзлэгт нэмэх
                    </button>
                </td>
            </tr>
            #{/list}
        </tbody>
    </table>
</div>

#{/if} #{else }
<div style="text-align:center;font-size: 16px;color: #ff0000">
    Хэрэглэгч олдсонгүй!
</div>
<div style="text-align:center">
    <a href="@{Users.blank(registerChar1,registerChar2, registerNumber, firstName, phone)}" class="btn btn-primary btn-sm"><i
            class="fa fa-plus p-r-5"></i> Хэрэглэгч шинээр бүртгэх</a>
</div>
#{/else}

