#{if log != null}
<div style="width: 300px;height: auto;font-family: arial;padding: 10px;color: #000000;background-color: white">
    <div class="row" style="width: 100%;text-align: center;font-size: 14;font-weight: bold">
        <img src="${log.owner.hospital.logo}" style="float: left;height: 30px;margin: 4px"/>
   ${eName}</div>
    <table id="header" style="width:100%">
        <tr>
            <td>ТТД:</td>
            <td class="left-align">${returnData.registerNo}<td/>
        </tr>
        <tr>
            <td>ДДТД:</td>
            <td>${returnData.billId}<td/>
        </tr>
        <tr>
            <td>Огноо:</td>
            <td>${returnData.date}<td/>
        </tr>
    </table>
    <table id="printTable" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <thead>
        <tr>
            <th>Код</th>
            <th>Барааны нэр</th>
            <th>Үнэ</th>
            <th>Тоо</th>
            <th>Дүн</th>
        </tr>
        </thead>
        #{list returnData.stocks, as:'stock'}
            <tr>
                <td>${stock.code}</td>
                <td>${stock.name}</td>
                <td>${stock.unitPrice}</td>
                <td>${stock.qty}</td>
                <td>${stock.totalAmount}</td>
            </tr>
        #{/list}
        <tr>
            <td colspan="4">нийт</td>
            <td>${returnData.amount}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm4">Сугалааны дугаар</div>
        <div class="col-sm4">${returnData.lottery}</div>
    </div>
    <div class="row">
        <div class="col-sm4">Бүртгүүлэх дүн</div>
        <div class="col-sm4">${returnData.amount}</div>
    </div>
    <input type="hidden" id="qrData" value="${returnData.qrData}"/>
    <div id="desc" style="width: 100%"></div>
    <div id="qrcode" class="center"></div>
</div>
#{/if}
#{elseif billError!=null}
<input id="printed" value="1">
    <script>
        showErrorMessage("${billError.errorCode}"+"-"+"${billError.message}");
        console.log("${billError.errorCode}"+"-"+"${billError.message}");
    </script>
#{/elseif}
<style>
    table#printTable td {
        border: 1px solid #000000;
        font-size: 13px;
        padding: 1px 2px;
    }
    div#desc p {
        text-align: justify;
        font-size: 12px;
    }
    table#header td{
        text-align: justify;
        font-size: 12px;
    }
</style>